﻿/*
    Creación        : 2017-05-10
    Responsable     : JONATHAN VALDERRAMA
*/

/*body {
    -ms-zoom: .9;
    zoom: .9;   
}*/

/*body {
    font-size: 12px !important;  
}*/

body {
    font-size: 12px !important;  
}

.center-container {
    position: relative !important;
}

.center-tag {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0;
    position: absolute !important;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) !important;
}

.swal2-modal .swal2-title {
    font-size: 22px;
}

.swal2-modal .swal2-content {
    font-size: 15px;
}

.message-validate dt {
    text-align: left !important;
}

.message-validate dd {
    font-size: 13px;
    text-align: left !important;
}

.message-validate b,
.message-validate h4 {
    font-weight: 600;
}