﻿@model OficinaVirtual.Entidad.Consulta.clsEmpresasXUsuario

<p class="white mb-4">Si desea realizar alguna consulta o sugerencia, comunícate con nosotros a través de nuestros diferentes centros de comunicación y responderemos a la brevedad posible.</p>
@foreach (var oItem in Model.Elementos)
{
    <div class="contEmpresas">
        <h4 class="white">@oItem.Empresa</h4>
        <p class="white pb-1 mb-0"><span>Dirección: </span> @oItem.Direccion</p>
        <p class="white pb-1 mb-0"><span>Telefono: </span> @oItem.Telefono</p>
        <p class="white pb-1 mb-0"><span>Email: </span> @oItem.EMail </p>
        <div>
            <a href="@(String.IsNullOrWhiteSpace(oItem.UrlFb)?"javascript:void(0);":oItem.UrlFb)" target="_blank" ><img src="~/Content/img/RedSocial/Facebook_32.png" alt="Facebook" /></a>
            <a href="@(String.IsNullOrWhiteSpace(oItem.UrlTw)?"javascript:void(0);":oItem.UrlTw)" target="_blank"><img src="~/Content/img/RedSocial/Twitter_32.png" alt="Twitter" /></a>
            <a href="@(String.IsNullOrWhiteSpace(oItem.UrlYb)?"javascript:void(0);":oItem.UrlYb)" target="_blank"><img src="~/Content/img/RedSocial/YouTube_32.png" alt="YouTube" /></a>
            <a href="@(String.IsNullOrWhiteSpace(oItem.Latitud)?"javascript:void(0);":$"https://www.google.com/maps?q={oItem.Latitud},{oItem.Longitud}")" target="_blank"><img src="~/Content/img/RedSocial/Maps_32.png" alt="Twitter" /></a>
        </div>
    </div>
}
    