﻿@{
    ViewBag.Title = "Atenciones";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    var vs = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] ?? "0";
}

<link href="~/Content/Home/Atenciones.css" rel="stylesheet" />

<div id="divAlert"></div>

<div class="dbBoletines">
    <div class="row">
        <div class="col-12">
            <div class="cardAtenciones"></div>
            <h2 style="margin-top:10px;"> Atenciones</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <label for="txtNroAtencion"> Nro. Atencion:</label>
            <input type="text" id="txtNroAtencion" class="form-control" placeholder="Ingrese nro. atención" />
        </div>
        <div class="col-lg-2 col-md-4">
            <button type="button" id="btnBuscar" class="btn btn-green"> Buscar</button>
        </div>
    </div>
    <div id="divResult" class="row">
        <div class="col-5">
            <h6> Datos de la Atención</h6>
            <div class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
                <table id="tblHeader" class="table">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-7">
            <h6> Eventos de la Atención</h6>
            <div class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
                <table id="tblDetail" class="table">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="divTemplate" class="d-none">
</div>
<script src="~/Scripts/Util.js?vs=@vs"></script>
<script src="~/Scripts/Home/Atenciones.js?vs=@vs"></script>