﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioContactenos

@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
    ViewBag.Title = "Contactenos";
    var vs = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] ?? "0";
}

<script src="~/Scripts/Util.js"></script>
<script type="text/javascript" src="~/Scripts/Home/Contactenos.js?vs=@vs"></script>

<div class="contentContacto">

    @if (sExito == true)
    {
        <div class="alert alert-success" role="alert">
            <div>
                <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>&nbsp;@sMensaje</span>
            </div>
        </div>
    }
    else
    {
        if (sMensaje != "")
        {
            <div class="alert alert-danger" role="alert">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x" aria-hidden="true"></i></span><span>&nbsp;@sMensaje</span>
                </div>
            </div>
        }
    }
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="formContact">
                @using (Html.BeginForm("Contactenos", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "frmContactenos form-horizontal", role = "form" }))
                {
                    <header>
                        <h2 class="lighBlue">Contáctenos</h2>
                    </header>
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            <label for="cmbEmpresa"> Empresa<span class="text-danger">*</span></label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Revisar la parte superior de su recibo, empresa a la que pertenece"><i class="fas fa-info-circle"></i></span>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <select id="cmbEmpresa" name="IdEmpresa" class="form-control" data-value="@(Model?.IdEmpresa)"></select>
                            <div class="field-validation-error text-danger d-none">
                                La empresa es obligatoria.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            <label for="txtIdNroServicio">Suministro:</label>
                            <span class="text-info informa" data-toggle="tooltip" data-placement="top" title="" data-original-title="Revisar la parte superior de su recibo"><i class="fas fa-info-circle"></i></span>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <input type="text" id="txtIdNroServicio" name="IdNroServicio" class="form-control" placeholder="Ingrese Suministro" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            @Html.LabelFor(model => model.correo, new { @class = "control-label" })<span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            @Html.TextBoxFor(model => model.correo, new { @class = "form-control", @placeholder = "Ejemplo@sucorreo.com" })
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            @Html.LabelFor(model => model.asunto, new { @class = "control-label" })<span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            @Html.TextBoxFor(model => model.asunto, new { @class = "form-control", @placeholder = "Escriba su asunto" })
                            @Html.ValidationMessageFor(model => model.asunto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            @Html.LabelFor(model => model.comentario, new { @class = "control-label" })<span class="text-danger">*</span>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            @Html.TextAreaFor(model => model.comentario, new { @class = "form-control", @rows = "6", @placeholder = "Escriba su comentario" })
                            @Html.ValidationMessageFor(model => model.comentario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-3 col-md-12">
                            <label class="control-label">Adjuntar archivo:</label>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <input class="form-control" type="file" name="FileArchivo" accept="image/*,application/pdf,application/msword">
                        </div>
                    </div>
                    <div class="form-group row mt-4 pt-3">
                        <div class="col-lg-4 col-md-6">
                            <label class="control-label">(*) Campos obligatorios</label>
                        </div>
                        <div class="col-lg-3 col-md-3 ml-auto">
                            <button type="submit" class="btn btn-green">Enviar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="infoContact backBlue"></div>
            <script>CargarPartialViewAsync('@(Url.Action("_EmpresasXUsuario", "Home"))', '.infoContact');</script>
        </div>
    </div>
</div>
