﻿@{
    ViewBag.Title = "Lista de interrupciones";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Interrupciones</title>
    <link href="~/Content/Home/Interrupciones.css" rel="stylesheet" />
</head>
<body>
    <div id="divAlert"></div>
    <div class="container page-content">
        <div class="title">
            <h2> Interrupciones</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <label for="txtSuministro"> Nro. Suministro:</label>
                <input type="text" id="txtSuministro" class="form-control" placeholder="Ingrese nro. suministro" />
            </div>
            <div class="col-lg-2 col-md-4">
                <button type="button" id="btnBuscar" class="btn btn-green"> Buscar</button>
            </div>
        </div>
        <div id="divResult">
        </div>
    </div>
    <div id="divTemplate" class="d-none">
        <div id="tmpInterrupcion" class="row">
            <div class="col-12">
                <div class="card border-info mb-2">
                    <div class="card-header"><span>Header</span><span>Fecha</span></div>
                    <div class="card-body text-info">
                        @*<h5 class="card-title">Info card title</h5>*@
                        <p class="card-text">Some text content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Util.js"></script>
    <script src="~/Scripts/Home/Interrupciones.js"></script>
</body>
</html>