﻿@{
    ViewBag.Title = "Lugares de pago";
}

<link rel="stylesheet" href="~/Content/Home/LugaresPago.css?@Util.IdVersion">

<div class="contentLugares">
    <header>
        <h2>Lugares de pago</h2>
        <select id="cmbEmpresa" class="form-control"></select>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <div id="mapa"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Home/LugaresPago.js?@Util.IdVersion"></script>