﻿@{
    ViewBag.Title = "MiContacto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

    <script type="text/javascript">
        //location.href = '@Url.Content("~")';
    </script>
<link rel="stylesheet" href="~/Content/Home/MiBono.css?@Util.IdVersion">

<div class="bn-container">
    <div class="bn-header">
        <span>Consulta si tu suministro perteneció a la lista de beneficiarios del Bono Electricidad 2020</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="frmQuery" class="form-group">
            <div class="row mr-0">
                <div class="col-sm-12">
                    <p>
                        <b>
                            IMPORTANTE:
                            Este Bono Electricidad 2020 caducó el 31.12.2020.
                        </b>
                    </p>
                </div>
            </div>
            <div class="row mr-0">
                <div class="col-sm-12 col-md-7">
                    <label for="txtIdNroServicio"><span>Consultar por:</span></label>
                    <select id="cmbType" class="form-control-sm mb-2">
                        <option value="1" selected>Suministro</option>
                        <option value="2">DNI</option>
                    </select>
                    <input type="text" id="txtIdNroServicio" class="form-control" placeholder="Ingrese Suministro" maxlength="8" required>
                    <div class="invalid-feedback">El suministro es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-5 p-0">
                    <button type="button" id="btnSearch" class="btn btn-green">Consultar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-3">
                    <div id="divResult" class="alert d-none" role="alert">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bn-footer">
    </div>
</div>
<div class="d-none">
    <div id="divHideYes">
        <h4 class="text-center bold">{0}</h4>
        <p class="text-center">Suministro Individual</p><hr>
        <h5 class="text-center bold">El suministro calificó como beneficiario del Bono Electricidad 2020</h5>
        <p class="text-justify">
            El mismo que se aplicó y caducó el 31.12.2020 de acuerdo al DS N° 074-2020.
        </p>
    </div>
    <div id="divHideNo">
        <h4 class="text-center bold">Estimado usuario</h4>
        <h5 class="text-center bold">El suministro no se encontró en la lista de beneficiarios del Bono Electricidad 2020.</h5>
        <p>
            Verifique que el número de suministro o DNI sean los correctos.
        </p>
        <hr>
        <p class="text-justify">
            Para haber sido beneficiario del Bono Electricidad
            <b>debe ser residencial</b> y el promedio de consumo de electricidad debió ser de hasta 125 kW.h al mes, entre el periodo de marzo 2019 y febrero 2020, y no más de 150 kW.h al mes, durante enero y febrero 2020.
        </p>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Home/MiBono.js?@Util.IdVersion"></script>