﻿@{
    ViewBag.Title = "MiContacto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link rel="stylesheet" href="~/Content/Home/MiContacto.css?@Util.IdVersion">

<div class="bn-container">
    <div class="row rowcontainer">
        <div class="col-sm-6">
            <img src="~/Content/img/MiContacto.jpg" class="imgMiContacto" />
        </div>
        <div class="col-sm-6">
            <div class="bn-header">
                <span>Datos de contacto</span>
            </div>
            <div class="bn-Body">
                <div id="divAlert"></div>
                <div id="frmQuery" class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <div id="divResult" class="alert d-none" role="alert"></div>
                        </div>
                    </div>
                </div>
                <div id="frmUpdate" class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="txtIdNroServicio">Suministro<span class="field-required">*</span>:</label>
                            <span class="text-info informa" data-toggle="tooltip" data-placement="top" title="" data-original-title="Revisar la parte superior de su recibo"><i class="fas fa-info-circle"></i></span>
                            <input type="text" id="txtIdNroServicio" class="form-control form-control-sm" placeholder="Ingrese Suministro" required>
                            <div class="invalid-feedback">El Suministro es obligatorio.</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="txtDNI">DNI<span class="field-required">*</span>:</label>
                            <input type="text" id="txtDNI" class="form-control form-control-sm" placeholder="Ingrese su Nro. DNI" required>
                            <div class="invalid-feedback">El DNI es obligatorio.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label for="txtNombres">Nombres<span class="field-required">*</span>:</label>
                            <input type="text" id="txtNombres" class="form-control form-control-sm" placeholder="Ingrese sus Nombres" maxlength="256" required>
                            <div class="invalid-feedback">Los nombres son obligatorios.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="txtApellidoP">Apellido Paterno<span class="field-required">*</span>:</label>
                            <input type="text" id="txtApellidoP" class="form-control form-control-sm" placeholder="Ingrese su Ap. Paterno" required>
                            <div class="invalid-feedback">El apellido paterno es obligatorio.</div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="txtApellidoM">Apellido Materno<span class="field-required">*</span>:</label>
                            <input type="text" id="txtApellidoM" class="form-control form-control-sm" placeholder="Ingrese su Ap. Materno" required>
                            <div class="invalid-feedback">El apellido materno es obligatorio.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <label for="txtPhone">Celular<span class="field-required">*</span>:</label>
                            <input type="tel" id="txtPhone" class="form-control form-control-sm" placeholder="Ingrese su Celular" maxlength="9" required>
                            <span class="invalid-feedback">Celular incompleto</span>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="">Es titular del suministro<span class="field-required">*</span>:</label>
                            <div class="row" style="padding-left: 2rem;">
                                <div class="col-sm-5 col-md-3">
                                    <input id="rdTitularSi" class="form-check-input" type="radio" name="rdTitular" value="1">
                                    <label class="form-check-label" for="rdTitularSi">Si</label>
                                </div>
                                <div class="col-sm-5 col-md-3">
                                    <input id="rdTitularNo" class="form-check-input" type="radio" name="rdTitular" value="0">
                                    <label class="form-check-label" for="rdTitularNo">No</label>
                                </div>
                                <span class="invalid-feedback">Selecciona una opción.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label for="txtEmail" class="control-label"> Email</label>
                            <input type="email" id="txtEmail" class="form-control form-control-sm" pattern="[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[A-Za-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?\.)+[A-Za-z0-9](?:[A-Za-z0-9-]*[A-Za-z0-9])?" />
                            <div class="invalid-feedback">El Email es incorrecto.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center mt-4 mb-4">
                                <div class="form-check form-check-inline">
                                    <input id="chkTerminos" class="form-check-input" type="checkbox" required>
                                    <label for="chkTerminos" class="form-check-label">Acepto las políticas de los <a href="~/Home/TerminosMiContacto" target="_blank">términos y condiciones</a></label>
                                </div>
                                <div class="invalid-feedback">Debe de aceptar los términos y condiciones.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4 offset-md-4">
                            <button type="button" id="btnCancel" class="btn btn-outline-secondary">Cancelar</button>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <button type="button" id="btnSave" class="btn btn-success">Registrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bn-footer">
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Home/MiContacto.js?@Util.IdVersion"></script>