﻿
@{
    ViewBag.Title = "TerminosMiContacto";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<style>
    .present {
        margin: 5px 20px;
    }

    p {
        text-align: justify;
    }

    @@media only screen and (max-width: 700px) {
        .headerDz, .mainHeader {
            display: none !important;
        }

        .present {
            margin: 5px 0px;
        }
    }
</style>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>1. CONDICIONES GENERALES</h4>
            </div>
            <div class="card-body">
                <p>
                    HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA, certifican la máxima reserva y protección de los datos personales que los Usuarios y/o Clientes ingresen en el sitio web (<a href="https://www.distriluz.com.pe">https://www.distriluz.com.pe</a>) y en el aplicativo móvil de su propiedad.
                </p>
                <p>
                    Este pliego detalla la “Política de Privacidad” que regula el tratamiento de los datos personales que los Usuario y/o Clientes proporcionan en nuestra Web y aplicativo móvil.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>2. OBJETIVO Y FINALIDAD.</h4>
            </div>
            <div class="card-body">
                <p>
                    En HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA, somos conscientes de la elevada consideración que tiene la privacidad de nuestros clientes y de todas aquellas personas que se interesan por nuestros productos y servicios. Siendo consecuentes con esta consideración tenemos el compromiso de respetar su privacidad y proteger la confidencialidad de su información privada y datos personales. Y es por ello que el objetivo de esta política de privacidad es dar a conocer a nuestros Usuarios la manera en que se recogen, se tratan y se protegen los datos personales que a través de Internet son introducidos en la Web y en la aplicación móvil a su disposición. La información personal privada no incluye información que está disponible a través de fuentes accesibles al público. Se entiende por tales los medios de comunicación electrónica, óptica y de otra tecnología concebidos para facilitar información al público y abiertos a la consulta general, las guías telefónicas, los diarios y revistas, los medios de comunicación social, las listas profesionales, los repertorios de jurisprudencia anonimizados, los Registros Públicos administrados por la Superintendencia Nacional de Registros Públicos así como todo otro registro o banco de datos calificado como público conforme a ley, y la información que ostentan las entidades de la Administración Pública y que deba ser entregada a los administrados en aplicación de la Ley Nº 27806 - Ley de Transparencia y Acceso a la Información Pública. La finalidad de la Web y de la aplicación móvil es dar a conocer los servicios que ofrece y los productos que brindan HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., y dar información sobre los mismos, así como facilitar otro tipo de información que creamos que puede ser de interés y crear un espacio de comunicación para los Usuarios.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>3. LEGISLACIÓN.</h4>
            </div>
            <div class="card-body">
                <p>
                    Esta política está regulada por la legislación peruana y en particular por: • Ley N° 29733 – Ley de Protección de Datos Personales. • Decreto Supremo N° 003-2013-JUS, que aprueba el Reglamento de la Ley N° 29733. • Directiva de Seguridad de la Información, aprobada por la Resolución Directoral N° 019-2013-JUS/DGPDP. De acuerdo con la Ley N° 29733 – Ley de Protección de Datos Personales y su Reglamento aprobado por el Decreto Supremo N° 003-2013-JUS, se entiende por datos personales toda información numérica, alfabética, gráfica, fotográfica, acústica, sobre hábitos personales, o de cualquier otro tipo concerniente a una persona natural que la identifica o la hace identificable a través de medios que pueden ser razonablemente utilizados. Asimismo, se entiende por tratamiento de datos personales a cualquier operación o procedimiento técnico, automatizado o no, que permite la recopilación, registro, organización, almacenamiento, conservación, elaboración, modificación, extracción, consulta, utilización, bloqueo, supresión, comunicación por transferencia o por difusión o cualquier otra forma de procesamiento que facilite el acceso, correlación o interconexión de los datos personales. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., desarrollan su política de tratamiento de datos personales en atención a los principios rectores establecidos en la Ley Nº 29733 - Ley de Protección de Datos Personales y por lo tanto: (i) De acuerdo al principio de legalidad, rechaza la recopilación de los datos personales de nuestros Usuario por medios fraudulentos, desleales o ilícitos. (ii) Conforme al principio de consentimiento, en el tratamiento de los datos personales de nuestros Usuarios mediará su consentimiento. (iii) Los datos personales de nuestros Usuario se recopilarán para una finalidad determinada, explícita y lícita, y no se extenderá a otra finalidad que no haya sido la establecida de manera inequívoca como tal al momento de su recopilación, excluyendo los casos de actividades de valor histórico, estadístico o científico cuando se utilice un procedimiento de disociación o anonimización. (iv) Todo tratamiento de datos personales de nuestros Usuarios será adecuado, relevante y no excesivo a la finalidad para la que estos hubiesen sido recopilados. (v) Los datos personales que vayan a ser tratados serán veraces, exactos y, en la medida de lo posible, actualizados, necesarios, pertinentes y adecuados respecto de la finalidad para la que fueron recopilados. Se conservarán de forma tal que se garantice su seguridad y solo por el tiempo necesario para cumplir con la finalidad del tratamiento. (vi) HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., y, en su caso, los encargados de tratamiento, adoptan las medidas técnicas, organizativas y legales necesarias para garantizar la seguridad y confidencialidad de los datos personales. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., cuentan con las medidas de seguridad apropiadas y acordes con el tratamiento que se vaya a efectuar y con la categoría de datos personales de que se trate. (vii) HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., informan a sus Usuarios que pueden ejercer sus derechos contenidos en el derecho constitucional a la protección de datos personales en sede administrativa ante la Autoridad Nacional de Protección de Datos y en sede jurisdiccional ante el Poder Judicial a los efectos del inicio del correspondiente proceso de habeas data. (viii) HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., garantizan el nivel adecuado de protección de los datos personales de sus Usuarios para el flujo transfronterizo de datos personales, con un mínimo de protección equiparable a lo previsto por la Ley Nº 29733 o por los estándares internacionales de la materia.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>4. INFORMACIÓN.</h4>
            </div>
            <div class="card-body">
                <p>
                    Se informa a los Usuarios que los datos personales que introduzcan en la Web y en la aplicación móvil serán tratados por HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., con la finalidad de poder identificarlos y contactarlos para así poder gestionar la “Atención del Cliente”, lo cual incluye brindar información referida a la facturación y funcionamiento de los servicios que ofrece y la atención de los reclamos presentados. El tratamiento de los datos personales recopilados se regirá por lo expuesto en esta Política de Privacidad.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>5. CALIDAD DE LOS DATOS PERSONALES</h4>
            </div>
            <div class="card-body">
                <p>
                    Los datos personales solicitados a los Usuarios, son datos básicos de contacto y son adecuados, pertinentes y no excesivos en relación con la finalidad para los que se recogen. Los datos personales a los que HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., tendrán acceso serán aquellos que el Usuario facilite voluntariamente rellenando los formularios puestos a tal efecto. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., les proporciona a sus Usuarios los recursos técnicos adecuados para que tomen conocimiento de la presente Política de Privacidad y de cualquier otra información que pueda ser relevante; constituyendo el ingreso de Datos Personales o información confidencial en el sitio Web, la manifestación expresa de su consentimiento a la presente Política de Privacidad. Los datos personales facilitados por los Usuarios tienen que ser exactos y correctos de forma que respondan con veracidad a su situación actual. En caso contrario estos datos serán cancelados. Los datos personales facilitados por los Usuarios son recopilados para el cumplimiento de las finalidades expuestas en este documento y no se usarán para otras finalidades incompatibles con las especificadas. Los datos personales serán cancelados cuando hayan dejado de ser necesarios para las finalidades para las cuales han sido recopilados. Sin embargo, se conservarán durante el tiempo en qué pueda exigirse algún tipo de responsabilidad a HIDRANDINA S.A., derivada de esta relación con los Usuarios.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>6. FINALIDAD DE LOS TRATAMIENTOS DE LA INFORMACIÓN PERSONAL.</h4>
            </div>
            <div class="card-body">
                <p>
                    Las finalidades de tratamiento de los datos personales que los Usuarios introducen en los diferentes formularios de la Web y de la aplicación móvil son para poder dar contestación a las consultas, entrega de recibos, peticiones, comunicación de cortes programados, reclamos y otro tipo de información que nos realicen a través de éstos y poder facilitar a posteriori cualquier información que HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., crean que puede ser de su interés. Asimismo, los datos personales proporcionados en el proceso de compra de suministros y productos y en el registro de la Web y de la aplicación móvil serán tratados para el desarrollo, cumplimiento y ejecución del contrato de compraventa del suministro o producto adquirido, para proporcionar al Usuario información acerca de los productos de HIDRANDINA S.A., o de otras empresas del grupo  Distriluz, cuyas actividades se relacionan con el servicio eléctrico y productos relacionados a este), incluyendo, en relación con dichos productos, el envío de comunicación electrónica equivalente como SMS, mails y llamadas telefónicas. En caso el Usuario no desee recibir las comunicaciones comerciales señaladas, podrá comunicarlo en cualquier momento HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>7. TRATAMIENTO DE DATOS PERSONALES Y CONSENTIMIENTO</h4>
            </div>
            <div class="card-body">
                <p>
                    Los datos personales facilitados por los Usuarios se almacenarán en los bancos de datos que forman parte del sistema de información de HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., y serán tratados para poder llevar a cabo las finalidades expuestas anteriormente. Los bancos de datos que contienen datos personales están inscritos en el Registro de Protección de Datos de la Autoridad de Protección de Datos Personales. Los datos personales que faciliten los Usuarios sólo podrán ser conocidos y manejados por el personal de HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., que necesite conocer dicha información para poder contestar las solicitudes de los Usuario. Estos datos personales serán tratados de forma leal y lícita y no serán utilizados para otras finalidades incompatibles con las especificadas.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>8. COMUNICACIÓN DE DATOS PERSONALES</h4>
            </div>
            <div class="card-body">
                <p>
                    HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., respetan la privacidad de sus Usuarios, no compartiremos su información con terceros si usted no desea expresamente que lo hagamos, salvo en el caso de empresas relacionadas al grupo empresarial al que pertenecemos y a empresas subcontratadas para garantizar el servicio y la atención al cliente. Informamos a los Usuarios que los datos personales que nos faciliten no serán comunicados por transferencia a ningún tercero que no sea parte del Grupo Distriluz., o empresas subcontratadas para garantizar el servicio eléctrico y la atención al cliente. Sí que es conveniente que sepan los Usuarios que sus datos personales podrán ser comunicados a las entidades administrativas, autoridades judiciales y/o policiales, siempre y cuando esté establecido por Ley.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>9. CONFIDENCIALIDAD DE LOS DATOS PERSONALES</h4>
            </div>
            <div class="card-body">
                <p>
                    Los datos personales facilitados por los Usuarios serán tratados con total confidencialidad. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., se comprometen a guardar secreto profesional indefinidamente respecto de los mismos y garantiza el deber de guardarlos adoptando todas las medidas de seguridad necesarias.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>10. SEGURIDAD DE LOS DATOS PERSONALES</h4>
            </div>
            <div class="card-body">
                <p>
                    En cumplimiento de la normativa vigente HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., ha adoptado las medidas técnicas de seguridad y confidencialidad apropiadas a la categoría de los datos personales, necesarias para mantener el nivel de seguridad requerido con el objetivo de evitar la alteración, pérdida o el tratamiento o accesos no autorizados que puedan afectar a la integridad, confidencialidad y disponibilidad de la información. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., tienen implementadas todas las medidas de índole técnica y organizativa necesarias para garantizar la seguridad de los datos personales y evitar su alteración, pérdida y tratamiento y/o acceso no autorizado, teniendo en cuenta el estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que están expuestos, ya sea que provengan de la acción humana, del medio físico o natural, tal y como establece la legislación peruana vigente de protección de datos personales. La empresa también tiene implementadas medidas de seguridad adicionales para reforzar la confidencialidad e integridad de la información y continuamente mantiene la supervisión, control y evaluación de los procesos para asegurar la privacidad de los datos personales. Sin embargo, la transmisión de información mediante las redes de comunicación y de Internet no es totalmente segura; por eso, y a pesar de que HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., realizarán sus mejores esfuerzos para proteger los datos personales, no puede garantizar la seguridad de los mismos durante el tránsito hasta el sitio Web o la aplicación móvil. En tal sentido, toda la información que los Usuarios proporcionen, se enviará por su cuenta y riesgo. Es por ello que HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., recomiendan la máxima diligencia a sus Usuarios cuando trasladen a terceros o publiquen información personal para evitar poner en riesgo sus datos personales, eludiendo HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., toda responsabilidad en caso de sustracciones, modificaciones o pérdidas de datos ilícitas.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>11. EJERCICIO DE DERECHOS</h4>
            </div>
            <div class="card-body">
                <p>
                    Los Usuarios que hayan facilitado sus datos personales a HIDRANDINA S.A., pueden dirigirse a esta, con el fin de poder ejercer sus derechos de información, de acceso, de actualización, inclusión, rectificación y supresión, de impedir el suministro de sus datos personales, de oposición al tratamiento o de tratamiento objetivo de los datos, en los términos recogidos en la legislación peruana vigente. Para poder ejercer estos derechos, los Usuarios pueden dirigirse, por cualquier medio que permita acreditar el envío y la recepción de la solicitud a las direcciones de las oficinas comerciales de HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA.,  con la referencia “Protección de Datos Personales”, especificando sus datos, acreditando su identidad y los motivos de su solicitud.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>12. MENORES DE EDAD</h4>
            </div>
            <div class="card-body">
                <p>
                    HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., entienden la importancia de proteger la privacidad de los niños, especialmente en un entorno online. Por este motivo, el sitio Web y la aplicación móvil no están diseñados ni dirigidos a menores de 18 años. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., no llevarán a cabo voluntariamente el tratamiento de datos personales relativos a menores de edad. En el supuesto de que se tenga conocimiento que los datos personales recogidos corresponden a un menor de edad sin autorización, se adoptarán las medidas oportunas para eliminar estos datos tan pronto como sea posible.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>13. CONSENTIMIENTO</h4>
            </div>
            <div class="card-body">
                <p>
                    Al aceptar esta Política de Privacidad los Usuarios están de acuerdo con todos los aspectos expuestos en este documento y nos autorizan a tratar sus datos de carácter personal para las finalidades expuestas anteriormente.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>14. VIGENCIA Y MODIFICACIÓN DE LA PRESENTE POLÍTICA DE PRIVACIDAD</h4>
            </div>
            <div class="card-body">
                <p>
                    La Política de privacidad para Web y aplicaciones móviles de HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., ha sido actualizada el mes de julio 2020. HIDRANDINA S.A. ELECTROCENTRO, ENOSA Y ENSA., se reservan el derecho a modificar su Política de Privacidad para Web y aplicaciones móviles en el supuesto de que exista un cambio en la legislación vigente, doctrinal, jurisprudencial o por criterios propios empresariales. Si se introdujera algún cambio en esta Política, el nuevo texto se publicará en este mismo Web y en la aplicación móvil. Se recomienda a los Usuarios que accedan periódicamente a esta Política de privacidad que encontraran en este mismo Web y en la aplicación móvil.
                </p>
            </div>
        </div>
    </div>
</div>
