﻿@{
    ViewBag.Title = "TerminosCondiciones";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<style>
    .present {
        margin: 5px 20px;
    }

    p {
        text-align: justify;
    }

    @@media only screen and (max-width: 700px) {
        .headerDz, .mainHeader {
            display: none !important;
        }

        .present {
            margin: 5px 0px;
        }
    }
</style>

<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>TÉRMINOS Y CONDICIONES DE USO DEL APLICATIVO OFICINA VIRTUAL CONDICIONES GENERALES</h4>
            </div>
            <div class="card-body">
                <p>
                    1.- El Aplicativo Oficina Virtual permite a sus usuarios obtener servicios de forma gratuita y desde cualquier equipo móvil ( tablet, teléfono móvil o algún otro dispositivo electrónico equivalente) previo descargo del mismo desde App Store para dispositivos IOS o desde la plataforma Play Store para dispositivos Android o ingresando a la página web www.distriluz.com.pe.
                </p>
                <p>
                    2.- El Aplicativo Oficina Virtual es para uso de los clientes/usuarios (USUARIO) con legítimo interés de las empresas del grupo DISTRILUZ conformadas por: Electronoroeste S.A., Electronorte S.A., Hidrandina S.A. y Electrocentro S.A.
                </p>
                <p>
                    3.- El USUARIO declara y garantiza estar apto y tener capacidad legal para aceptar los presentes Términos y Condiciones de Uso, y que toda la información que proporcione cualquiera de las empresas del Grupo DISTRILUZ en el marco de los servicios que brinda, bajo cualquier forma, será exacta, verdadera, completa y correcta; liberando de cualquier responsabilidad sobre el particular a cualquiera de las empresas del Grupo DISTRILUZ.
                </p>
                <p>
                    4.- La afiliación otorgará una contraseña única e intransferible, la misma que será utilizada por el USUARIO para acceder a los servicios que se brindarán en el Aplicativo de la Oficina Virtual. El USUARIO será el único responsable de la conservación y confidencialidad de su contraseña y se compromete a no comunicarla bajo ninguna circunstancia a otra persona. La contraseña es única e intransferible y será requerida cada vez que se desee acceder al Aplicativo de la Oficina Virtual y así tener acceso a información relacionada a consultas de sus suministros u otros registros de su interés, de esta manera su información estará protegida.
                </p>
                <p>
                    5.- El acceso al Aplicativo Oficina Virtual desde cualquier dispositivo implica el consumo de datos de un proveedor de servicios de telecomunicación, los mismos que serán aplicados de acuerdo a su plan de datos contratado.
                </p>
                <p>
                    6.- El uso del Aplicativo Oficina Virtual constituye la aceptación de los presentes Términos y Condiciones de Uso, siendo que el Grupo DISTRILUZ se reserva el derecho exclusivo a realizar los cambios que estime conveniente por lo que su uso continuo significa la aceptación del USUARIO a dichos cambios.
                </p>
                <p>
                    7.- Mediante el Aplicativo Oficina Virtual, el USUARIO podrá acceder a los siguientes servicios básicos:
                    - Estado de Cuenta (visualización de conceptos facturados, consumos, historial de pagos, pagos a través de VISA)
                    - Historial de atenciones
                    - Recibo Digital
                    -Lista de Cortes (Programados, no programados, Por Deuda, Por solicitud)
                    - Registro de Reclamos
                    - Lugares de pago (con georeferenciación).
                </p>
                <p>
                    8.- Esta relación de servicios podrá ser modificada en cualquier momento por el Grupo DISTRILUZ, aceptando el USUARIO dicha modificación.
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>OBLIGACIONES DE LOS USUARIOS, POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES</h4>
            </div>
            <div class="card-body">
                <p>
                    1.- El USUARIO conoce y acepta que la utilización del Aplicativo Oficina Virtual, implican su aceptación plena y sin reservas de los Términos y Condiciones de Uso vigentes al momento que el USUARIO acceda a los mismos.
                </p>
                <p>
                    2.- En caso el USUARIO no esté de acuerdo con los presentes Términos y Condiciones de Uso, deberá abstenerse de utilizar el Aplicativo Oficina Virtual y sus respectivas actualizaciones, toda vez que su utilización implica manifestación de conformidad del USUARIO con dichos términos y condiciones.
                </p>
                <p>
                    3.- El USUARIO acepta y da consentimiento libre, previo, expreso, inequívoco e informado para que el Grupo DISTRILUZ sea el único responsable del tratamiento, uso y almacenamiento de i) todo tipo de información brindada por el USUARIO, incluyendo sus datos personales; y, ii) toda información que se derive de la utilización de la Aplicación por el USUARIO.
                </p>
                <p>
                    4.- Esta aceptación además tiene como finalidad el envío de información comercial al USUARIO.
                </p>
                <p>
                    5.- El Grupo DISTRILUZ garantiza el derecho fundamental a la protección de datos personales facilitados por el USUARIO, a través de su adecuado tratamiento, en un marco de respeto de los derechos fundamentales reconocidos, de acuerdo con la Constitución Política del Perú, la Ley de Protección de Datos Personales, Ley N° 29733, y su Reglamento, Decreto Supremo N° 003-2013-JUS, así como las normas legales aplicables.
                </p>
                <p>
                    6.- El Grupo DISTRILUZ administrará y tratará los datos personales para las finalidades estipuladas en los presentes términos y condiciones, que son estrictamente necesarias para la utilización del Aplicativo Oficina Virtual.
                </p>
                <p>
                    7.- El USUARIO conoce que puede ejercer, de acuerdo a la legislación vigente, los derechos de información, acceso, actualización, inclusión, rectificación, supresión y oposición sobre sus datos personales, enviando una comunicación a través de la opción CONTACTENOS.
                </p>
                <p>
                    8.- El USUARIO garantiza la veracidad y autenticidad de toda la información brindada durante el uso del Aplicativo Oficina Virtual. En ese sentido, el USUARIO será el único responsable de las manifestaciones falsas e inexactas que realice y de los daños y perjuicios ocasionados a cualquiera de las empresas del Grupo DISTRILUZ o a terceros, en caso hubieren.
                </p>
                <p>
                    9.- El USUARIO conoce que a fin de utilizar el Aplicativo Oficina Virtual será el único responsable del costo de uso de su servicio de Internet y/o plan de datos.
                </p>
                <p>
                    10.- El USUARIO será el único responsable de la conservación y confidencialidad de su contraseña y se compromete a no comunicarla bajo ninguna circunstancia a ningún otro usuario; así como, a no utilizar la cuenta, el nombre o la contraseña de ningún otro usuario. Las empresas del Grupo DISTRILUZ Quedan excluidas de cualquier responsabilidad por el uso indebido o cualquier acto que pueda perjudicar al titular del servicio o a algún tercero que se vea afectado directa o indirectamente como consecuencia de lo establecido en el presente párrafo.
                </p>
                <p>
                    11.- El Grupo DISTRILUZ garantiza que los datos ingresados a través del Aplicativo Oficina Virtual permanecen confidenciales e inalterables.
                </p>
                <p>
                    12.- El USUARIO acepta que la empresa del Grupo DISTRILUZ a la cual tenga un suministro contratado pueda enviarle notificaciones sobre cortes de energía programados, fechas de pago, corte y reconexión del servicio por deuda, entre otros, a través de notificaciones Push o correo electrónico registrado en el Aplicativo Oficina Virtual.
                </p>
                <p>
                    13.- El Grupo DISTRILUZ no garantiza el acceso y uso continuado e ininterrumpido al Aplicativo Oficina Virtual, en tanto que el sistema puede eventualmente no estar disponible a causa de dificultades técnicas, fallas de internet o por cualquier otra causa ajena al Grupo DISTRILUZ. Sin perjuicio de ello, se procurará restablecer el funcionamiento con la mayor celeridad posible, sin que por ello pueda imputársele algún tipo de responsabilidad alguna.
                </p>
                <p>
                    14.- El USUARIO se obliga a no modificar, reproducir, copiar, realizar ingeniería inversa, revertir la ingeniería, rediseñar, descompilar, adaptar, traducir y/o preparar trabajos derivados del Aplicativo Oficina Virtual, en tanto éstos se encuentran protegidos por la Decisión 486 de la Comunidad Andina, el Decreto Legislativo 1075, la Decisión 351 de la Comunidad Andina, el Decreto legislativo 822 y demás Tratados internacionales y normativa aplicable.
                </p>
                <p>
                    15.- El USUARIO acepta y reconoce que cualquiera de las empresas del Grupo DISTRILUZ podrá efectuar las acciones legales correspondientes para requerir y asegurar el cumplimiento de las disposiciones establecidas en los Términos y Condiciones de Uso, así como requerir el debido resarcimiento por los daños y perjuicios ocasionados producto de su incumplimiento.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>PROPIEDAD INDUSTRIAL E INTELECTUAL </h4>
            </div>
            <div class="card-body">
                <p>
                    1.- El Grupo DISTRILUZ es titular de la propiedad intelectual del Aplicativo Oficina Virtual, incluyendo los derechos de autor sobre el código fuente y el código objeto de los mismos, así como los derechos sobre todos los slogans, diseños, imágenes, Información, nombres comerciales y otra propiedad intelectual e industrial que forme parte del contenido. En consecuencia, el USUARIO se encuentra prohibido y se compromete expresamente a: no copiar, reproducir, modificar, alterar, distribuir, suprimir, o, de cualquier forma, usar dicha propiedad intelectual en forma distinta a la establecida en los presentes Términos y Condiciones de Uso.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row present">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>DISPOSICIONES FINALES</h4>
            </div>
            <div class="card-body">
                <p>
                    1.- El Grupo DISTRILUZ expresamente se reserva la facultad y puede efectuar, en cualquier momento, bajo su exclusiva discreción y sin previo aviso, modificaciones a los presentes Términos y Condiciones de Uso. Las modificaciones entrarán en vigor inmediatamente efectuadas, sin necesidad de comunicación previa al Usuario.
                </p>
                <p>
                    2.- Los títulos de las cláusulas o numerales son meramente enunciativos y no forman parte del contenido preceptivo de los presentes Términos y Condiciones de Uso.
                </p>
                <p>
                    3.- La validez de los presentes Términos y Condiciones de Uso será por el período en que el Usuario utilice el Aplicativo Oficina Virtual.
                </p>
                <p>
                    4.- Los presentes Términos y Condiciones de Uso se rigen por las leyes de la República del Perú. En caso de cualquier controversia, el Usuario renuncia al fuero de su domicilio y se somete expresamente a la jurisdicción y competencia de los Jueces y Tribunales del Distrito Judicial del Cercado de Lima.
                </p>
            </div>
        </div>
    </div>
</div>