﻿/*
    Creación        : 2020-04-11
    Responsable     : JONATHAN VALDERRAMA
*/

@media (max-width: 767px) {
    .contMrk, .contInfo, .acountDz {
        display: none !important;
    }

    .contAcount {
        height: 35px;
        padding: 0;
    }

    .hide-sm {
        display: none;
    }
}