﻿/*
    Modificación    : 2019-05-01
    Responsable     : JONATHAN VALDERRAMA
*/
.divider {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px silver;
}

.form-control {
    border: 1px solid #ced4da;
}

.field-required {
    color: #d93025;
    font-size: 1.2rem;
    line-height: 135%;
}

.informa {
    float: right;
    font-size: 1.2rem;
    cursor: pointer;
}