﻿@{
    string IdUsuario = "";
    string Cliente = "", Container = "", ContentDz = "";
    IdUsuario = Session["IdUsuario"]?.ToString();
    Cliente = Session["Cliente"]?.ToString();
    /* Usuario */
    if (IdUsuario == "" || IdUsuario == null)
    {
        Response.Redirect("~/Account/Login");
    }
    /* Usuario */
    /* Cliente */
    if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Natural)
    {
        Cliente = OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Natural;
        ContentDz = "";
        Container = "container";
    }
    else if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Empresa)
    {
        Cliente = OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Empresa;
        ContentDz = "contentDz-1";
        Container = "container container-ef-1";
    }
    /* Cliente */
}

<!DOCTYPE html>
<html class="full-height" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Natural)
    {
        <title>Suministro</title>
    }
    else
    {
        <title>Empresa</title>
    }

    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon-16x16.png">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/suministro.css?@Util.IdVersion">
    <link rel="stylesheet" href="~/Content/custom.css?@Util.IdVersion">
    <link rel="stylesheet" href="~/Content/Shared/_LayoutPrincipal.css?@Util.IdVersion" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script>
        var _RootPath = '@Url.Content("~")',
            _TokenCaptcha = '@Util.TokenCaptchaSite';
    </script>
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/popper.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Chart.js"></script>
    <script type="text/javascript" src="~/Scripts/chartjs-plugin-datalabels.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Util.js?@Util.IdVersion"></script>
    <script type="text/javascript" src="~/Scripts/Shared/_LayoutPrincipal.js?@Util.IdVersion"></script>
</head>
<body class="backBlue">
    <!-- MODAL -->
    <div class="modal modPreload" id="modPreload" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="dlw-Preload"><div class="icon-preload rotate"></div> <div class="logo-preload animated infinite heartBeat"></div></div>
            </div>
        </div>
    </div>
    <div id="contentDz">
        <header class="headerDz">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href='@(Url.Action("Login", "Account"))'><img class="logo-distriluz" src="~/Content/img/logo.png" width="190" height="50" alt="DISTRILUZ"></a>

                    @if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Natural)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDs" aria-controls="navbarDs" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-bars"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarDs">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Reclamo", "Suministro")"><img src="~/Content/img/orientacion.png" alt="Reclamos"> Reclamos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Contactenos", "Home")"><img src="~/Content/img/ico_contact.png" alt="contacto"> Contáctenos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index", "Orientacion")"><img src="~/Content/img/orientacion.png" alt="alerta de averia"> Orientación y trámite</a>
                                </li>
                                <li class="nav-item mr-4">
                                    <a class="nav-link" href="@Url.Action("LugaresPago", "Home")"><img src="~/Content/img/ico_mapa.png" alt="locacion"> Lugares de pago</a>
                                </li>
                            </ul>
                        </div>
                    }
                </nav>
            </div>
        </header>
        <section class="pageDz">
            <div class="@Container">
                <article class="pageMain">
                    <header class="mainHeader">
                        <div class="row">
                            @if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Natural)
                            {
                                <div class="col-sm-2 col-md-2">
                                    <a class="contMrk d-flex justify-content-center align-items-center" href="@Url.Action("VisaFinalizar", "Suministro")">
                                        <!--<img src="~/Content/Imagenes/arrow.png">-->
                                        <span class="white"><i class="@(Request.Url.AbsoluteUri.Contains("Resumen") ? "" : "fa fa-chevron-left")"></i> Suministros</span>
                                    </a>
                                </div>

                                if (IdUsuario != null)
                                {
                                    <div class="col-lg-9 col-md-8">
                                        <ul class="contInfo list-unstyled d-flex justify-content-end align-items-center">
                                            <li class="list-inline-item white">Nombre: <span>@Session["NombreUsuario"]</span></li>
                                            <li class="list-inline-item white">Email: <span>@Session["Correo"]</span></li>
                                            <li class="list-inline-item white">Teléfono: <span>@Session["Telefono"]</span></li>
                                        </ul>
                                    </div>

                                    <div class="col-sm-3 col-md-1">
                                        <a class="contAcount toolRed efect" data-title="Cerrar sesión" href='@(Url.Action("_Logout", "Account"))' onclick="CargarModal(event, this);"><img class="img-fluid" src="~/Content/img/usuario.png"></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-1 ml-auto">
                                        <a class="acountDz toolGreen efect" data-title="Iniciar sesión" href='@(Url.Action("Login", "Account"))'><img class="img-fluid" src="~/Content/img/close.png"></a>
                                    </div>
                                }
                            }
                            else if (Cliente == OficinaVirtual.Util.Tool.clsDatosConstantes.Cliente.Empresa)
                            {
                                <div class="col-lg-2 col-md-2">
                                    <a class="contMrk d-flex justify-content-center align-items-center" href="@Url.Action("MenuClienteEmpresa", "AccountEmpresa")">
                                        <!--<img src="~/Content/Imagenes/arrow.png">-->
                                        <span class="white"><i class="@(Request.Url.AbsoluteUri.Contains("MenuClienteEmpresa") ? "" : "fa fa-chevron-left")"></i> Menú</span>
                                    </a>
                                </div>
                                if (IdUsuario != null)
                                {
                                    <div class="col-lg-9 col-md-8">
                                        <ul class="list-unstyled d-flex justify-content-end align-items-center">

                                            <li class="list-inline-item white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center"><span>@Session["Empresa"]</span></li>
                                            <li class="list-inline-item white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">RUC: <span>@Session["EmpresaNro"]</span></li>
                                            <li class="list-inline-item white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">Teléfono: <span>@Session["EmpresaTelefono"]</span></li>
                                            <li class="list-inline-item white col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-center">Correo: <span>@Session["EmpresaCorreo"]</span></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-1 col-md-2">
                                        <a class="contAcount toolRed efect" data-title="Cerrar sesión" href='@(Url.Action("_Logout", "AccountEmpresa"))' onclick="CargarModal(event, this);"><img class="img-fluid" src="~/Content/img/usuario.png"></a>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-sm-1 ml-auto">
                                        <a class="acountDz toolGreen efect" data-title="Iniciar sesión" href='@(Url.Action("Login", "AccountEmpresa"))'><img class="img-fluid" src="~/Content/img/close.png"></a>
                                    </div>
                                }
                            }
                        </div>
                        <script>
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip()
                            })
                        </script>
                    </header>
                    <div class="mainBody">
                        @RenderBody()
                    </div>
                </article>
            </div>
        </section>
        <footer>
            <div class="@Container">
                <div class="contFooter">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-4 col-md-3">
                            <p class="white"><small>Se recomienda el uso de Google Chrome por defecto</small></p>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <p class="white text-center"><small>Copyright © 2020 DISTRILUZ. Todos los derechos reservados</small></p>
                        </div>
                        <div class="col-lg-4 col-md-5 d-none">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <img class="logoVisa mr-2" src="~/Content/img/logo-visa.png" alt="visa" width="110px">
                                    <div class="media-body align-items-start">
                                        <small class="white">Esta tienda está autorizada por Visa para realizar transacciones electrónicas.</small>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- MODAL -->
        <div class="modal fade modLayout" id="modLayout" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    @*<div class="modal-header">
                            <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
                        </div>*@
                    <div class="modal-body">
                        ...
                    </div>
                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-sm font-montserrat" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cerrar </button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <div class="downapp">
        <div class="@Container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <p class="white">Para la versión móvil descargar los siguientes aplicativos:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <a target="_blank" href="#"><img class="img-fluid" src="~/Content/img/google_badge.png" border="0"></a>
                </div>
                <div class="col-6 text-center">
                    <a target="_blank" href="#"><img class="img-fluid" src="~/Content/img/apple_badge.png" border="0"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL -->
    <div class="modal fade" id="modError" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title font-montserrat font-weight-bold hint-text">Error</label>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
                </div>
                <div class="modal-body text-center">

                </div>
                <div class="modal-footer justify-content-sm-center">
                    <div class="col-3">
                        <button type="button" class="btn btn-sm btn-red font-montserrat" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cerrar </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modInfo" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title font-montserrat font-weight-bold hint-text">Aviso</label>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
                </div>
                <div class="modal-body text-center">

                </div>
                <div class="modal-footer justify-content-sm-center">
                    <div class="col-3">
                        <button type="button" class="btn btn-sm btn-success font-montserrat" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>