/*!
 * Remark (http://getbootstrapadmin.com/remark)
 * Copyright 2016 amazingsurge
 * Licensed under the Themeforest Standard Licenses
 */

.page-login-v2 {
    height: 100%;
}

    .page-login-v2:before {
        background-image: url(../../Images/Home/login.jpg);
    }

    .page-login-v2.page-dark.layout-full:after {
        background-color: rgba(33,33,33,.6);
    }

    .page-login-v2 .page-brand-info {
        margin: 220px 100px 0 90px;
    }

        .page-login-v2 .page-brand-info .brand-img {
            vertical-align: middle;
        }

        .page-login-v2 .page-brand-info .brand-text {
            display: inline-block;
            margin: 11px 0 11px 20px;
            vertical-align: middle;
        }

        .page-login-v2 .page-brand-info p {
            max-width: 650px;
            opacity: .6;
        }

    .page-login-v2 .page-login-main {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        min-height: 100%;
        padding: 150px 60px 180px;
        color: #757575;
        background: #fff;
    }

        .page-login-v2 .page-login-main .brand {
            margin-bottom: 60px;
        }

        .page-login-v2 .page-login-main .brand-img {
            vertical-align: middle;
        }

        .page-login-v2 .page-login-main .brand-text {
            display: inline-block;
            margin: 11px 0 11px 20px;
            color: #3f51b5;
            vertical-align: middle;
        }

    .page-login-v2 form {
        width: 350px;
        margin: 45px 0 20px;
    }

        .page-login-v2 form > button {
            margin-top: 38px;
        }

        .page-login-v2 form a {
            margin-left: 20px;
        }

    .page-login-v2 footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 50px 60px;
        text-align: center;
    }

    .page-login-v2 .social .icon, .page-login-v2 .social .icon:active, .page-login-v2 .social .icon:hover {
        color: #fff;
    }

.error {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    -ms-align-content: center;
    -webkit-align-content: center;
    align-content: center;
}

@media (min-width:992px) {
    .page-login-v2 .page-content {
        padding-right: 500px;
    }
}

@media (max-width:768px) {
    .page-login-v2 .page-login-main {
        padding-top: 60px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .page-login-v2 .page-login-main {
        padding-top: 80px;
    }

    .page-login-v2 .page-brand-info {
        margin: 160px 0 0 35px;
    }

        .page-login-v2 .page-brand-info > p {
            color: transparent;
            opacity: 0;
        }
}

@media (max-width:767px) {
    .page-login-v2 .page-login-main {
        width: 100%;
        padding-top: 60px;
    }

    .page-login-v2 form {
        width: auto;
    }
}

@media (max-width:480px) {
    .page-login-v2 .page-brand-info {
        margin: 220px 0 0;
    }

    .page-login-v2 .page-login-main {
        padding: 50px 30px 180px;
    }

    .page-login-v2 form {
        width: auto;
    }

    .page-login-v2 footer {
        margin: 50px 30px;
    }
}