﻿


@model OficinaVirtual.Entidad.Consulta.clsDepositoBancario

@{
    var oBancos = ViewBag.Bancos;
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
}

<link href="~/Content/SuministroEmpresa/_PagoDepositoBancario.css" rel="stylesheet" />


@if (sExito == true)
{
    <div class="alert alert-success">
        <div>
            <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;@sMensaje</span>
        </div>
    </div>
}
else
{
    if (sMensaje != null && sMensaje != "")
    {
        <div class="alert alert-warning">
            <div>
                <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i></span><span>&nbsp;@sMensaje</span>
            </div>
        </div>
    }


    <div class="row" style="font-size: small;">
        <div class="col-lg-12 col-md-12 ">


            <div class="row">

                <div class="col-6 form-group">
                    <label for="txtNombres" class="control-label"> Nombre</label>
                    <input type="text" id="txtNombre" class="form-control" readonly value="@(Session["Empresa"] == null ? "" : (Session["Empresa"]))" maxlength="512" />
                    <div class="invalid-feedback">
                        El nombre es obligatorio.
                    </div>
                </div>

                <div class="col-6 form-group">
                    <label for="txtNroDocumento" class="control-label">Nro. Documento (DNI/RUC/CE)</label>
                    <input type="text" id="txtNroDocumento" class="form-control" readonly value="@Session["EmpresaNro"]" pattern="[0-9]{8,11}" maxlength="11" />
                    <div class="invalid-feedback">
                        El Nro. Documento es obligatorio.
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-6 form-group">
                    <label for="txtdireccion" class="control-label">Direccion o Domicilio Fiscal:</label>
                    <input type="text" id="txtdireccion" class="form-control" readonly value="@Session["EmpresaDireccion"]" required />
                </div>
            </div>



            <div class="border-top my-3"></div>



            <div class="row justify-content-sm-center text-center">
                <div class="col-6 form-group row justify-content-sm-center text-center">
                    <div class="stepwizard col-md-offset-6 row justify-content-sm-center text-center">
                        <div class="stepwizard-row setup-panel row justify-content-sm-center text-center">
                            <div class="stepwizard-step">
                                <a href="#step-1" id="paso1" class="btn btn-colour-1 btn-circle">1</a>

                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-2" id="paso2" class="btn btn-colour-2 btn-circle" disabled="disabled">2</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row setup-content" id="step-1">

                <div class="col-12 text-center">

                    <h6 class="bold">Confirmación de la solicitud</h6>

                </div>

                <div class="col-12 text-center">

                    <div class="row text-center justify-content-center">
                        <div class="col-3 text-left">
                            <label class="control-label bold">Número de pedido</label>
                            <p>@ViewBag.NroPedido</p>
                        </div>

                        <div class="col-3 text-left">
                            <label class="control-label bold">Fecha de solicitud</label>
                            <p>@DateTime.Now</p>
                        </div>
                    </div>

                </div>

                <div class="col-12 text-center">

                    <div class="row text-center justify-content-center">
                        <div class="col-3 text-left">
                            <label class="control-label bold">Monto a pagar</label>
                            <p>@ViewBag.Monto</p>
                        </div>

                        <div class="col-3 text-left">
                            <label class="control-label bold">Forma o medio de pago</label>
                            <p>Deposito bancario</p>
                        </div>
                    </div>

                </div>


                <div class="col-12"><hr style="width:100%;"></div>


                <div class="col-12 text-center">

                    <div class="row text-center justify-content-center">
                        <div class="col-4">
                            <button data-dismiss="modal" class="btn btn-success btn-sm pull-right bold" style="height:35px;" type="button">Cancelar</button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success nextBtn btn-sm pull-right bold" style="height:35px;" type="button" id="btncontinuar">Continuar</button>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row setup-content" id="step-2">


                <div class="col-12 text-center">

                    <h6 class="bold">Confirmación de la solicitud</h6>

                </div>

                @using (Html.BeginForm("_PagoDepositoBancario", "SuministroEmpresa", FormMethod.Post, new { @class = "frmDeposito", role = "form" }))
                {
                    @Html.HiddenFor(model => model.NroPedido, new { Value = ViewBag.NroPedido })
                    @Html.HiddenFor(model => model.Empresa, new { Value = ViewBag.Empresa })
                    @Html.HiddenFor(model => model.CuentaSeleccionada, new { Value = ViewBag.CuentaSeleccionada })
                    @Html.HiddenFor(model => model.MontoInicial, new { Value = ViewBag.Monto })

                    <div class="col-12">

                        <div class="row">

                            <div class="col-6 form-group">

                                @Html.LabelFor(model => model.Banco, new { @class = "control-label small" })

                                @Html.DropDownListFor(model => model.Banco, new SelectList(oBancos, "IdBanco", "NombreBanco"), "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Banco, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-6 form-group">

                                @Html.LabelFor(model => model.Voucher, new { @class = "control-label small" })

                                @Html.TextBoxFor(model => model.Voucher, new { @class = "form-control", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.Voucher, "", new { @class = "text-danger" })

                            </div>

                        </div>

                    </div>


                    <div class="col-12">
                        <div class="row">
                            <div class="col-6 form-group">

                                @Html.LabelFor(model => model.Cuenta, new { @class = "control-label small" })

                                @Html.DropDownListFor(model => model.Cuenta, new SelectList(Enumerable.Empty<SelectListItem>()), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Cuenta, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-6 form-group">

                                @Html.LabelFor(model => model.Monto, new { @class = "control-label small" })

                                @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="col-12"><hr style="width:100%;"></div>


                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                &nbsp;
                            </div>

                            <div class="col-4">

                                <input type="submit" class="btn btn-success nextBtn btn-sm pull-right bold" value="Pagar" id="btnpagar" />

                            </div>
                        </div>
                    </div>

                }

            </div>
        </div>
    </div>


    <input type="hidden" id="empresaid" value="@ViewBag.Empresa" />
}


<script type="text/javascript" src="~/Scripts/SuministroEmpresa/_PagoDepositoBancario.js"></script>


