﻿

       
            <header>
                <h2 class="lighBlue">Detalle</h2>
            </header>


            <div class="row justify-content-sm-center" style="font-size: small;">
                <div class="col-lg-12 col-md-12 ">

                    <table id="tbl_listar_Pagos_Suministro" class="display responsive table-striped table-bordered text-center" style="width:100%;">
                        <thead>
                            <tr>
                                <th class="text-center">N° Suministro</th>
                                <th class="text-center">N° Recibo</th>
                                <th class="text-center">Periodo</th>
                                <th class="text-center">Fecha Emisión</th>
                                <th class="text-center">Fecha Vencimiento</th>
                                <th class="text-center">Importe Pago</th>
                                <th class="text-center">Ver Recibo</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

               
                    <div class="col-lg-2 col-md-2">
                        <br />
                        <input type="submit" class="btn btn-success btn-sm bold" value="Cerrar" id="btnSalirDetalleSuministro" />

                    </div>
              
            </div>



<script>

    $(document).ready(function () {
   
    $('#btnSalirDetalleSuministro').click(btnSalir_click);
 
    });


    function btnSalir_click() {

        var a = $('#modDetalleSuministro');
        a.modal('hide');

}

</script>