﻿
@model OficinaVirtual.Entidad.Consulta.clsSuministroEmpresaResumen

@{
    var sDeudaMinima = ViewBag.DeudaMinima;
    var sDeudaTotal = ViewBag.DeudaTotal;
    var oTarifa = ViewBag.Tarifa;
}

<link href="~/Content/SuministroEmpresa/ResumenDeudas.css" rel="stylesheet" />

<style>

    /*body {
    display: none;
}

.preload {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}*/

</style>

@*<div class="preload">
    <img src="http://i.imgur.com/KUJoe.gif">
</div>*@
<!-- Content -->
<div class="contentActualizar">

    <article class="infoSuministro">

        <div class="col-lg-12 col-md-12 ">

            <div class="tabs">

                <div class="tab-button-outer">
                    <ul id="tab-button">
                        <li><a href="#Ensa">Ensa</a></li>
                        <li><a href="#Enosa">Enosa</a></li>
                        <li><a href="#Hidrandina">Hidrandina</a></li>
                        <li><a href="#Electrocentro">Electrocentro</a></li>

                    </ul>
                </div>

                <div class="tab-select-outer">
                    <select id="tab-select">
                        <option value="#Ensa">Ensa</option>
                        <option value="#Enosa">Enosa</option>
                        <option value="#Hidrandina">Hidrandina</option>
                        <option value="#Electrocentro">Electrocentro</option>
                    </select>
                </div>

                <br>

                <div id="Ensa" class="tab-contents">


                    <div class="row">

                        <div class="col-lg-12 col-md-12 ">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center fondo">

                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Resumen General Deudas</li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Mínima: S/<span id="TotalDeudaMinima_Ensa"></span></li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Total: S/<span id="TotalDeudaTotal_Ensa"></span></li>

                            </ul>
                        </div>


                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Buscador</div>
                                <div class="panel-body" style="padding-bottom:0px;">

                                    <div class="col-md-12 col-sm-12">

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnsaNumeroSuministro, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.EnsaNumeroSuministro, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnsaTarifa, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.EnsaTarifa, new SelectList(oTarifa, "IdTarifa", "NombreComercial"), "Todos", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EnsaTarifa, "", new { @class = "text-danger" })
                                            </div>

                                        </div>


                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnBuscar" value="Buscar" id="btnBuscarEnsa" name="Ensa" />
                                            </div>

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-link btn-sm bold btnLimpiar" value="Limpiar Busqueda" id="btnLimpiarEnsa" name="Ensa" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Carga Masiva</div>
                                <div class="panel-body">
                                    <br>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group row">

                                            <div class="col-sm-12">

                                                <div class="file-upload">
                                                    <div class="form-control" data-message="Suelte el archivo o seleccione">

                                                        <input title="Suelte el archivo o seleccione" type="file" name="Ensa" id="Ensa_document_file" class="upload_file">

                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnProcesarArchivo" value="Procesar Archivo" id="btnProcesarArchivoEnsa" name="Ensa" />
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Pagar Deuda</div>
                                <div class="panel-body">

                                    <div class="col-md-12 col-sm-12">


                                        <div class="form-group row">
                                            <div class="col-sm-12">

                                                @Html.LabelFor(model => model.EnsaMedioPago, new { @class = "control-label small" })

                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.EnsaMedioPago, new SelectList(
                                                   new List<Object>{
                                                       new { value = "", text = "Seleccionar" },
                                                       new { value = "0", text = "Tarjeta de Crédito" },
                                                       new { value = "1", text = "Deposito Bancario"}
                                                   },
                                                   "value",
                                                   "text",
                                                   ""),
                                                   new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnsaMonto, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.EnsaMonto, new { @Value = "0.00", @class = "form-control", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10">

                                                <input type="submit" class="btn btn-info bold btnPagar" value="Pagar" id="2" name="Ensa" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*Inicio Grilla*@

                    <div class="row">

                        <div class="col-lg-12 col-md-12 padding">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center">

                                <li class="list-inline-item bold col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left"><h5 class="bold">Lista de suministros</h5>  </li>

                                <li class="list-inline-item bold col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right"><button onclick="ConsultarSuministroEmpresa(event, this);" name="Ensa" id="AgregarSuministro_Ensa" class="btn btn-outline-info AgregarSuministro"><i class="fa fa-plus"></i> Agregar Suministro</button></li>

                            </ul>

                            <table name="tbl_listar_Suministro" id="tbl_listar_Suministro_Ensa" class="display responsive table-striped table-bordered text-center tbl_listar" style="width:100%;font-size: small;">

                                <thead>
                                    <tr>

                                        <th class="text-center">N° Suministro</th>
                                        <th class="text-center">Tarifa</th>
                                        <th class="text-center" style="width:300px;">Direccion</th>
                                        <th class="text-center">Tipo Propietario</th>
                                        <th class="text-center">Fecha Vencimiento</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Minima</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Total</th>
                                        <th class="text-center">Detalle</th>
                                        <th class="text-center">Quitar Suministro</th>
                                        <th class="text-center">Reclamar</th>

                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>
                        </div>
                    </div>

                </div>

                <div id="Enosa" class="tab-contents">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 ">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center fondo">

                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Resumen General Deudas</li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Mínima: S/<span id="TotalDeudaMinima_Enosa"></span></li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Total: S/<span id="TotalDeudaTotal_Enosa"></span></li>

                            </ul>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Buscador</div>
                                <div class="panel-body" style="padding-bottom:0px;">


                                    <div class="col-md-12 col-sm-12">

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnosaNumeroSuministro, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.EnosaNumeroSuministro, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnosaTarifa, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.EnosaTarifa, new SelectList(oTarifa, "IdTarifa", "NombreComercial"), "Todos", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.EnosaTarifa, "", new { @class = "text-danger" })
                                            </div>

                                        </div>


                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnBuscar" value="Buscar" id="btnBuscarEnosa" name="Enosa" />
                                            </div>

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-link btn-sm bold btnLimpiar" value="Limpiar Busqueda" id="btnLimpiarEnosa" name="Enosa" />
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Carga Masiva</div>
                                <div class="panel-body">
                                    <br>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group row">

                                            <div class="col-sm-12">

                                                <div class="file-upload">
                                                    <div class="form-control" data-message="Suelte el archivo o seleccione">
                                                        <input title="Suelte el archivo o seleccione" type="file" name="Enosa" id="Enosa_document_file" class="upload_file">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnProcesarArchivo" value="Procesar Archivo" id="btnProcesarArchivoEnosa" name="Enosa" />
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Pagar Deuda</div>
                                <div class="panel-body">

                                    <div class="col-md-12 col-sm-12">


                                        <div class="form-group row">
                                            <div class="col-sm-12">

                                                @Html.LabelFor(model => model.EnosaMedioPago, new { @class = "control-label small" })

                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.EnosaMedioPago, new SelectList(
                                                   new List<Object>{
                                                       new { value = "", text = "Seleccionar" },
                                                       new { value = "0", text = "Tarjeta de Crédito" },
                                                       new { value = "1", text = "Deposito Bancario"}
                                                   },
                                                   "value",
                                                   "text",
                                                   ""),
                                                   new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.EnosaMonto, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.EnosaMonto, new { @Value = "0.00", @class = "form-control", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10">
                                                <input type="submit" class="btn btn-info bold btnPagar" value="Pagar" id="1" name="Enosa" />
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Inicio Grilla*@

                    <div class="row">

                        <div class="col-lg-12 col-md-12 padding">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center">

                                <li class="list-inline-item bold col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left"><h5 class="bold">Lista de suministros</h5>  </li>

                                <li class="list-inline-item bold col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right"><button onclick="ConsultarSuministroEmpresa(event, this);" id="AgregarSuministro_Enosa" name="Enosa" class="btn btn-outline-info AgregarSuministro"><i class="fa fa-plus"></i> Agregar Suministro</button></li>

                            </ul>

                            <table name="tbl_listar_Suministro" id="tbl_listar_Suministro_Enosa" class="display responsive table-striped table-bordered text-center" style="width:100%;font-size: small;">

                                <thead>
                                    <tr>

                                        <th class="text-center">N° Suministro</th>
                                        <th class="text-center">Tarifa</th>
                                        <th class="text-center" style="width:300px;">Direccion</th>
                                        <th class="text-center">Tipo Propietario</th>
                                        <th class="text-center">Fecha Vencimiento</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Minima</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Total</th>
                                        <th class="text-center">Detalle</th>
                                        <th class="text-center">Quitar Suministro</th>
                                        <th class="text-center">Reclamar</th>

                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>

                        </div>
                    </div>

                </div>

                <div id="Hidrandina" class="tab-contents">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 ">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center fondo">

                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Resumen General Deudas</li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Mínima: S/<span id="TotalDeudaMinima_Hidrandina"></span></li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Total: S/<span id="TotalDeudaTotal_Hidrandina"></span></li>

                            </ul>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Buscador</div>
                                <div class="panel-body" style="padding-bottom:0px;">


                                    <div class="col-md-12 col-sm-12">

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.HidrandinaNumeroSuministro, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.HidrandinaNumeroSuministro, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.HidrandinaTarifa, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.HidrandinaTarifa, new SelectList(oTarifa, "IdTarifa", "NombreComercial"), "Todos", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.HidrandinaTarifa, "", new { @class = "text-danger" })
                                            </div>

                                        </div>


                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnBuscar" value="Buscar" id="btnBuscarHidrandina" name="Hidrandina" />
                                            </div>

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-link btn-sm bold btnLimpiar" value="Limpiar Busqueda" id="btnLimpiarHidrandina" name="Hidrandina" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Carga Masiva</div>
                                <div class="panel-body">
                                    <br>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group row">

                                            <div class="col-sm-12">

                                                <div class="file-upload">
                                                    <div class="form-control" data-message="Suelte el archivo o seleccione">
                                                        <input title="Suelte el archivo o seleccione" type="file" name="Hidrandina" id="Hidrandina_document_file" class="upload_file">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnProcesarArchivo" value="Procesar Archivo" name="Hidrandina" id="btnProcesarArchivoHidrandina" />
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Pagar Deuda</div>
                                <div class="panel-body">

                                    <div class="col-md-12 col-sm-12">


                                        <div class="form-group row">
                                            <div class="col-sm-12">

                                                @Html.LabelFor(model => model.HidrandinaMedioPago, new { @class = "control-label small" })

                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.HidrandinaMedioPago, new SelectList(
                                                   new List<Object>{
                                                       new { value = "", text = "Seleccionar" },
                                                       new { value = "0", text = "Tarjeta de Crédito" },
                                                       new { value = "1", text = "Deposito Bancario"}
                                                   },
                                                   "value",
                                                   "text",
                                                   ""),
                                                   new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.HidrandinaMonto, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.HidrandinaMonto, new { @Value = "0.00", @class = "form-control", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10">
                                                <input type="submit" class="btn btn-info bold btnPagar" value="Pagar" id="3" name="Hidrandina" />
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Inicio Grilla*@

                    <div class="row">

                        <div class="col-lg-12 col-md-12 padding">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center">

                                <li class="list-inline-item bold col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left"><h5 class="bold">Lista de suministros</h5>  </li>

                                <li class="list-inline-item bold col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right"><button onclick="ConsultarSuministroEmpresa(event, this);" name="Hidrandina" id="AgregarSuministro_Hidrandina" class="btn btn-outline-info AgregarSuministro"><i class="fa fa-plus"></i> Agregar Suministro</button></li>

                            </ul>

                            <table name="tbl_listar_Suministro" id="tbl_listar_Suministro_Hidrandina" class="display responsive table-striped table-bordered text-center" style="width:100%;font-size: small;">

                                <thead>
                                    <tr>

                                        <th class="text-center">N° Suministro</th>
                                        <th class="text-center">Tarifa</th>
                                        <th class="text-center" style="width:300px;">Direccion</th>
                                        <th class="text-center">Tipo Propietario</th>
                                        <th class="text-center">Fecha Vencimiento</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Minima</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Total</th>
                                        <th class="text-center">Detalle</th>
                                        <th class="text-center">Quitar Suministro</th>
                                        <th class="text-center">Reclamar</th>

                                    </tr>
                                </thead>

                                <tbody></tbody>

                            </table>

                        </div>
                    </div>

                </div>

                <div id="Electrocentro" class="tab-contents">

                    <div class="row">

                        <div class="col-lg-12 col-md-12 ">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center fondo">

                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Resumen General Deudas</li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Mínima: S/<span id="TotalDeudaMinima_Electrocentro"></span></li>
                                <li class="list-inline-item col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 text-center">Deuda Total: S/<span id="TotalDeudaTotal_Electrocentro"></span></li>

                            </ul>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Buscador</div>
                                <div class="panel-body" style="padding-bottom:0px;">


                                    <div class="col-md-12 col-sm-12">

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.ElectrocentroNumeroSuministro, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.ElectrocentroNumeroSuministro, new { @class = "form-control" })
                                            </div>

                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.ElectrocentroTarifa, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.ElectrocentroTarifa, new SelectList(oTarifa, "IdTarifa", "NombreComercial"), "Todos", new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.ElectrocentroTarifa, "", new { @class = "text-danger" })
                                            </div>

                                        </div>


                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnBuscar" value="Buscar" id="btnBuscarElectrocentro" name="Electrocentro" />
                                            </div>

                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-link btn-sm bold btnLimpiar" value="Limpiar Busqueda" id="btnLimpiarElectrocentro" name="Electrocentro" />
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Carga Masiva</div>
                                <div class="panel-body">
                                    <br>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group row">

                                            <div class="col-sm-12">

                                                <div class="file-upload">
                                                    <div class="form-control" data-message="Suelte el archivo o seleccione">
                                                        <input title="Suelte el archivo o seleccione" type="file" name="Electrocentro" id="Electrocentro_document_file" class="upload_file">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">


                                            <div class="col-sm-10 ">
                                                <input type="submit" class="btn btn-outline-secondary bold btnProcesarArchivo" value="Procesar Archivo" id="btnProcesarArchivoElectrocentro" name="Electrocentro" />
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-gray">
                                <div class="panel-heading">&nbsp;Pagar Deuda</div>
                                <div class="panel-body">

                                    <div class="col-md-12 col-sm-12">


                                        <div class="form-group row">
                                            <div class="col-sm-12">

                                                @Html.LabelFor(model => model.ElectrocentroMedioPago, new { @class = "control-label small" })

                                            </div>
                                            <div class="col-sm-12">
                                                @Html.DropDownListFor(model => model.ElectrocentroMedioPago, new SelectList(
                                                   new List<Object>{
                                                       new { value = "", text = "Seleccionar" },
                                                       new { value = "0", text = "Tarjeta de Crédito" },
                                                       new { value = "1", text = "Deposito Bancario"}
                                                   },
                                                   "value",
                                                   "text",
                                                   ""),
                                                   new { @class = "form-control" })
                                            </div>
                                        </div>

                                        <div class="form-group row">

                                            <div class="col-sm-12">
                                                @Html.LabelFor(model => model.ElectrocentroMonto, new { @class = "control-label small" })
                                            </div>
                                            <div class="col-sm-12">
                                                @Html.TextBoxFor(model => model.ElectrocentroMonto, new { @Value = "0.00", @class = "form-control", @readonly = "readonly" })
                                            </div>

                                        </div>

                                        <div class="form-group row justify-content-sm-center">

                                            <div class="col-sm-10">
                                                <input type="submit" class="btn btn-info bold btnPagar" value="Pagar" id="4" name="Electrocentro" />
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*Inicio Grilla*@

                    <div class="row">

                        <div class="col-lg-12 col-md-12 padding">
                            <ul class="list-unstyled d-flex justify-content-end align-items-center">

                                <li class="list-inline-item bold col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 text-left"><h5 class="bold">Lista de suministros</h5>  </li>

                                <li class="list-inline-item bold col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 text-right"><button onclick="ConsultarSuministroEmpresa(event, this);" id="AgregarSuministro_Electrocentro" name="Electrocentro" class="btn btn-outline-info AgregarSuministro"><i class="fa fa-plus"></i> Agregar Suministro</button></li>

                            </ul>

                            <table name="tbl_listar_Suministro" id="tbl_listar_Suministro_Electrocentro" class="display responsive table-striped table-bordered text-center " style="width:100%;font-size: small;">

                                <thead>
                                    <tr>

                                        <th class="text-center">N° Suministro</th>
                                        <th class="text-center">Tarifa</th>
                                        <th class="text-center" style="width:300px;">Direccion</th>
                                        <th class="text-center">Tipo Propietario</th>
                                        <th class="text-center">Fecha Vencimiento</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Minima</th>
                                        <th class="text-center"></th>
                                        <th class="text-center">Deuda Total</th>
                                        <th class="text-center">Detalle</th>
                                        <th class="text-center">Quitar Suministro</th>
                                        <th class="text-center">Reclamar</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>

                        </div>
                    </div>

                </div>


            </div>

        </div>

    </article>

    <aside class="menu">
        <ul>
            <li>
                <a class="toolGreen efect" data-title="Suministros"  target="_blank" href='@(Url.Action("ResumenDeudas", "SuministroEmpresa"))'>
                    <span class="ico"><i class="fa fa-file-o"></i></span>
                    <span class="info">Suministros</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Mantenimiento de Usuarios" target="_blank" href='@(Url.Action("RegistrarUsuarios", "AccountEmpresa"))'>
                    <span class="ico"><i class="fa fa-user-o"></i></span>
                    <span class="info">Mantenimiento de Usuarios</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Tramites" target="_blank" href='@(Url.Action("Index", "Orientacion"))'>
                    <span class="ico"><i class="fa fa-file-text-o"></i></span>
                    <span class="info">Tramites</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Reclamos"  target="_blank" href='@(Url.Action("Reclamo", "Suministro"))'>
                    <span class="ico"><i class="fa fa-comment-o"></i></span>
                    <span class="info">Reclamos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Contáctanos"  target="_blank" href='@(Url.Action("Contactenos", "Home"))'>
                    <span class="ico"><i class="fa fa-phone-volume"></i></span>
                    <span class="info">Contáctanos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Lugares de Pago"  target="_blank" href='@(Url.Action("LugaresPago", "Home"))'>
                    <span class="ico"><i class="fa fa-map-o"></i></span>
                    <span class="info">Lugares de Pago</span>
                </a>
            </li>
        </ul>
    </aside>
</div>

<div class="modal fade modLogin" id="modDetalleSuministro" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body" style="padding: 2rem;">...</div>
        </div>
    </div>
</div>

<div class="modal fade" id="modReclamo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 90%;">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body" style="padding: 2rem;">...</div>
        </div>
    </div>
</div>



<div class="modal fade" id="modDepositoBancario" tabindex="-1" role="dialog" aria-hidden="false" style="overflow-y:scroll;">
    <div class="modal-dialog modal-lg" role="document" style="max-width: 60%;">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">...</div>
        </div>
    </div>
</div>




<div class="modal fade " id="modPago" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width: 55%;">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">

                <div class="row justify-content-sm-center">

                    <div class="col-lg-12 col-md-12 ">

                        <div class="steps">

                            <div class="row">
                                <div class="col-12">
                                    <div id="step02Data" class="mt-4 mb-4 step02Data">
                                        <h2 class="lighBlue text-center mb-4 bold">CONFIRMACIÓN DE LA SOLICITUD</h2>
                                        <p id="p_numeropedido" class="text-center mb-0"><span class="bold">Número de pedido:</span></p>
                                        <p id="p_numerosuministros" class="text-center mb-0"><span class="bold">Número de suministros seleccionados:</span></p>
                                        <p id="p_monto" class="text-center mb-0"><span class="bold">Ud. ha seleccionado el monto de:</span> S/.</p>

                                        <p class="text-center"><span class="bold">Fecha y hora de la solicitud:</span> @DateTime.Now</p>
                                        <p class="text-center">Para proceder con el pago, dar click en el botón <span class="bold">"Pagar"</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3 ml-auto">
                                    <a id="btnSalirmodPago" class="btn btn-red">Cerrar</a>
                                </div>
                                <div class="col-3 mr-auto">
                                    <form action="#" id="frmVisaPago" name="frmVisaPago" method="post">
                                        <script src='@ViewBag.VisaURLButtonJS' id="scriptVisaPago"
                                                data-sessiontoken=""
                                                data-merchantid=""
                                                data-channel="web"
                                                data-buttonsize=""
                                                data-buttoncolor=""
                                                data-merchantlogo="http://www.distriluz.com.pe/templates/lb_hct/images/logo.png"
                                                data-merchantname="DISTRILUZ"
                                                data-formbuttoncolor=""
                                                data-showamount=""
                                                data-purchasenumber=""
                                                data-amount=""
                                                data-cardholdername="@Session["Nombres"]"
                                                data-cardholderlastname="@Session["ApPaterno"]"
                                                data-cardholderemail="@Session["Correo"]"
                                                data-usertoken="@Session["Correo"]"
                                                data-recurrence=""
                                                data-frequency=""
                                                data-recurrencetype=""
                                                data-recurrenceamount=""
                                                data-documenttype="0"
                                                data-documentid=""
                                                data-beneficiaryid=""
                                                data-productid=""
                                                data-phone=""
                                                data-timeouturl="@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))">
                                        </script>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <br /><br />



                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="~/Scripts/SuministroEmpresa/ResumenDeudas.js"></script>

<!-- Script -->
