﻿
    <div class="contentActualizar">

        <article class="infoSuministro" style="max-height:80%">

            <div class="col-lg-12 col-md-12 ">


                <div id="step02" class="steps">
                    <h2 class="lighBlue text-center mb-4 bold">Procesando su solicitud</h2>
                    <p class="text-center mb-0"><span class="bold">Por favor no cierre, ni actualice esta página</span>, su solicitud está siendo procesada.</p>
                    <div class="dlw-Preload position-relative"><div class="icon-preload rotate"></div> <div class="logo-preload animated infinite heartBeat"></div></div>
                </div>


                <div id="step03" class="steps justify-content-sm-center" style="display:none">
                    <div class="row text-center">
                        <div class="col-12">

                            <h2 class="lighBlue text-center mb-4 bold">PAGO REALIZADO</h2>
                            <p>A continuación se muestra el detalle del pago realizado:</p>
                            <p class="mb-0" id="numerotarjeta"><span class="bold">Número de tarjeta:</span>  </p>
                            <p class="mb-0" id="numeropedido"><span class="bold">Número de pedido:</span>  </p>
                            <p class="mb-0" id="numerotransa"><span class="bold">Número de transacción:</span>  </p>
                            <p class="mb-0" id="moneda"><span class="bold">Moneda:</span>  </p>
                            <p class="mb-0" id="importeautorizado"><span class="bold">Importe Autorizado: </span> </p>
                            <p class="mb-0" id="codigoautorizacion"><span class="bold">Código de autorización:</span>  </p>
                            <p id="resultadooperacion"><span class="bold">Resultado de la operación:</span>  </p>

                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-sm-center text-center">
                        <div class="col-3 justify-content-sm-center text-center">
                            <button id="btnFinalizar" class="btn btn-green">Finalizar</button>
                        </div>
                    </div>
                </div>


                <div id="step03" class="steps justify-content-sm-center" style="display:none">
                    <div class="row text-center">
                        <div class="col-12">

                            <h2 class="lighBlue text-center mb-4 bold">PAGO REALIZADO</h2>
                            <p>A continuación se muestra el detalle del pago realizado:</p>
                            <p class="mb-0" id="numerotarjeta"><span class="bold">Número de tarjeta:</span>  </p>
                            <p class="mb-0" id="numeropedido"><span class="bold">Número de pedido:</span>  </p>
                            <p class="mb-0" id="numerotransa"><span class="bold">Número de transacción:</span>  </p>
                            <p class="mb-0" id="moneda"><span class="bold">Moneda:</span>  </p>
                            <p class="mb-0" id="importeautorizado"><span class="bold">Importe Autorizado: </span> </p>
                            <p class="mb-0" id="codigoautorizacion"><span class="bold">Código de autorización:</span>  </p>
                            <p id="resultadooperacion"><span class="bold">Resultado de la operación:</span>  </p>

                        </div>
                    </div>
                    <br />
                    <div class="row justify-content-sm-center text-center">
                        <div class="col-3 justify-content-sm-center text-center">
                            <button id="btnFinalizar" class="btn btn-green">Finalizar</button>
                        </div>
                    </div>
                </div>


            </div>

        </article>

        <aside class="menu">
            <ul>
                <li>
                    <a class="toolGreen efect" data-title="Suministros" target="_blank" href='@(Url.Action("ResumenDeudas", "SuministroEmpresa"))'>
                        <span class="ico"><i class="fa fa-file-o"></i></span>
                        <span class="info">Suministros</span>
                    </a>
                </li>
                <li>
                    <a class="toolGreen efect" data-title="Mantenimiento de Usuarios" target="_blank" href='@(Url.Action("RegistrarUsuarios", "AccountEmpresa"))'>
                        <span class="ico"><i class="fa fa-user-o"></i></span>
                        <span class="info">Mantenimiento de Usuarios</span>
                    </a>
                </li>
                <li>
                    <a class="toolGreen efect" data-title="Tramites" target="_blank" href='@(Url.Action("Index", "Orientacion"))'>
                        <span class="ico"><i class="fa fa-file-text-o"></i></span>
                        <span class="info">Tramites</span>
                    </a>
                </li>
                <li>
                    <a class="toolGreen efect" data-title="Reclamos" target="_blank" href='@(Url.Action("Reclamo", "Suministro"))'>
                        <span class="ico"><i class="fa fa-comment-o"></i></span>
                        <span class="info">Reclamos</span>
                    </a>
                </li>
                <li>
                    <a class="toolGreen efect" data-title="Contáctanos" target="_blank" href='@(Url.Action("Contactenos", "Home"))'>
                        <span class="ico"><i class="fa fa-phone-volume"></i></span>
                        <span class="info">Contáctanos</span>
                    </a>
                </li>
                <li>
                    <a class="toolGreen efect" data-title="Lugares de Pago" target="_blank" href='@(Url.Action("LugaresPago", "Home"))'>
                        <span class="ico"><i class="fa fa-map-o"></i></span>
                        <span class="info">Lugares de Pago</span>
                    </a>
                </li>
            </ul>
        </aside>
    </div>


<script>

    $(document).ready(function () {

          
        jQuery.ajax({

            type: 'POST',
            url: "/SuministroEmpresa/VisaPago",
            beforeSend: function () {

            },
            success: function (data) {

                var obj = JSON.parse(data.data);


                var MontoResumen = 0;
                MontoResumen = parseFloat(obj.dataMap.AMOUNT);
              
                var parts = MontoResumen.toFixed(2).split(".");
                var num = parts[0].replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") +
                    (parts[1] ? "." + parts[1] : "");

                if (data.data !== "") {

                    $('#step02').css('display', 'none');
                    $('#step03').css('display', 'inline');

                    $('#numerotarjeta').html("<span class='bold'>Número de tarjeta:</span> " + obj.dataMap.CARD);
                    $('#numeropedido').html("<span class='bold'>Número de pedido:</span> " + obj.order.purchaseNumber);
                    $('#numerotransa').html("<span class='bold'>Número de transacción:</span> " + obj.dataMap.TRANSACTION_ID);
                    $('#moneda').html("<span class='bold'>Moneda:</span> " + obj.order.currency);
                    $('#importeautorizado').html("<span class='bold'>Importe Autorizado:</span> " + num);
                    $('#codigoautorizacion').html("<span class='bold'>Código de autorización:</span> " + obj.dataMap.AUTHORIZATION_CODE);
                    $('#resultadooperacion').html("<span class='bold'>Resultado de la operación:</span> " + obj.dataMap.STATUS+" - "+ obj.dataMap.ACTION_DESCRIPTION);

                }
                else {

                     var height = $(window).height();
                     $('.contentActualizar').height(height);
                     MsgBox(data.mensaje, "Error");
                     $('#step02').css('display', 'none');
                     $('#step03').css('display', 'none');

                }
      
            },
            error: function (xhr) {
                 $('#step02').css('display', 'none');
                 $('#step03').css('display', 'none');
                MsgBox("Error de Sistema", "Error");
            }
        });


        $('#btnFinalizar').click(btnFinalizar_click);


    });


    function btnFinalizar_click() {

     window.location.replace("../SuministroEmpresa/ResumenDeudas");

    }




</script>
