﻿.pass {
    -webkit-text-security: circle;
}

.div-step {
    padding: 0px 20px;
}

    .div-step h3 {
        padding-bottom: 20px;
        margin-left: 30px;
    }

.divider {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px silver;
}

.term-cond {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 10px;
}



/*height: 150px;
width: 150px;
margin: 0px auto;
box-shadow: 0px 1px 1px 1px #000;
border-radius: 10px;*/