﻿.menu-ef-1 {
    height: 180px;
    width: 180px;
    margin: 0px auto;
    box-shadow: 0px 1px 1px 1px #00000040;
    border-radius: 10px;
    margin-bottom: 20px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.menu-ef-1-content {
    height: 120px;
}

.menu-ef-1-icon {
    height: 100%;
}

    .menu-ef-1-icon span a {
        margin-top: 20px;
        color: #346CAB;
    }

        .menu-ef-1-icon span a:hover {
            color: #1B3862;
            cursor: pointer;
            text-decoration: none;
        }

.menu-ef-1-footer {
    height: 60px;
    font-weight:bold;
    font-size: 16px;
}

    .menu-ef-1-footer a {
        color: #000;
    }

        .menu-ef-1-footer a:hover {
            color: #000;
            text-decoration: none;
        }
