﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioActivacion

@{
    var sExito = ViewBag.Exito;
    var sExito2 = ViewBag.Exito2;
    var sMensaje = ViewBag.Mensaje;
    var sUsuario = ViewBag.Usuario;
    var sNombre = ViewBag.Nombres;
}

<div>
    @{
        if (sExito == true)
        {
            <div class="alert alert-success">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de registrar correctamente al Usuario:&nbsp;</span>
                    <span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>
                    <span class="font-weight-bold"></span><span>@sMensaje</span>
                </div>
            </div>
        }

        else if (sExito2 == true)
        {
            <div class="alert alert-success">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de Activar correctamente al Usuario:&nbsp;</span>
                    <span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>
                    <span class="font-weight-bold"></span><span>@sMensaje</span>
                </div>
            </div>
        }

        else
        {
            if (sMensaje != "")
            {
                <div class="alert alert-warning">
                    <div>
                        <span class=""><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>@sMensaje</span>
                    </div>
                </div>
            }
        }

        if (sExito2 != true)
        {
            using (Html.BeginForm("_ActivarCuenta", "Account", FormMethod.Post, new { @class = "frmRegistro", role = "form", @id = "frmActivarCuenta" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.documentoIdentidad, new { Value = ViewBag.Usuario })
                @Html.HiddenFor(model => model.celular, new { Value = ViewBag.Celular })

                <h6>Ingrese el código de activación que recibió en su celular:</h6>
                <div class="row">
                    <div class="col-12">
                        <div class="row form-group">
                            <div class="col-4">
                                @Html.TextBoxFor(model => model.codigoactivacion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.codigoactivacion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-4">
                                <input type="submit" class="btn btn-green" value="Activar Cuenta" id="btnActivar" />
                            </div>
                            <div class="col-4">
                                <button type="button" id="btnReenviar" class="btn btn-outline-info">Reenviar Código</button>
                                <span id="mensajeenviado" style="visibility:hidden" class="field-validation-error text-info">Código reenviado</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<script>

    $(document).ready(inicialize);

    $("#btnReenviar").click(function () {

        var documentoIdentidad = $("#documentoIdentidad").val();

        var obj = {
            Parametros: {
                documentoIdentidad: documentoIdentidad,
                codigoActivacion: ''
            }
        };

        jQuery.ajax({

            type: 'POST',
            url: "/OficinaVirtual/Account/ReenviarSMS",
            data: obj,
            beforeSend: function () {
                $('#modPreload').modal('show');
            },
            success: function (data) {
                $("#btnReenviar").prop('disabled', true);
                $("#mensajeenviado").css("visibility", "visible");
                $('#modPreload').modal('hide');
            },
            error: function (xhr) {
                $('#modPreload').modal('hide');
            }
        });
    });

    function inicialize() {
        $("#frmActivarCuenta").submit(function (event) {
            event.preventDefault();
            click_btnActivar($(this));
        });
    }

    function click_btnActivar(oForm) {
        $("#btnActivar").prop('disabled', true);

        jQuery.ajax({
            type: oForm[0].method,
            url: oForm[0].action,
            data: $(oForm[0]).serialize(),
            dataType: 'HTML',
            success: function (oDatos) {
                jQuery('.modLogin').find('.modal-body').html(oDatos);
            }
        });
    }
</script>