﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioActualizar

@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
}

<style type="text/css">
    .pass {
        -webkit-text-security: circle;
    }
</style>

<script type="text/javascript" src="~/Scripts/Account/_ActualizarDatos.js"></script>

<div class="contentActualizar">
    @{
        if (sExito == true)
        {
            <div class="alert alert-success">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;Se acaba de actualizar correctamente al usuario.</span>
                </div>
            </div>
        }
        else
        {
            if (sMensaje != "")
            {
                <div class="alert alert-warning">
                    <div>
                        <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                    </div>
                </div>
            }
        }

        using (Html.BeginForm("_ActualizarDatos", "Account", FormMethod.Post, new { @class = "oFrm form-horizontal", role = "form" }))
        {
            <header>
                <h2 class="lighBlue">Atualizar datos</h2>
            </header>
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="actualizarDatos">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.NombreCompleto, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-9">
                                <span>@Html.DisplayFor(model => model.NombreCompleto)</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.telefono, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*
                            <div class="form-group row">
                                <div class="col-sm-8">
                                    <span>¿Desea recibir información de cortes programados?</span>
                                </div>
                                <div class="col-sm-4">
                                    <label class="radio-inline">
                                        <input type="radio" value="option1"> Si
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="option2"> No
                                    </label>
                                </div>
                            </div>
                        *@
                        <div class="form-group row">
                            <div class="col-sm-5 ml-auto">
                                <button type="submit" class="btn btn-green"> Actualizar Datos</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6" style="border-left: 3px solid gray">
                    <div class="actualizarContraseña">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.claveAntigua, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-6">
                                <input type="hidden" id="claveGuardada" value="@Session["clave"]">
                                @Html.TextBoxFor(model => model.claveAntigua, new { @class = "form-control pass", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.claveAntigua, "", new { @class = "text-danger ValClave" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.clave, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.clave, new { @class = "form-control pass", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                @Html.LabelFor(model => model.confirmacionClave, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(model => model.confirmacionClave, new { @class = "form-control pass", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.confirmacionClave, "", new { @class = "text-danger ValConfirmacionClave" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-5 ml-auto">
                                <button type="submit" class="btn btn-green btnRegistrar">Cambiar Contraseña</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>