﻿@{

}
<link href="~/Content/Account/_CambiarClave.css" rel="stylesheet" />

<div id="divAlert"></div>
<div id="divStep01" class="div-step">
    <div class="row form-group">
        <div class="col-sm-12 col-md-8">
            <label for="txtDNI">Nro. Doc. Identidad (Usuario)<span class="field-required">*</span>:</label>
            <input type="text" id="txtDNI" class="form-control" placeholder="Ingrese su Nro. Doc. Identidad" maxlength="12" pattern="[0-9]{8,12}" required>
            <div class="invalid-feedback">El Doc. Identidad es obligatorio.</div>
        </div>
    </div>
    <div class="row divider">
        <div class="col-sm-12">
            <button type="button" id="btnSiguiente" class="btn btn-outline-info"> Siguiente</button>
        </div>
    </div>
</div>
<div id="divStep02" class="div-step d-none">
    <h6 id="hTitleStep02">Usuario: </h6>
    <div id="divTypeConfirmStep02" class="row form-group d-none">
        <div class="col-sm-6 col-md-5">
            <input type="radio" id="rdConfirmEmail" name="chkConfirm" class="term-cond" checked />
            <label for="rdConfirmEmail" class="control-label">Email</label>
        </div>
        <div class="col-sm-6 col-md-5">
            <input type="radio" id="rdConfirmPhone" name="chkConfirm" class="term-cond" />
            <label for="rdConfirmPhone" class="control-label">Telefono</label>
        </div>
        <div class="invalid-feedback"></div>
    </div>
    <div class="row form-group">
        <div id="divConfirmEmailStep02" class="col-sm-12">
            <label for="txtEmail" class="control-label">Email<span class="field-required">*</span></label>
            <input type="email" id="txtEmail" class="form-control" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required />
            <div class="invalid-feedback">El Email es incorrecto.</div>
        </div>
        <div id="divConfirmPhoneStep02" class="col-sm-12 d-none">
            <label for="txtPhone">Celular<span class="field-required">*</span>:</label>
            <input type="tel" id="txtPhone" class="form-control" placeholder="Ingrese su Celular" maxlength="9" required>
            <span class="invalid-feedback">Celular incompleto</span>
        </div>
    </div>
    <div class="row divider">
        <div class="col-sm-4">
            <button type="button" id="btnAtras" class="btn btn-outline-info"> Atrás</button>
        </div>
        <div class="col-sm-6 offset-sm-2">
            <button type="button" id="btnSave" class="btn btn-success"> Enviar</button>
        </div>
    </div>
</div>

<script src="~/Scripts/Util.js?@Util.IdVersion"></script>
<script type="text/javascript" src="~/Scripts/Account/_CambiarClave.js?@Util.IdVersion"></script>