﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioCambioContraseña
@{
    var sError = ViewBag.Error;
    var sMensaje = ViewBag.Mensaje;
}

<script type="text/javascript" src="~/Scripts/Account/_CambiarClave.js"></script>

<div>
    @{
        if (sMensaje != "")
        {
            if (sError == "0")
            {
                <div class="alert alert-success">
                    <div>
                        <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning">
                    <div>
                        <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i></span><span>&nbsp;@sMensaje</span>
                    </div>
                </div>
            }
        }

        if (sError == "" && sMensaje == "")
        {
            using (Html.BeginForm("_CambiarClave", "Account", FormMethod.Post, new { @class = "frmClave", role = "form", @id = "frmClave" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.LabelFor(model => model.usuario, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-4">
                            <input type="submit" class="btn btn-rojo btnEnviar" value="Enviar" />
                        </div>
                    </div>
                </div>
                <div class="alert alert-warning">
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i></span>&nbsp;<span>Se enviará un correo con un link que lo direccionará a una página para que reestablezca su clave.</span>
                </div>
            }
        }
    }
</div>