﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioRegistro

@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
    var sUsuario = ViewBag.Usuario;
    var sNombre = ViewBag.Nombres;
    var oTipoDocumento = ViewBag.TipoDocumentos;
    var vs = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] ?? "0";
}

<style type="text/css">
    .pass {
        -webkit-text-security: circle;
    }

    .div-step {
        padding: 0px 20px;
    }

        .div-step h3 {
            padding-bottom: 20px;
        }

    .divider {
        margin-top: 20px;
        padding-top: 10px;
        border-top: solid 1px silver;
    }

    .term-cond {
        height: 1.2rem;
        width: 1.2rem;
        margin-right: 10px;
    }

    .div-term {
        text-align: right;
    }

    @@media (max-width: 767px) {
        .div-term {
            text-align: left;
        }

            .div-term label {
                display: inline;
            }

        #divStep02 > .row:last-child > div:first-child {
            order: 13;
            margin-top: .3rem;
        }
    }
</style>

<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/select2-custome.css" rel="stylesheet" />
<div>
    @{
        if (sExito == true)
        {
            <div class="alert alert-success">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de registrar correctamente al Usuario:&nbsp;</span>
                    <span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>
                    <span class="font-weight-bold"></span><span>@sMensaje</span>
                </div>
            </div>
        }
        else
        {
            if (sMensaje != "")
            {
                <div class="alert alert-warning">
                    <div>
                        <span class=""><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>@sMensaje</span>
                    </div>
                </div>
            }

            using (Html.BeginForm("_Usuario", "Account", FormMethod.Post, new { @class = "frmRegistro", role = "form", @id = "frmRegistro" }))
            {
                @Html.AntiForgeryToken()

                <div id="divStep01" class="div-step">
                    <h3>Mis datos de acceso:</h3>
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            <div class="row form-group">
                                <div class="col-sm-12 col-md-6">
                                    @Html.LabelFor(model => model.tipodocumento, new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.tipodocumento, (IEnumerable<SelectListItem>)oTipoDocumento)
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label class="control-label" for="documentoIdentidad">Doc. Identidad (Usuario)</label>
                                    @Html.TextBoxFor(model => model.documentoIdentidad, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.documentoIdentidad, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    @Html.LabelFor(model => model.clave, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.clave, new { @class = "form-control pass", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    @Html.LabelFor(model => model.confirmacionclave, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.confirmacionclave, new { @class = "form-control pass", @autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.confirmacionclave, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-sm-12 col-md-4 offset-md-8">
                            <button type="button" id="btnSiguiente" class="btn btn-outline-info"> Siguiente</button>
                        </div>
                    </div>
                </div>
                <div id="divStep011" class="div-step d-none">
                    <h3>Mis Datos Personales: </h3>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4">
                            @Html.LabelFor(model => model.nombres, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.nombres, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12 col-md-4">
                            @Html.LabelFor(model => model.aPaterno, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.aPaterno, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.aPaterno, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12 col-md-4">
                            @Html.LabelFor(model => model.aMaterno, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.aMaterno, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.aMaterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4">
                            <label for="cmbDepNac" class="control-label"> Departamento Nacimiento</label>
                            <select id="cmbDepNac" class="form-control"></select>
                            <span class="field-validation-error text-danger" style="display:block;"></span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="cmbProNac" class="control-label"> Provincia de Nacimiento</label>
                            <select id="cmbProNac" class="form-control"></select>
                            <span class="field-validation-error text-danger" style="display:block;"></span>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label for="cmbDisNac" class="control-label"> Distrito de Nacimiento</label>
                            <select id="cmbDisNac" class="form-control"></select>
                            <span class="field-validation-error text-danger" style="display:block;"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-4">
                            @Html.LabelFor(model => model.fechaNacimiento, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.fechaNacimiento, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.fechaNacimiento, "", new { @class = "text-danger ValFechaNacimiento" })
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-sm-12 col-md-4">
                            <button type="button" id="btnAnterior011" class="btn btn-outline-info"> Anterior</button>
                        </div>
                        <div class="col-sm-12 col-md-4 offset-md-4">
                            <button type="button" id="btnSiguiente011" class="btn btn-info"> Siguiente</button>
                        </div>
                    </div>
                </div>
                <div id="divStep02" class="div-step d-none">
                    <h3>Mis Datos de Conatacto: </h3>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="txtConfirmaEmail" class="control-label"> Confirmar Correo Electrónico</label>
                            <input type="text" id="txtConfirmaEmail" class="form-control" onSelectStart="return false" onPaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                            <span class="field-validation-error text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 col-md-6">
                            @Html.LabelFor(model => model.celular, "Celular", new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.celular, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="txtConfirmacelular" class="control-label"> Confirmar Celular</label>
                            <input type="text" id="txtConfirmacelular" class="form-control" onSelectStart="return false" onPaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                            <span class="field-validation-error text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 div-term">
                            <input type="checkbox" id="chkTerminos" class="term-cond" />
                            <label for="chkTerminos" class="control-label"> Acepto los <a href="~/Home/TerminosCondiciones" target="_blank"> Términos Y Condiciones</a></label>
                            <span class="field-validation-error text-danger" style="display:block;"></span>
                        </div>
                    </div>
                    <div class="row divider">
                        <div class="col-sm-12 col-md-4">
                            <button type="button" id="btnAnterior" class="btn btn-outline-info"> Anterior</button>
                        </div>
                        <div class="col-sm-12 col-md-4 offset-md-4">
                            <input type="submit" class="btn btn-green" value="Registrarse" id="btnRegistrar" />
                        </div>
                    </div>
                </div>
                <div class="row d-none">
                    <div class="col-sm-12 col-md-4">
                        @Html.LabelFor(model => model.telefono, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.telefono, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 col-md-4">
                        @Html.LabelFor(model => model.NroSuministro, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.NroSuministro, new { @class = "form-control", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.NroSuministro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-sm-12 col-md-4">
                        @Html.HiddenFor(model => model.ExtraParametros, new { @class = "form-control", @autocomplete = "off" })
                    </div>
                </div>
            }
        }
    }
</div>

<script src="~/Scripts/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
<script src="~/Scripts/Util.js?vs=@vs" type="text/javascript"></script>
<script src="~/Scripts/Account/_Usuario.js?@Util.IdVersion" type="text/javascript"></script>