﻿@model OficinaVirtual.Entidad.Consulta.clsUsuarioActivacion

@{
    var sExito = ViewBag.Exito;
    var sExito2 = ViewBag.Exito2;
    var sMensaje = ViewBag.Mensaje;
    var sUsuario = ViewBag.Usuario;
    var sNombre = ViewBag.Nombres;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Activar Cuenta</title>
    <link href="~/Content/Home/Interrupciones.css" rel="stylesheet" />
</head>
<body>

    <div class="container page-content">

        <br />
        <div class="row">

            <div>
                @{
                    if (sExito == true)
                    {
                        <div class="alert alert-success">
                            <div>
                                <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de registrar correctamente al Usuario:&nbsp;</span>
                                <span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>
                                <span class="font-weight-bold"></span><span>@sMensaje</span>
                            </div>
                        </div>

                    }
                    else if (sExito2 == true)
                    {
                        <div class="alert alert-success">
                            <div>
                                <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de Activar correctamente al Usuario:&nbsp;</span>
                                <span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>
                                <span class="font-weight-bold"></span><span>@sMensaje</span>
                            </div>
                        </div>

                    }
                    else
                    {
                        if (sMensaje != "")
                        {
                            <div class="alert alert-warning">
                                <div>
                                    <span class=""><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>@sMensaje</span>
                                </div>
                            </div>
                        }
                    }

                    if (sExito2 != true)
                    {

                        using (Html.BeginForm("ActivarCuenta", "Account", FormMethod.Post, new { @class = "frmRegistro", role = "form", @id = "frmActivarCuenta2" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.documentoIdentidad, new { Value = ViewBag.Usuario })
                            @Html.HiddenFor(model => model.celular, new { Value = ViewBag.Celular })

                            <h6>Ingrese el código de activación que recibió en su celular:</h6>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row form-group">
                                        <div class="col-4">
                                            @Html.TextBoxFor(model => model.codigoactivacion, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.codigoactivacion, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-4">
                                            <input type="submit" class="btn btn-green" value="Activar Cuenta" id="btnActivarCuenta" />
                                        </div>
                                        <div class="col-4">
                                            <button type="button" id="btnReenviarSMS" class="btn btn-outline-info">Reenviar Código</button>
                                            <span id="mensajeenviado" style="visibility:hidden" class="field-validation-error text-info">Código reenviado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>

<script>

    $(document).ready(inicialize);

    $("#btnReenviarSMS").click(function () {

        var documentoIdentidad = $("#documentoIdentidad").val();

        var obj = {
            Parametros: {
                documentoIdentidad: documentoIdentidad,
                codigoActivacion: ''
            }
        };

        jQuery.ajax({

            type: 'POST',
            url: "/OficinaVirtual/Account/ReenviarSMS",
            data: obj,
            beforeSend: function () {
                $('#modPreload').modal('show');
            },
            success: function (data) {
                $("#btnReenviarSMS").prop('disabled', true);
                $("#mensajeenviado").css("visibility", "visible");
                $('#modPreload').modal('hide');
            },
            error: function (xhr) {
                $('#modPreload').modal('hide');
            }
        });

    });

    function inicialize() {

        $("#frmActivarCuenta2").submit(function (event) {
            // event.preventDefault();
            click_btnActivarCuenta($(this));
        });

    }

    function click_btnActivarCuenta(oForm) {

        $("#btnActivarCuenta").prop('disabled', true);

        jQuery.ajax({
            type: oForm[0].method,
            url: oForm[0].action,
            data: $(oForm[0]).serialize(),
            dataType: 'HTML',
            success: function (oDatos) {

            }
        });
    }
</script>