﻿@model OficinaVirtual.Entidad.Consulta.clsResultado
@{
    ViewBag.Title = "ConfirmarEmail";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    var e = Model.IdError > 0;
    var d = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
}

<script>
    function Redirect() {
        setTimeout(function () {
            window.location.href = '@Url.Action("Login")';
        }, 3000);
    }

    $(document).ready(function (a) {
        var d = @Html.Raw(d),
            c = $('#divAlert');

        c.html(@(e? "d.Mensaje" : "d.Datos.Result"));

        @(e? "" : "Redirect();")
    });
</script>

<div id="divAlert" class="alert alert-@(e?"danger":"success")">
</div>