﻿@{
    ViewBag.Title = "RestablecerPassword";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<link href="~/Content/Shared/Form.css" rel="stylesheet" />
<style>
    .bn-container {
        width: 400px;
    }

    @@media (max-width: 767px) {
        .bn-container {
            width: 98%;
        }
    }
</style>
<input type="hidden" id="txtValues" value="" data-id="@ViewBag.Id" data-login="@Url.Action("Login")" />

<div class="container bn-container">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 dbBoletines">
            <h2>Restablecer Contraseña</h2>
        </div>
    </div>
    <div id="divAlert"></div>
    <div class="card" id="divStep01">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="txtPassword" class="control-label"> Nueva Contraseña<span class="field-required">*</span></label>
                    <input type="password" id="txtPassword" class="form-control" required />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <label for="txtPasswordRe" class="control-label"> Re-Nueva Contraseña<span class="field-required">*</span></label>
                    <input type="password" id="txtPasswordRe" class="form-control" required />
                    <div class="invalid-feedback"></div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row divider">
                <div class="col-sm-12">
                    <input type="button" id="btnSave" class="btn btn-green" value="Grabar" />
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Account/RestablecerPassword.js?@Util.IdVersion"></script>