﻿@using System.Text
@using System.Web.Routing
@using OficinaVirtual.Cliente.General.Controllers
@using OficinaVirtual.Entidad.General

@helper FunctionH()
{

}

@functions{

    #region Property

    public static clsUsuario Usuario { get { return (clsUsuario)Session[BaseController.UserSessionName]; } }

    #endregion Property

    #region Public

    public static String GetURL()
    {
        var url = ((Route)Request.RequestContext.RouteData.Route).Url;

        url = url.Replace("/{id}", "");

        foreach (var item in Request.RequestContext.RouteData.Values)
            url = url.Replace(String.Format("{{{0}}}", item.Key), item.Value.ToString());

        return url;
    }

    public static HtmlString LoadMenu(Int32? value)
    {
        var message = new StringBuilder();

        foreach (var item in Usuario.Opciones.Where(t => t.IdOpcionPadre == value && t.IdAplicacion == Usuario.IdAplicacionActivo))
        {
            var list = Usuario.Opciones.Where(t => t.IdOpcionPadre == item.IdOpcion).ToList();
            var hasSub = list.Count > 0;
            var dir = "javascript:void(0)";

            if (item.Directorio != null) dir = VirtualPathUtility.ToAbsolute("~/" + item.Directorio);

            message.AppendFormat("<li class=\"site-menu-item{0}\">", hasSub ? " has-sub" : "");

            if (hasSub) message.Append("<a href=\"javascript:void(0)\">");
            else message.AppendFormat("<a class=\"animsition-link\" href=\"{0}\">", dir);

            if (value == null) message.Append("<i class=\"site-menu-icon " + (String.IsNullOrEmpty(item.Icono) ? "md-view-dashboard" : item.Icono) + "\" aria-hidden=\"true\"></i>");

            message.AppendFormat("<span class=\"site-menu-title\">{0}</span>", item.Nombre);

            if (hasSub) message.Append("<span class=\"site-menu-arrow\"></span>");

            message.Append("</a>");

            if (hasSub) message.Append("<ul class=\"site-menu-sub\">");

            message.Append(LoadMenu(item.IdOpcion));

            if (hasSub) message.Append("</ul>");

            message.Append("</li>");
        }

        return new HtmlString(message.ToString());
    }

    #endregion Public
}