﻿.error {
    color: red;
    background-color: #acf;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    background-color: grey;
}

.stepwizard-row:before {
    top: 11px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #346cab;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 4px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}



.btn-colour-1 {
    color: #fff;
    background-color: #346cab;
    border-color: #346cab;
    font-weight: bolder;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-colour-1:hover,
    .btn-colour-1:active,
    .btn-colour-1:focus,
    .btn-colour-1.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #314e6f;
        color: #ffffff;
        border-color: #346cab;
        font-weight: bolder;
    }

.btn-colour-2 {
    color: #fff;
    background-color: #346cab;
    border-color: #346cab;
    line-height: 1.428571429;
    border-radius: 15px;
}

    .btn-colour-2:hover,
    .btn-colour-2:active,
    .btn-colour-2:focus,
    .btn-colour-2.active {
        /* let's darken #004E64 a bit for hover effect */
        background: #314e6f;
        color: #ffffff;
        border-color: #346cab;
    }
