﻿


.pass {
    -webkit-text-security: circle;
}

.fondo {
    background-color: #346cab0d;
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 6px;
    font-weight: 600;
}

.padding {
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 6px;
    font-size: small;
}

.tabs {
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

    #tab-button li {
        display: table-cell;
        width: 20%;
    }

        #tab-button li a {
            display: block;
            padding: .5em;
            background: #6c757d12;
            border: 1px solid #ddd;
            text-align: center;
            color: rgb(136, 136, 136);
            text-decoration: none;
            transition: all 0.1s ease;
        }

        #tab-button li:not(:first-child) a {
            border-left: none;
        }

        #tab-button li a:hover,
        #tab-button .is-active a {
            border-bottom-color: transparent;
            background: #359f37;
            color: white;
            border-radius: 6px;
            transition: all 0.1s ease;
        }


            #tab-button li a:hover,
            #tab-button .is-active a:hover {
                border-bottom-color: transparent;
                background: #218838;
                color: #fff;
                border-radius: 6px;
                border-color: #1e7e34;
                transition: all 0.1s ease;
            }


 


/*.tab-contents {
      padding: .5em 2em 1em;
      border: 1px solid #ddd;
    }*/


.tab-button-outer {
    display: none;
}
/*.tab-contents {
      margin-top: 20px;
    }*/

.tab-button-outer {
    position: relative;
    /*z-index: 2;*/
    display: block;
}

.tab-select-outer {
    display: none;
}
/*.tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
      }*/



.panel.panel-gray {
    border-radius: 6px;
    border-color: #6c757d12;
    border: 1px solid #ddd;
    height: 300px;
    width: 100%;
}

    .panel.panel-gray .panel-heading {
        border-radius: 0px;
        color: #495057;
        background-color: #e7e7e8;
        font-size: small;
        padding: .5em;
        font-weight: 600;
    }

    .panel.panel-gray .panel-body {
        background-color: #F2F2F2;
        color: #4D4D4D;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }


/*//////////////////*/


.file-upload .form-control {
    height: 135px;
    outline: 1px dashed #ccc;
    outline-offset: -15px;
    background-color: #eee;
}

    .file-upload .form-control:before {
        content: "\f093";
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 3em;
        left: 0;
        right: 0;
        display: block;
        margin: 20px auto;
        text-align: center;
    }

    .file-upload .form-control:after {
        content: attr(data-message);
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        display: block;
        font-size: small;
    }

    .file-upload .form-control input[type="file"] {
        cursor: pointer;
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

body.dragged .file-upload .form-control input[type="file"] {
    /* Make sure it is full screen, whatever the position absolute container */
    position: fixed;
    top: -50vh;
    bottom: -50vh;
    left: -50vw;
    right: -50vw;
    height: 200vh;
    width: 200vw;
    z-index: 10002;
}

body:after {
    /*content: '';
    font-size: 2em;
    text-align: center;
    line-height: 100vh;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #eee;
    z-index: 10000;
    border-radius: 4px;
    border: thin solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease;*/
}

body.dragged:after {
    opacity: 1;
    visibility: visible;
}

.ico:hover {
    color: #359F37;
}