﻿@using OficinaVirtual.Cliente.General.App_Code
@using OficinaVirtual.Entidad.General

@{
    ViewBag.Title = "Exportar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-main">
    <div class="page-content">
        <div id="panMain" class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">Exportar:</h3>
            </header>
            <div class="panel-body cards">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="icon md-calendar" aria-hidden="true"></i>Fechas</h3>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Descarga el archivo EXCEL.
                                </p>
                            </div>
                            <div class="panel-footer">
                                <a id="btnExportInic" href="~/Proyectos/ExportarIniciativa" class="btn btn-animate btn-animate-vertical btn-info">
                                    <span>
                                        <i class="icon md-download" aria-hidden="true"></i>
                                        Descargar...
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="icon" aria-hidden="true">(S/)</i>Importes</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        @Html.ToComboBox(new Dictionary<String, Object> {
                                            { "Id", "cmbProgram" },
                                            { "Entity", "gnl.ProyPrograma" },
                                            { "Label", "Tipo programa:" },
                                            { "IsLoad", true },
                                            { "Value", 2 },
                                            { "Parametros", new Dictionary<String, Object>{
                                                { "IdProyUsuario", Util.Usuario.IdUsuario }
                                            }}
                                        })
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <button id="btnExportImp" class="btn btn-animate btn-animate-vertical btn-info">
                                    <span>
                                        <i class="icon md-download" aria-hidden="true"></i>
                                        Descargar...
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-md-block visible-lg-block hidden-xlg"></div>
                <div class="row">
                    <div class="col-sm-4 col-md-3">
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <label>&nbsp;</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>