﻿@using OficinaVirtual.Cliente.General.App_Code
@using OficinaVirtual.Entidad.General

@{
    ViewBag.Title = "Registrar Fecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-main">
    <div class="page-content">
        <div id="panMain" class="panel">
            <header class="panel-heading">
                <h3 class="panel-title">Registro de Fechas:</h3>
            </header>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbEmpresa" },
                            { "Entity", "gnl.Empresa" },
                            { "Label", "Empresa:" },
                            { "IsLoad", true },
                            { "Value", Util.Usuario.IdEmpresa > 0 ? Util.Usuario.IdEmpresa : 3 },
                            { "Disabled", Util.Usuario.IdEmpresa > 0 ? "Disabled" : "" },
                            { "Parametros", new Dictionary<String, Object>{}}
                        })
                    </div>
                    <div class="col-md-2">
                        <label for="cmbType">Buscar por:</label>
                        <select id="cmbType" class="form-control" data-plugin="select2">
                            <option value="1">Iniciativa</option>
                            <option value="2">API</option>
                            <option value="3">Viabilidad</option>
                            <option value="4">Descripcion</option>
                            <option value="5">Coordinador</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="txtCode">Valor:</label>
                        <input id="txtCode" type="text" class="form-control" value="" placeholder="Texto a buscar" />
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <label>&nbsp;</label>
                        <button id="btnSearch" type="button" class="btn btn-animate btn-animate-vertical btn-info margin-top-20">
                            <span>
                                <i class="icon md-refresh" aria-hidden="true"></i>
                                Buscar...&nbsp;&nbsp;&nbsp;
                            </span>
                        </button>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblResult" class="table table-hover dataTable table-striped width-full margin-top-30">
                            <thead>
                                <tr>
                                    <th>Acción</th>
                                    <th>Empresa</th>
                                    <th>Nro.Iniciativa</th>
                                    <th>Coordinador / Supervisor</th>
                                    <th>Nro.Viabilidad</th>
                                    <th>Nro.API</th>
                                    <th>Fase</th>
                                    <th>Fecha Minima</th>
                                    <th>Descripción</th>
                                    <th>Comentario</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divHidden" style="display:none;">
    @Html.ToComboBox(new Dictionary<String, Object> {
        { "Id", "cmbCoord" },
        { "Entity", "gnl.ProyCoordinador" },
        { "Label", "Coordinador:" },
        { "IsLoad", true },
        { "IsLoadChange", false },
        { "Parametros", new Dictionary<String, Object>{
            { "IdEmpresa", Util.Usuario.IdEmpresa }
        }}
    })
    <div id="spnLoad" class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div id="modDetalle" class="modal fade modal-3d-flip-horizontal" aria-hidden="true" aria-labelledby="modFilterTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modFilterTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="txtA">A) Ciclo:</label>
                        <input id="txtA" type="text" class="form-control" readonly />
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbA" },
                            { "Entity", "gnl.ProyFase" },
                            { "Label", "A) Ciclo:" },
                            { "IsLoad", true },
                            { "IsLoadChange", false },
                            { "Style", "display:none;" },
                            { "Parametros", new Dictionary<String, Object>{
                                { "IdPadre", 0 }
                            }}
                        })
                    </div>
                    <div class="col-sm-6">
                        <label for="txtB">B) Fase:</label>
                        <input id="txtB" type="text" class="form-control" readonly />
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbB" },
                            { "Entity", "gnl.ProyFase" },
                            { "Label", "B) Fase:" },
                            { "Style", "display:none;" },
                            { "Parametros", new Dictionary<String, Object>{
                                { "IdPadre", 0 }
                            }}
                        })
                    </div>
                </div>
                <div class="row margin-top-20">
                    <div class="col-sm-6">
                        <label for="txtC">C) Sub-Fase:</label>
                        <input id="txtC" type="text" class="form-control" readonly />
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbC" },
                            { "Entity", "gnl.ProyFase" },
                            { "Label", "C) Sub-Fase:" },
                            { "Style", "display:none;" },
                            { "Parametros", new Dictionary<String, Object>{
                                { "IdPadre", 0 }
                            }}
                        })
                    </div>
                    <div class="col-sm-6">
                        <label for="txtD">D) Actores:</label>
                        <input id="txtD" type="text" class="form-control" readonly />
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbD" },
                            { "Entity", "gnl.ProyFase" },
                            { "Label", "D) Actores:" },
                            { "Style", "display:none;" },
                            { "Parametros", new Dictionary<String, Object>{
                                { "IdPadre", 0 }
                            }}
                        })
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div id="divE">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label for="txtComent">Comentario:</label>
                        <input id="txtComent" type="text" class="form-control" maxlength="128" />
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <button id="btnCancel" type="button" class="btn btn-default btn-pure margin-0 waves-effect waves-classic" data-dismiss="modal"> Cancelar</button>
                        <button id="btnSave" type="button" class="btn btn-animate btn-animate-vertical btn-info">
                            <span>
                                <i class="icon md-floppy" aria-hidden="true"></i>
                                Guardar
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modProgram" class="modal fade modal-3d-flip-horizontal" aria-hidden="true" aria-labelledby="modProgramTitle" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modProgramTitle"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        @Html.ToComboBox(new Dictionary<String, Object> {
                            { "Id", "cmbProgram" },
                            { "Entity", "gnl.ProyPrograma" },
                            { "Label", "Tipo programa:" },
                            { "IsLoad", true },
                            { "Value", 2 },
                            { "Parametros", new Dictionary<String, Object>{
                                { "IdProyUsuario", Util.Usuario.IdUsuario }
                            }}
                        })
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtImpAcu" class="floating-label">Importe Acumulado (S/):</label>
                        <input id="txtImpAcu" type="text" class="form-control text-right" value="0.00" readonly>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtImpMen" class="floating-label">Importe Menor (S/):</label>
                        <input id="txtImpMen" type="text" class="form-control text-right" value="0.00" readonly>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-sm-12 col-md-8">
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <label for="txtImpIni" class="floating-label">Importe Iniciativa (S/):</label>
                        <input id="txtImpIni" type="text" class="form-control text-right" value="0.00" readonly>
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div class="col-sm-2">
                        <button id="btnImpPrev" type="button" class="btn btn-animate btn-animate-vertical btn-info">
                            <span>
                                <i class="icon md-skip-previous" aria-hidden="true"></i>
                                <span>-1</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-sm-8 text-center">
                        <span id="lblImpYear" class="font-size-30 font-weight-900 cyan-600">0</span>
                    </div>
                    <div class="col-sm-2">
                        <button id="btnImpNext" type="button" class="btn btn-animate btn-animate-vertical btn-info">
                            <span>
                                <i class="icon md-skip-next" aria-hidden="true"></i>
                                <span>1</span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div id="divP" class="txt-edit">
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP1" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP1" class="floating-label">Enero:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP2" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP2" class="floating-label">Febrero:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP3" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP3" class="floating-label">Marzo:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP4" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP4" class="floating-label">Abril:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP5" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP5" class="floating-label">Mayo:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP6" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP6" class="floating-label">Junio:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP7" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP7" class="floating-label">Julio:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP8" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP8" class="floating-label">Agosto:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP9" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP9" class="floating-label">Setiembre:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP10" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP10" class="floating-label">Octubre:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP11" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP11" class="floating-label">Noviembre:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="form-group form-material floating">
                                <div class="input-group">
                                    <span class="input-group-addon">S/</span>
                                    <div class="form-control-wrap">
                                        <input id="txtP12" type="number" class="form-control" min="0" step="0.01">
                                        <label for="txtP12" class="floating-label">Diciembre:</label>
                                    </div>
                                    <span class="input-group-btn">
                                        <button class="btn btn-info waves-effect waves-light btn-sm" type="button">
                                            <i class="icon md-alarm-snooze" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top-25">
                    <div class="col-md-4">
                        <label for="txtImpTotal" class="floating-label">Importe Total (S/):</label>
                        <input id="txtImpTotal" type="text" class="form-control text-right" value="0.00" readonly>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-5">
                        <div class="floating-label">&nbsp;</div>
                        <button id="btnCancelImp" type="button" class="btn btn-default btn-pure margin-0 waves-effect waves-classic" data-dismiss="modal"> Cancelar</button>
                        <button id="btnSaveImp" type="button" class="btn btn-animate btn-animate-vertical btn-info">
                            <span>
                                <i class="icon md-floppy" aria-hidden="true"></i>
                                Guardar
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>