﻿/*
    Creación        : 2019-05-17
    Responsable     : JONATHAN VALDERRAMA
*/

.dbBoletines h2 {
    font-size: 2rem;
}

#btnBuscar {
    bottom: 0px;
    position: absolute;
}

#divResult {
    margin-top: 20px;
    min-height: 300px;
}

    #divResult table {
        font-size: 0.8rem;
    }

    #divResult h6 {
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }

    #divResult table td, #divResult table th {
        padding: 0.5rem;
    }

.table-bordered {
    border: 0px solid #dee2e6;
}