﻿/*
    Creación        : 2019-03-01
    Responsable     : JONATHAN VALDERRAMA
*/

.page-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#btnBuscar {
    bottom: 0px;
    position: absolute;
}

#divResult {
    margin-top: 20px;
    min-height: 300px;
}

.border-info {
    border-color: #43B02A !important;
}

.card-header {
    font-weight: bold;
    background-color: rgba(67,176,42,.1);
    border-bottom: 1px solid rgba(67,176,42,.125);
}

    .card-header > span:last-child {
        float: right;
    }

.card-text {
    font-size: 14px;
    text-align: justify;
}

.card-body{
    padding: .5rem;
}