﻿/*
    Creación        : 2019-05-17
    Responsable     : JONATHAN VALDERRAMA
*/

iframe {
    width: 100%;
    height: 100%;
}

.contentLugares header h2 {
    border-bottom: 2px solid;
    padding-bottom: .5rem;
    color: darkcyan;
    margin-bottom: 1.2rem;
    margin-right: 1rem;
}

.contentLugares header select {
    display: inline;
    width: 18rem;
}