﻿/*
    Creación        : 2020-07-26
    Responsable     : JONATHAN VALDERRAMA
*/

.bn-container {
    max-width: 550px;
    margin: 0 auto;
}

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.3rem;
        font-weight: bold;
    }

.bn-footer {
    margin-top: 1.5rem;
}

.field-required {
    color: #d93025;
    font-size: 1.2rem;
    line-height: 135%;
}

@media (min-width: 768px) {
    #btnSearch {
        bottom: 0;
        position: absolute;
    }
}

@media (max-width: 767px) {
    .bn-container {
        width: 95%;
    }

    #txtIdNroServicio {
        margin-bottom: .3rem;
    }
}