﻿/*
    Creación        : 2020-07-24
    Responsable     : JONATHAN VALDERRAMA
*/

.pageMain {
    padding-bottom: 0px !important;
}

.bn-container {
    margin: 0 auto;
}

.rowcontainer {
    margin-right: 1rem;
}

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 2rem;
        font-weight: bold;
    }

.qst-frec {
    margin-top: 2rem;
}

    .qst-frec span {
        font-size: 1rem;
        font-weight: 600;
    }

.bn-footer {
    margin-top: 1.5rem;
}

.field-required {
    color: #d93025;
    font-size: 1.2rem;
    line-height: 135%;
}

#divResult {
    margin-top: 1rem;
}

#frmUpdate > .row {
    margin-bottom: .5rem;
}

#frmUpdate label {
    font-size: .875rem;
    font-weight: bold;
    margin-bottom: .2rem;
}

#frmUpdate > .row:last-child {
    margin-top: 1.3rem;
}

    #frmUpdate > .row:last-child div {
        padding-left: .1rem;
        padding-right: .1rem;
    }

.imgMiContacto {
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    #btnSearch {
        bottom: 0;
        position: absolute;
    }
}

@media (max-width: 767px) {
    .bn-container {
        width: 95%;
    }

    .acountDz, .contMrk {
        display: none !important;
    }

    #txtIdNroServicio {
        margin-bottom: .3rem;
    }

    #frmUpdate > .row > div:nth-child(2) {
        margin-top: .5rem;
    }

    #frmUpdate > .row:last-child > div:first-child {
        -ms-flex-order: 13;
        order: 13;
        margin-top: .3rem;
    }
}