﻿@using System.Web.Optimization
@using OficinaVirtual.Cliente.General.App_Code

@{
    Layout = null;
    var title = System.Configuration.ConfigurationManager.AppSettings["Environment"] ?? "Proyectos";
}

<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">
    <title>Proyectos | Login</title>
    <!--<link rel="apple-touch-icon" href="~/Content/Images/Home/apple-touch-icon.png">-->
    <link rel="apple-touch-icon" href="~/Content/Images/Home/favicon-32x32.png">
    <link rel="shortcut icon" href="~/Content/Images/Home/favicon-32x32.png">
    @Html.StylesRender("~/CSS/Core", "~/CSS/Plugins", $"~/CSS/Plugins/{Util.GetURL()}")
    @Styles.Render("~/CSS/Fonts", "http://fonts.googleapis.com/css?family=Roboto:400,400italic,700")
    @Html.StylesRender($"~/CSS/Styles/{Util.GetURL()}")
    @Scripts.Render("~/JS/Modernizr")
    <script type="text/javascript">
        var _RootPath = '@Url.Content("~")';
        Breakpoints();
    </script>
</head>
<body class="page-login-v2 layout-full page-dark">
    <div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
        <div class="page-content">
            <div class="page-brand-info">
                <div class="brand" style="margin-bottom:30px">
                    <img class="brand-img" src="~/Content/Images/Home/favicon-96x96.png" alt="Distriluz">
                    @*<img class="brand-img" src="~/Content/Images/Home/head-nosides.png" alt="..." style="width:40%">*@
                    <h2 class="brand-text font-size-40">@title</h2>
                </div>
                <p class="font-size-20">
                    <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.-->
                    Plataforma tecnológica para la administración de las actividades en l&iacute;nea.
                </p>
            </div>
            <div class="page-login-main">
                <div class="brand visible-xs">
                    <img class="brand-img" src="~/Content/Images/Home/favicon-96x96.png" alt="Distriluz">
                    <h3 class="brand-text font-size-40">@title</h3>
                    @*<img class="brand-img center-block" src="~/Content/Images/Home/LogoDistriluz-m.png" alt="..." style="margin-bottom:20px">*@
                </div>
                <h3 class="font-size-24">Iniciar Sesi&oacute;n</h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->

                <form id="frmLogin" method="post" action="~/Home/Login" autocomplete="off">
                    <div class="error">
                        @ViewBag.Error
                    </div>
                    <div class="form-group form-material floating">
                        <input id="txtIdTipoOrigen" name="IdTipoOrigen" type="hidden" value="2" class="form-control empty">
                        <input id="txtUsuario" name="Usuario" type="text" class="form-control empty" value="">
                        <label for="txtUsuario" class="floating-label">Usuario</label>
                    </div>
                    <div class="form-group form-material floating">
                        <input id="txtContrasenia" name="Contrasenia" type="password" class="form-control empty">
                        <label for="txtContrasenia" class="floating-label">Contraseña</label>
                    </div>
                    <!--<div class="form-group clearfix">
                        <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
                            <input id="chkRemember" name="Remember" type="checkbox">
                            <label for="chkRemember">Recuerdame</label>
                        </div>
                        <a class="pull-right" href="forgot-password.html">¿Olvidaste tu contraseña?</a>
                    </div>-->
                    <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                </form>
                <!--<p>No account? <a href="register-v2.html">Sign Up</a></p>-->
                <footer class="page-copyright">
                    <!--<p>DISTRILUZ</p>-->
                    <p>© 2020. Todos Los Derechos Reservados.</p>
                    <!--<div class="social">
                        <a class="btn btn-icon btn-round social-twitter" href="javascript:void(0)">
                            <i class="icon bd-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-facebook" href="javascript:void(0)">
                            <i class="icon bd-facebook" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-icon btn-round social-google-plus" href="javascript:void(0)">
                            <i class="icon bd-google-plus" aria-hidden="true"></i>
                        </a>
                    </div>-->
                </footer>
            </div>
        </div>
    </div>
    @Html.ScriptsRender("~/JS/Core", "~/JS/Plugins", $"~/JS/Plugins/{Util.GetURL()}")
    @Html.ScriptsRender("~/JS/Scripts", $"~/JS/Scripts/{Util.GetURL()}")
</body>
</html>