﻿@using System.Collections
@model List<Dictionary<String, String>>
@{ 
    var vs = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] ?? "0";
}

<h2 style="margin-top:10px;"> Atenciones</h2>

<div class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
    <table id="tblAtencion_Detalle" class="table">
        <thead>
            <tr>
                <th>Recurso</th>
                <th>Nro. Atención</th>
                <th>Modalidad</th>
                <th>Clasificación</th>
                <th>Fecha Registro</th>
                <th>Representante</th>
                <th>Solución/Acuerdo</th>
                <th>Atendido</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var row = new Hashtable(Model[i]);
                <tr>
                    <td>@row["Recurso"]</td>
                    <td><a href="javascript:void(0)">@row["NroAtencion"]</a></td>
                    <td>@row["Modalidad"]</td>
                    <td>@row["NombreClasificacion"]</td>
                    <td>@row["FechaRegistro"].ToString().Split(new String[] { "T" }, StringSplitOptions.None)[0]</td>
                    <td>@row["NombreRepresentante"]</td>
                    <td>@row["EstadoAcuerdo"]</td>
                    <td>@(row["SeAtendio"].ToString() == "1" ? "SI" : "NO")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="modal fade" id="modAtencion_Detalle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">Detalle de la atención</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="modDetFac">
                            <div class="contCard">
                                <h6> Datos de la Atención</h6>
                                <div class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
                                    <table id="tblHeader" class="table">
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="contCard">
                                <h6> Eventos de la Atención</h6>
                                <div class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
                                    <table id="tblDetail" class="table">
                                        <thead></thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Util.js?vs=@vs"></script>
<script src="~/Scripts/Suministro/_Atenciones.js?vs=@vs"></script>