﻿@model OficinaVirtual.Entidad.Consulta.clsConsultaSuministro

@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
}

<script type="text/javascript" src="~/Scripts/Suministro/_ConsultarSuministro.js"></script>

<div>
    @if (sExito == true)
    {
        <div class="alert alert-success">
            <div>
                <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;@sMensaje</span>
            </div>
        </div>
    }
    else
    {
        if (sMensaje != null && sMensaje != "")
        {
            <div class="alert alert-warning">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i></span><span>&nbsp;@sMensaje</span>
                </div>
            </div>
        }

        using (Html.BeginForm("_ConsultarSuministro", "Suministro", FormMethod.Post, new { @class = "frmConsultar", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        @Html.LabelFor(model => model.Suministro, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Suministro, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Suministro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4 col-md-12 mt-lg-0 mt-md-2">
                        @Html.LabelFor(model => model.Recibo, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Recibo, new { @class = "form-control", placeholder = "Últimos 4 dígitos", @Value = "" })
                        @Html.ValidationMessageFor(model => model.Recibo, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <input type="submit" class="btn btn-green btnBuscar" value="Buscar" />
                    </div>
                </div>
            </div>
        }

        if (Model != null && Model.Mensaje != "validar")
        {
            <div class="mnsjeResultado">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-center lighBlue">RESULTADO DE BUSQUEDA</p>
                    </div>
                </div>
            </div>

            if (Model.Mensaje != null)
            {
                <div class="AlertError">
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-danger" aria-hidden="true"></i>&nbsp;@Html.DisplayFor(model => model.Mensaje)</span>
                </div>
            }
            else
            {
                using (Html.BeginForm("_RegistrarSuministro", "Suministro", FormMethod.Post, new { @class = "frmRegistrar", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                @Html.HiddenFor(model => model.Suministro)
                                @Html.LabelFor(model => model.Suministro, new { @class = "control-label" }):
                                @Html.DisplayFor(model => model.Suministro)
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.NombreCompleto, new { @class = "control-label" }):
                                @Html.DisplayFor(model => model.NombreCompleto)
                            </div>
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.Direccion, new { @class = "control-label" }):
                                @Html.DisplayFor(model => model.Direccion)
                            </div>
                            <div class="col-sm-3">
                                <input type="submit" class="btn btn-green btnRegistrar" value="Agregar" />
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>