﻿@model List<OficinaVirtual.Entidad.Consulta.clsCortesProgramados>

<h2>CORTES PROGRAMADOS</h2>
<p>Con la finalidad de mejorar el servicio que brindamos, realizamos trabajos de mantenimiento y ampliación del sistema eléctrico. Dichos trabajos requieren de la suspensión momentánea del servicio eléctrico.</p>
<div class="contCard">
    @foreach (var oItem in Model)
    {
        <ol class="list-unstyled">
            <li>
                @if (oItem.FechaInicio != "Ninguna")
                {
                    <div class="media">
                        <div class="media-left">
                            <img src="~/Content/Imagenes/img-cortes.png" alt="imagen">
                        </div>
                        <div class="media-body">
                            <p class="media-heading">Corte por matenimiento desde:</p>
                            <p>@oItem.FechaInicio a @oItem.FechaFinal por un período de @oItem.Duracion horas.</p>
                        </div>
                    </div>
                }
            </li>
        </ol>
    }
</div>