﻿@using System.Collections
@model List<Dictionary<String, String>>

<script>
    $(document).ready(function (a) {
        $('#divCtaCte').on('click', 'tbody tr td:nth-child(2) a', function () {
            $('#tabFactura').click();

            var r = $(this).closest('tr'),
                p = r.data('idperiodo');
            
            window.nsUtil.GetNameSpace('Root', 'Suministro', '_Historico').DetalleRecibo(p);
        });
    });
</script>

<h2 style="margin-top:30px;"> Cuenta Corriente</h2>

<div id="divCtaCte" class="table-responsive table table-condensed table-striped table-bordered dt-responsive table-hover">
    <table class="table">
        <thead>
            <tr>
                <th>Periodo</th>
                <th>Nro. Recibo</th>
                <th>Fecha Emisión</th>
                <th>Importe Mes</th>
                <th>kW/h</th>
                <th>Fecha Vence</th>
                <th>Fecha Pago</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                var row = new Hashtable(Model[i]);

                if (row["idTipoDocumento"].ToString() != "7") { continue; }
                if (i > 11) { break; }

                <tr data-idperiodo="@row["Periodo"]">
                    <td>@row["Periodo"].ToString().Insert(4, "-")</td>
                    <td><a href="javascript:void(0)">@row["NroDocumento"]</a></td>
                    <td>@row["FechaMovimiento"].ToString().Split(new String[] { "T" }, StringSplitOptions.None)[0]</td>
                    <td>@row["Importe"]</td>
                    <td>@row["EACT"].ToString().Split(new String[] { "." }, StringSplitOptions.None)[0]</td>
                    <td>@row["FechaVencimiento"].ToString().Split(new String[] { "T" }, StringSplitOptions.None)[0]</td>
                    <td>@row["FechaPago"].ToString().Split(new String[] { "T" }, StringSplitOptions.None)[0]</td>
                    <td>@row["Estado"]</td>
                </tr>
            }
        </tbody>
    </table>
</div>