﻿@model OficinaVirtual.Entidad.Consulta.clsInformacion 

<script type="text/javascript" src="~/Scripts/Suministro/_HistoricoConsumo.js"></script>

<canvas class='cnvConsumo'></canvas>
<script>LlamarDatosBarra('@Html.Raw(Model.ListaRegistroSerializado)', '.cnvConsumo');</script>