﻿@model OficinaVirtual.Entidad.Consulta.clsInformacion

<script type="text/javascript" src="~/Scripts/Suministro/_HistoricoConsumo.js"></script>

<input type="hidden" id="txtHisFac_IdNroServicio" value="@ViewBag.IdNroServicio" />
<div class="modal fade" id="modHisFac_Detalle" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">Datos del recibo</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="modDetFac">
                            <h2><span id="spnHisFac_Periodo" class="control-label"></span><img id="imgReciboDescargar" src="~/Content/img/pdf_32.png" alt="PDF" title="Descargar Recibo" style="float: right;cursor: pointer;" /></h2>
                            <div class="contCard">
                                <ol class="list-unstyled">
                                    <li>
                                        <span class="form-control">Nro. Recibo</span>
                                        <label id="lblHisFac_NroRecibo" class="control-label"></label>
                                        <span class="form-control">Tarifa</span>
                                        <label id="lblHisFac_Tarifa" class="control-label"></label>
                                        <span class="form-control">Consumo Kwh</span>
                                        <label id="lblHisFac_Consumo" class="control-label"></label>
                                    </li>
                                    <li>
                                        <span class="form-control">Importe</span>
                                        <label id="lblHisFac_Importe" class="control-label"></label>
                                        <span class="form-control">Emision</span>
                                        <label id="lblHisFac_Emision" class="control-label"></label>
                                        <span class="form-control">Vencimiento</span>
                                        <label id="lblHisFac_Vencimiento" class="control-label"></label>
                                    </li>
                                </ol>
                                <div class="table-responsive">
                                    <table id="tblHisFac_Detalle" class="table">
                                        <thead>
                                            <tr>
                                                <th>Concepto</th>
                                                <th>Importe (S/)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<canvas class='cnvFacturacion'></canvas>
<script>LlamarDatosBarra('@Html.Raw(Model.ListaRegistroSerializado)', '.cnvFacturacion');</script>