﻿@model List<OficinaVirtual.Entidad.Consulta.clsUltimosPagos>

<h2>ÚLTIMOS PAGOS</h2>
<div class="contCard">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Lugar de pago</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var oItem in Model)
                {
                    <tr>
                        <td>@oItem.fecha_pago</td>
                        <td>@oItem.lugar_pago</td>
                        <td>@oItem.monto_pago</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>