﻿@model OficinaVirtual.Entidad.Consulta.clsUltimoReciboCabecera

<script src="~/Scripts/Suministro/_UltimoRecibo.js"></script>

<h2>
    ÚLTIMO RECIBO
    <img id="imgUltimoReciboDescargar" src="~/Content/img/pdf_32.png" alt="PDF" title="Descargar Último Recibo" style="float: right;cursor: pointer;" />
    <a href='@Url.Content("~/Content/Home/VOLANTE OBLIGACIONES DEL CONSUMIDOR -  JULIO-A.pdf")' target="_blank">
        <img src="~/Content/img/pdf32.png" alt="PDF" title="Visualiza AQUÍ las obligaciones y derechos del Cliente de acuerdo al D.S N° 020-1997-EM - NTCSE" style="float: right;cursor: pointer;" />
    </a>
</h2>

<div class="contCard">
    <ol class="list-unstyled">
        <li>
            <input type="hidden" id="txtUltimoRecibo_IdNroServicio" value="@Model.IdNroServicio" />
            <input type="hidden" id="txtUltimoRecibo_Periodo" value="@Model.Periodo" />
            <span class="form-control">@Html.DisplayFor(model => model.Recibo)</span>
            @Html.LabelFor(model => model.Recibo, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.PeriodoDes)</span>
            @Html.LabelFor(model => model.PeriodoDes, htmlAttributes: new { @class = "control-label" })
        </li>
        <li>
            <span class="form-control">@Html.DisplayFor(model => model.Importe)</span>
            @Html.LabelFor(model => model.Importe, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.Deuda)</span>
            @Html.LabelFor(model => model.Deuda, htmlAttributes: new { @class = "control-label" })
        </li>
    </ol>
    <ol class="list-unstyled">
        <li>
            <span class="form-control">@Html.DisplayFor(model => model.Tension)</span>
            @Html.LabelFor(model => model.Tension, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.Tarifa)</span>
            @Html.LabelFor(model => model.Tarifa, htmlAttributes: new { @class = "control-label" })
        </li>
        <li>
            <span class="form-control">@Html.DisplayFor(model => model.Lectura)</span>
            @Html.LabelFor(model => model.Lectura, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.Consumo)</span>
            @Html.LabelFor(model => model.Consumo, htmlAttributes: new { @class = "control-label" })
        </li>
    </ol>
    <ol class="list-unstyled">
        <li>
            <span class="form-control">@Html.DisplayFor(model => model.Circuito)</span>
            @Html.LabelFor(model => model.Circuito, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.SED)</span>
            @Html.LabelFor(model => model.SED, htmlAttributes: new { @class = "control-label" })
        </li>
        <li>
            <span class="form-control">@Html.DisplayFor(model => model.Potencia)</span>
            @Html.LabelFor(model => model.Potencia, htmlAttributes: new { @class = "control-label" })
            <span class="form-control">@Html.DisplayFor(model => model.Alimentador)</span>
            @Html.LabelFor(model => model.Alimentador, htmlAttributes: new { @class = "control-label" })
        </li>
    </ol>
</div>