﻿@{
    ViewBag.Title = "Consulta beneficio";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    var idVersion = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"];
}
<link rel="stylesheet" href="~/Content/Suministro/Beneficiario.css?@idVersion">

<div class="bn-container">
    <div class="bn-header">
        <span>Consulte si es beneficiario del fraccionamiento (D.U. N°035-2020)</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="frmQuery" class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <label for="txtIdNroServicio">Suministro:</label>
                    <span class="text-info informa" data-toggle="tooltip" data-placement="top" title="" data-original-title="Revisar la parte superior de su recibo"><i class="fas fa-info-circle"></i></span>
                    <input type="number" id="txtIdNroServicio" class="form-control" placeholder="Ingrese Suministro" value="" min="0">
                </div>
                <div class="col-sm-12 col-md-5">
                    <button type="button" id="btnSearch" class="btn btn-green">Consultar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="divResult" class="alert d-none" role="alert"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="qst-frec"><span>Conozca más detalles en: </span><a href="~/Orientacion/BeneficiarioPreguntas" class="badge badge-info">¿Preguntas Frecuentes?</a></h5>
                </div>
            </div>
        </div>
        <div id="frmUpdate" class="form-group d-none">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="txtDNI">DNI<span class="field-required">*</span>:</label>
                    <input type="text" id="txtDNI" class="form-control form-control-sm" placeholder="Ingrese su Nro. DNI" maxlength="8" pattern="[0-9]{8}" required>
                    <div class="invalid-feedback">El DNI es obligatorio.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <label for="txtNombres">Nombres<span class="field-required">*</span>:</label>
                    <input type="text" id="txtNombres" class="form-control form-control-sm" placeholder="Ingrese sus Nombres" maxlength="256" required>
                    <div class="invalid-feedback">Los nombres son obligatorios.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="txtApellidoP">Apellido Paterno<span class="field-required">*</span>:</label>
                    <input type="text" id="txtApellidoP" class="form-control form-control-sm" placeholder="Ingrese su Ap. Paterno" required>
                    <div class="invalid-feedback">El apellido paterno es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="txtApellidoM">Apellido Materno<span class="field-required">*</span>:</label>
                    <input type="text" id="txtApellidoM" class="form-control form-control-sm" placeholder="Ingrese su Ap. Materno" required>
                    <div class="invalid-feedback">El apellido materno es obligatorio.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="txtPhone">Celular<span class="field-required">*</span>:</label>
                    <input type="tel" id="txtPhone" class="form-control form-control-sm" placeholder="Ingrese su Celular" maxlength="9" required>
                    <span class="invalid-feedback">Celular incompleto</span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="">Es titular del suministro<span class="field-required">*</span>:</label>
                    <div class="row" style="padding-left: 2rem;">
                        <div class="col-sm-5 col-md-3">
                            <input id="rdTitularSi" class="form-check-input" type="radio" name="rdTitular" value="1">
                            <label class="form-check-label" for="rdTitularSi">Si</label>
                        </div>
                        <div class="col-sm-5 col-md-3">
                            <input id="rdTitularNo" class="form-check-input" type="radio" name="rdTitular" value="0">
                            <label class="form-check-label" for="rdTitularNo">No</label>
                        </div>
                        <span class="invalid-feedback">Selecciona una opción.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <label for="txtEmail" class="control-label"> Email</label>
                    <input type="email" id="txtEmail" class="form-control form-control-sm" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                    <div class="invalid-feedback">El Email es incorrecto.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <button type="button" id="btnCancel" class="btn btn-outline-secondary">Cancelar</button>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="button" id="btnSave" class="btn btn-success">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bn-footer">
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Suministro/Beneficiario.js?@idVersion"></script>