﻿@model OficinaVirtual.Entidad.Consulta.clsDetalleSuministro

@{
    ViewBag.Title = "Detalle Suministro";
}

<link rel="stylesheet" href="~/Content/Suministro/Detalle.css?@Util.IdVersion" />
<script type="text/javascript" src="~/Scripts/Suministro/Detalle.js?@Util.IdVersion"></script>

<div class="dtDetalle">
    <ul class="list-unstyled">
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.Suministro)</span>
            @Html.LabelFor(model => model.Suministro, htmlAttributes: new { @id = "lblIdNroServicio", @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.Recibo)</span>
            @Html.LabelFor(model => model.Recibo, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.PeriodoDesc)</span>
            @Html.LabelFor(model => model.PeriodoDesc, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.ImporteRecibo)</span>
            @Html.LabelFor(model => model.ImporteRecibo, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.FechaEmision)</span>
            @Html.LabelFor(model => model.FechaEmision, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.FechaVencimiento)</span>
            @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.CantConsumo)</span>
            @Html.LabelFor(model => model.CantConsumo, htmlAttributes: new { @class = "control-label white" })
        </li>
        <li>
            <span class="form-control lighBlue2">@Html.DisplayFor(model => model.ImporteDeuda)</span>
            @Html.LabelFor(model => model.ImporteDeuda, htmlAttributes: new { @class = "control-label white" })
        </li>
    </ul>
</div>
<div class="dgDetalle">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="contdg">
                <header>
                    <h2 class="lighBlue">Datos Generales</h2>
                    @*<a href='#' data-toggle='tooltip' title='Editar' id='btnEditar'><span class="glyphicon glyphicon-pencil"></span></a>*@
                </header>
                <div class="form-group">
                    <span class="form-control">@Html.DisplayFor(model => model.NombreCompleto)</span>
                    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label blue" })
                </div>
                <div class="form-group">
                    <span class="form-control">@Html.DisplayFor(model => model.Telefono)</span>
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label blue" })
                </div>
                <div class="form-group">
                    <span class="form-control">@Html.DisplayFor(model => model.Correo)</span>
                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label blue" })
                </div>
                <div class="form-group">
                    <span class="form-control">@Html.DisplayFor(model => model.Direccion)</span>
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label blue" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 hide-sm">
            <img src="~/Content/img/dizbombillo.png">
        </div>
    </div>
</div>
<div class="dhHistorial">
    <ul class="nav nav-tabs" id="tabDz" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="tabConsumo" data-toggle="tab" href="#consumo" role="tab" aria-controls="consumo" aria-selected="true">Historial de consumo (kW/h)</a></li>
        <li class="nav-item"><a class="nav-link" id="tabFactura" data-toggle="tab" href="#factura" role="tab" aria-controls="factura" aria-selected="false">Historial de facturación (S/)</a></li>
    </ul>

    <div class="tab-content" id="contDz">
        <div class="tab-pane fade show active" id="consumo" role="tabpanel" aria-labelledby="tabConsumo">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="divHConsumo"></div>
                    <script>CargarPartialViewAsync('@(Url.Action("_HistoricoConsumo", "Suministro"))', '.divHConsumo', '@Model.Suministro');</script>
                </div>
                <div class="col-sm-12 col-md-6 hide-sm">
                    <ol class="list-unstyled mensajeHistorial">
                        <li class="text-right"><img src="~/Content/img/arrow-left.png"></li>
                        <li class="text-left">Desde  aquí puede monitorear su consumo en kW/h</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="factura" role="tabpanel" aria-labelledby="tabFactura">
            <div class="row">
                <div class="col-sm-12 col-md-6 hide-sm">
                    <ol class="list-unstyled mensajeHistorial">
                        <li class="text-right">Últimas facturaciones por mes en Soles</li>
                        <li class="text-left"><img src="~/Content/img/arrow-right.png"></li>
                    </ol>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="divHFacturacion"></div>
                    <script>CargarPartialViewAsync('@(Url.Action("_HistoricoFacturacion", "Suministro"))', '.divHFacturacion', '@Model.Suministro');</script>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dbBoletines">
    <div class="row">
        <div class="col-lg-4 col-md-12">
            <div class="cardRecibo"></div>
            <script>CargarPartialViewAsync2('@(Url.Action("_UltimoRecibo", "Suministro"))', '.cardRecibo', '@Model.Suministro', '@Model.Periodo');</script>
        </div>
        <div class="col-lg-4 col-md-12">
            <div id="lnkInterrupciones" class="cardCorte">
                <h2>INTERRUPCIONES</h2>
                @*<p>Con la finalidad de mejorar el servicio que brindamos, realizamos trabajos de mantenimiento y ampliación del sistema eléctrico. Dichos trabajos requieren de la suspensión momentánea del servicio eléctrico.</p>*@
                <div id="divInterrupciones" class="contCard"></div>
            </div>
            @*<script>CargarPartialViewAsync('@(Url.Action("_CortesProgramados", "Suministro"))', '.cardCorte', '@Model.Suministro');</script>*@
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="cardPago"></div>
            <script>CargarPartialViewAsync('@(Url.Action("_HistoricoPago", "Suministro"))', '.cardPago', '@Model.Suministro');</script>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="cardCtaCte"></div>
            <script>CargarPartialViewAsync('@(Url.Action("_CtaCte", "Suministro"))', '.cardCtaCte', @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new { Parametros = new { IdNroServicio = Model.Suministro, PeriodoInicial = DateTime.Now.AddMonths(-48).ToString("yyyyMM"), PeriodoFinal = DateTime.Now.ToString("yyyyMM") } }))));</script>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="lnkAtenciones" class="cardAtenciones"></div>
            <script>CargarPartialViewAsync('@(Url.Action("_Atenciones", "Suministro"))', '.cardAtenciones', @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new { Parametros = new { IdNroServicio = Model.Suministro } }))));</script>
        </div>
    </div>
</div>
<div class="modal fade" id="modFotoLec" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text"> Foto Lectura</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="modDetFac">
                            <div class="contCard">
                                <div class="alert alert-danger d-none" role="alert">
                                    
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label"> Adjuntar Imagen:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <input id="filArchivo" class="form-control" type="file" name="FileArchivo" accept="image/*">
                                    </div>
                                </div>
                                <div class="row divider">
                                    <div class="col-9">
                                    </div>
                                    <div class="col-3">
                                        <button type="button" id="btnFotoLecSave" class="btn btn-green"> Grabar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divTemplate" class="d-none">
    <ol id="tmpInterrupcion" class="list-unstyled tmpInterrupcion">
        <li>
            <div class="media">
                @*<div class="media-left">
                    <img src="~/Content/Imagenes/img-cortes.png" alt="imagen">
                </div>*@
                <div class="media-body">
                    <p class="media-heading">Titulo</p>
                    <p>Descripcion</p>
                </div>
            </div>
        </li>
    </ol>
</div>