﻿@{
    ViewBag.Title = "Mi Lectura";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link rel="stylesheet" href="~/Content/Suministro/MiLectura.css?@Util.IdVersion">

<div class="bn-container">
    <div class="bn-header">
        <span>Registre su lectura</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="frmQuery" class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="txtIdNroServicio"><b>Suministro:</b></label>
                    <span class="text-info informa" data-toggle="tooltip" data-placement="top" title="" data-original-title="Revisar la parte superior de su recibo"><i class="fas fa-info-circle"></i></span>
                    <input type="number" id="txtIdNroServicio" class="form-control form-control-sm" placeholder="Ingrese Suministro" value="" min="100000" max="999999999" required>
                    <div class="invalid-feedback">El suministro es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <button type="button" id="btnSearch" class="btn btn-green btn-sm">Consultar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="divResult" class="alert alert-success d-none" role="alert">
                        Sr(a). <span></span>, dado el estado de emergencia nacional en protección al COVID 19, agradeceré, de serle posible, ingresar la
                        lectura de su medidor <a href="javascript:void(0)">aquí</a>. Esta información será posteriormente verificada.
                    </div>
                </div>
            </div>
        </div>
        <div id="frmUpdate" class="form-group d-none">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <label for="txtLectura">Lectura<span class="field-required">*</span>:</label>
                    <input type="number" id="txtLectura" class="form-control form-control-sm" placeholder="Ingrese su lectura" min="0" max="9999999999" step="any" required>
                    <div class="invalid-feedback">Lectura es obligatoria.</div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="txtPhone">Celular:</label>
                    <input type="number" id="txtPhone" class="form-control form-control-sm" placeholder="Ingrese su celular" min="900000000" max="999999999">
                    <span class="invalid-feedback">Celular erroneo</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <label for="txtEmail" class="control-label"> Correo electrónico</label>
                    <input type="email" id="txtEmail" class="form-control form-control-sm" placeholder="example@correo.com" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                    <div class="invalid-feedback">El correo es incorrecto.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <button type="button" id="btnCancel" class="btn btn-outline-secondary btn-sm">Cancelar</button>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="button" id="btnSave" class="btn btn-success btn-sm">Registrar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>“Sus datos estarán protegidos y solo se utilizarán con fines del proceso de Facturación de su consumo de energía eléctrica.”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bn-footer">
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Suministro/MiLectura.js?@Util.IdVersion"></script>