﻿@{
    ViewBag.Title = "MiPago";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link rel="stylesheet" href="~/Content/Suministro/MiPago.css?@Util.IdVersion">

<div id="divMiPago" class="bn-container">
    <div class="bn-header">
        <span>Pagar mi recibo(s)</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="divSearch" class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <input type="text" id="txtIdNroServicio" class="form-control" data-idorder="@ViewBag.IdOrder" data-errormessage="@ViewBag.ErrorMessage" data-idnroservicio="@ViewBag.IdNroServicio" data-iduser="@ViewBag.IdUser" placeholder="Ingrese Suministro" maxlength="8" required>
                    <div class="invalid-feedback">El suministro es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <button type="button" id="btnSearch" class="btn btn-green"> Consultar</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="lnk-search-dni">No conoce su suministro ingrese </span><a href="~/Suministro/MiRecibo" target="_blank">Aqui</a>
                </div>
            </div>
        </div>
        <div id="divResult" class="form-group d-none">
            <div class="row">
                <div id="divDatos" class="col-sm-12 col-md-3">
                    <h2 id="lblSuministro" class="lighBlue">***</h2>
                    <p class="smallPago">N° de Suministro</p>
                    <h3 id="lblNombres">***</h3>
                    <p class="smallPago">Nombre</p>
                    <h3 id="lblDireccion">*****</h3>
                    <p class="smallPago">Dirección</p>
                    <h3 id="lblFechaEmision">*****</h3>
                    <p class="smallPago">Fecha de Emisión</p>
                    <h3 id="lblFechaVencimiento">*****</h3>
                    <p class="smallPago">Fecha de Vencimiento</p>
                    <h2 id="lblDeudaTotal" class="lighBlue">0.00</h2>
                    <p class="smallPago">Deuda Total</p>
                </div>
                <div id="divWizard" class="col-sm-12 col-md-9">
                    <div class="contStepago">
                        <div class="stepPago">
                            <ul class="list-unstyled d-flex flex-row justify-content-around">
                                <li>
                                    <span id="imgPago01" class="imgPago"><img src="~/Content/img/rayoStep1.png"></span>
                                    <span id="numPago01" class="numPago lighBlue">01</span>
                                </li>
                                <li>
                                    <span id="imgPago02" class="imgPago"><img src="~/Content/img/rayoStep0.png"></span>
                                    <span id="numPago02" class="numPago">02</span>
                                </li>
                                <li>
                                    <span id="imgPago03" class="imgPago"><img src="~/Content/img/rayoStep0.png"></span>
                                    <span id="numPago03" class="numPago">03</span>
                                </li>
                            </ul>
                        </div>
                        <div id="divStep01" class="d-none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table id="tblDeuda" class="table table-sm table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sel</th>
                                                    <th>Periodo</th>
                                                    <th>Tipo Documento</th>
                                                    <th>Fecha Vence</th>
                                                    <th>Importe</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <th></th>
                                                    <th></th>
                                                    <th></th>
                                                    <th>Total S/</th>
                                                    <th>0.00</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center mt-4 mb-4">
                                        <div class="form-check form-check-inline">
                                            <input id="chkTerminos" class="form-check-input" type="checkbox">
                                            <label for="chkTerminos" class="form-check-label">Acepto las políticas de los <a href="~/Home/TerminosCondiciones" target="_blank">términos y condiciones</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-3 ml-auto">
                                    <button id="btnPrevious01" class="btn btn-outline-secondary">Cancelar</button>
                                </div>
                                <div class="col-sm-12 col-md-3 mr-auto">
                                    <button id="btnNext01" class="btn btn-outline-success" disabled>Siguiente</button>
                                </div>
                            </div>
                        </div>
                        <div id="divStep02" class="d-none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mt-4 mb-4">
                                        <h2 class="lighBlue text-center mb-4">CONFIRMACIÓN DE LA SOLICITUD</h2>
                                        <div class="row">
                                            <div class="col-sm-6 text-right">
                                                <span class="bold">Número de pedido: </span>
                                            </div>
                                            <div class="col-sm-6 text-left">
                                                <span id="lblNroPedido" class="lighBlue">***</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-right">
                                                <span class="bold">Ud. ha seleccionado pagar el monto de: S/ </span>
                                            </div>
                                            <div class="col-sm-6 text-left">
                                                <span id="lblImportePedido" class="lighBlue">***</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 text-right">
                                                <span class="bold">Fecha y hora de la solicitud: </span>
                                            </div>
                                            <div class="col-sm-6 text-left">
                                                <span id="lblFechaPedido" class="lighBlue">***</span>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-sm-12 text-center">
                                                Para proceder con el pago, dar click en el botón <span class="bold">"Pagar"</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-3 ml-auto">
                                    <button id="btnPrevious02" class="btn btn-outline-danger">Anterior</button>
                                </div>
                                <div class="col-sm-12 col-md-3 mr-auto">
                                    <form id="frmPagoCard" action="" method="post">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="divStep03" class="d-none">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="mt-4 mb-4">
                                        <h2 id="lblPayTitle" class="lighBlue text-center mb-4">PAGO REALIZADO</h2>
                                        <div class="row mb-2">
                                            <div class="col-sm-12 pl-2">
                                                <span id="lblPaySubTitle">A continuación se muestra el detalle del pago realizado:</span>
                                            </div>
                                        </div>
                                        <div id="divDataPay">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Número de pedido:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayNroPedido">*****</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Número de tarjeta:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayNroTarjeta">*****</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Fecha y hora de autorización:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayFecha">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Importe autorizado:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayImporte">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Moneda autorizada:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayMoneda">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Descripción de la transacción:
                                                </div>
                                                <div class="col-sm-6">
                                                    Pago del suministro <span id="lblPaySuministro">******</span>, periodos: <span id="lblPayPeriodo">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Código de autorización:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayCodigoAutoriza">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Descripción de la autorización:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayDescripcionAutoriza">******</span>
                                                </div>
                                            </div>
                                            <div class="row mt-2">
                                                <div class="col-sm-6">
                                                    Nombre del comercio:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayComercio">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Teléfono del comercio:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayComercioTelefono">******</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    Dirección del comercio:
                                                </div>
                                                <div class="col-sm-6">
                                                    <span id="lblPayComercioDireccion">******</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-3 ml-auto">
                                    <button id="btnPrint" class="btn btn-outline-secondary">Imprimir</button>
                                </div>
                                <div class="col-sm-12 col-md-3 mr-auto">
                                    <button id="btnFinish" class="btn btn-success">Terminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bn-footer">
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Suministro/MiPago.js?@Util.IdVersion"></script>