﻿@{
    ViewBag.Title = "MiRecibo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<script>
    location.href = 'https://servicios.distriluz.com.pe/OficinaVirtualConsulta/Consultas/Consultas/ConsultaMiRecibo';
</script>
<link rel="stylesheet" href="~/Content/Suministro/MiRecibo.css?@Util.IdVersion">

<div class="bn-container">
    <div class="bn-header">
        <span>Consulte su último recibo</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="frmQuery" class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <label for="txtIdNroServicio"><span>Buscar por:</span></label>
                    <select id="cmbType" class="form-control-sm">
                        <option value="1" selected>Suministro</option>
                        <option value="2">DNI</option>
                    </select>
                    <input type="text" id="txtIdNroServicio" class="form-control" placeholder="Ingrese Suministro" maxlength="8" required>
                    <div class="invalid-feedback">El suministro es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <button type="button" id="btnSearch" class="btn btn-green"> Consultar</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="divResult" class="alert d-none" role="alert">
                    </div>
                </div>
            </div>
        </div>
        <div id="frmUpdate" class="d-none">
            <p>Favor de completar los datos para descargar el recibo del suministro <span></span>.</p>
            <div class="row form-group">
                <div class="col-sm-12 col-md-6">
                    <label for="txtPhone">Celular:</label>
                    <input type="number" id="txtPhone" class="form-control form-control-sm" placeholder="Ingrese su celular" min="900000000" max="999999999">
                    <span class="invalid-feedback">Celular incorrecto.</span>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label for="txtEmail" class="control-label"> Correo electrónico</label>
                    <input type="email" id="txtEmail" class="form-control form-control-sm" placeholder="example@correo.com" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                    <div class="invalid-feedback">Correo incorrecto.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 offset-md-4">
                    <button type="button" id="btnCancel" class="btn btn-outline-secondary btn-sm">Cancelar</button>
                </div>
                <div class="col-sm-12 col-md-4">
                    <button type="button" id="btnSave" class="btn btn-success btn-sm">Decargar Recibo</button>
                </div>
            </div>
        </div>
        <div class="bn-footer">
        </div>
    </div>

    <div class="modal fade" id="modList" tabindex="-1" role="dialog" aria-labelledby="modListHeader" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modListHeader">Lista de suministros asociados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ol id="lstSumin">
                    </ol>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Suministro/MiRecibo.js?@Util.IdVersion"></script>