﻿@{
    ViewBag.Title = "Reclamo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";

    var vs = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"] ?? "0";
}

<link href="~/Content/Shared/Form.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/select2-custome.css" rel="stylesheet" />
<link href="~/Content/Suministro/Reclamo.css" rel="stylesheet" />

<div class="row" style="margin-top:20px;">
    <div class="col-12 dbBoletines">
        <h2> Registra tu Reclamo</h2>
    </div>
</div>
<div id="divAlert"></div>
<div class="container">
    <div class="container">
        <div class="card" id="divStep01">
            <div class="card-header">
                Tus Datos
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="txtNombres" class="control-label"> Nombres<span class="field-required">*</span></label>
                        <input type="text" id="txtNombres" class="form-control" value="@(Session["Nombres"]==null? "":(Session["Nombres"]+", "+Session["ApPaterno"]+" "+Session["ApMaterno"]))" maxlength="512" required />
                        <div class="invalid-feedback">
                            El nombre es obligatorio.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="cmbIdTipoDocumento"> Tipo Documento<span class="field-required">*</span></label>
                        <select id="cmbIdTipoDocumento" class="form-control" data-value="@Session["IdTipoIdentidad"]"></select>
                        <div class="invalid-feedback">
                            El tipo documento es obligatorio.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="txtNroDocumento" class="control-label"> Nro. Documento<span class="field-required">*</span></label>
                        <input type="text" id="txtNroDocumento" class="form-control" value="@Session["NroIdentidad"]" pattern="[0-9]{8,11}" maxlength="11" required />
                        <div class="invalid-feedback">
                            El Nro. Documento es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="txtDireccion" class="control-label"> Dirección en donde desea que notifiquen respuesta<span class="field-required">*</span></label>
                        <input type="text" id="txtDireccion" class="form-control" maxlength="512" required />
                        <div class="invalid-feedback">
                            La dirección es obligatorio.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="txtTelefono" class="control-label"> Teléfono:</label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Para contactarle en caso sea necesario. ejemplo: Cel: 999999999, Fijo: 015555555"><i class="fas fa-info-circle"></i></span>
                        <input type="tel" id="txtTelefono" class="form-control" value="@Session["Telefono"]" maxlength="9" />
                        <span class="d-none text-danger"></span>
                    </div>
                    <div class="col-3 form-group">
                        <label for="cmbTipoRelacion"> Relación</label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Tipo de relación con el titular del suministro"><i class="fas fa-info-circle"></i></span>
                        <select id="cmbTipoRelacion" class="form-control" data-value="@(Session["Correo"]==null?"":"43")"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 form-group">
                        <label for="txtEmail" class="control-label"> Email</label>
                        <input type="email" id="txtEmail" class="form-control" value="@Session["Correo"]" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                        <div class="invalid-feedback">
                            El Email incorrecto.
                        </div>
                    </div>
                    <div class="col-6 form-group">
                        <label for="txtEmailRe" class="control-label"> Confirmar Email</label>
                        <input type="email" id="txtEmailRe" class="form-control" value="@Session["Correo"]" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(Html.Raw("@"))(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" onSelectStart="return false" onPaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        <div class="invalid-feedback">
                            El Email incorrecto.
                        </div>
                    </div>
                </div>
                <div class="row divider">
                    <div class="col-2">
                    </div>
                    <div class="col-8">
                    </div>
                    <div class="col-2">
                        <button type="button" id="btnNext" class="btn btn-outline-info"> Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card d-none" id="divStep02">
            <div class="card-header">
                Datos del Reclamo
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="cmbIdNroServicio" class="control-label"> Suministro</label>
                        <select id="cmbIdNroServicio" class="form-control">
                            @foreach (var item in ViewBag.SuminAsoci)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                    <div class="col-3 form-group">
                        <label for="cmbEmpresa"> Empresa<span class="field-required">*</span></label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Revisar la parte superior de su recibo, empresa a la que pertenece"><i class="fas fa-info-circle"></i></span>
                        <select id="cmbEmpresa" class="form-control"></select>
                        <div class="invalid-feedback">
                            La empresa es obligatoria.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="txtIdNroServicio" class="control-label"> Suministro</label>
                        <input type="number" id="txtIdNroServicio" class="form-control" min="0" max="9999999999" value="" />
                        <div class="invalid-feedback">
                            El suministro no existe.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="cmbClasificacion" class="control-label"> Clasificación<span class="field-required">*</span></label>
                        <select id="cmbClasificacion" class="form-control"></select>
                        <div class="invalid-feedback">
                            La clasificación es obligatoria.
                        </div>
                    </div>
                    <div class="col-3 form-group">
                        <label for="" class="control-label"> </label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Desea que la respuesta le llegue directamente a su correo electrónico"><i class="fas fa-info-circle"></i></span>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="chkNotificaEmail">
                            <label class="form-check-label" for="chkNotificaEmail"> Notifica a correo electrónico </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 form-group">
                        <label for="cmbPeriodos" class="control-label"> Periodos que reclama</label>
                        @*<textarea id="txtPeriodos" class="form-control" rows="4"></textarea>*@
                        <select id="cmbPeriodos" class="js-select2 form-control" multiple></select>
                    </div>
                    <div class="col-9 form-group">
                        <label for="txtPetitorio" class="control-label"> Petitorio<span class="field-required">*</span></label><span class="text-info informa" data-toggle="tooltip" data-placement="top" title="Detallarlo de forma concreta para evitar error en la interpretación de su petitorio"><i class="fas fa-info-circle"></i></span>
                        <textarea id="txtPetitorio" class="form-control" rows="4" required></textarea>
                        <div class="invalid-feedback">
                            El petitorio es obligatorio.
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
                <div class="row divider">
                    <div class="col-2">
                        <button type="button" id="btnPrevious" class="btn btn-outline-info"> Anterior</button>
                    </div>
                    <div class="col-8">
                    </div>
                    <div class="col-2">
                        <input type="button" id="btnRegistrar" class="btn btn-green" value="Registrar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/Util.js?vs=@vs"></script>
<script src="~/Scripts/Suministro/Reclamo.js?vs=@vs"></script>