﻿@model List<OficinaVirtual.Entidad.Consulta.clsResumenSuministro>

@{
    ViewBag.Title = "Resumen Suministro";
}

<link rel="stylesheet" href="~/Content/Suministro/Resumen.css?@Util.IdVersion"/>
<script type="text/javascript" src="~/Scripts/Suministro/Resumen.js?@Util.IdVersion"></script>

<!-- MODAL -->
<div class="modal fade modResumen" id="modResumen" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">
                ...
            </div>
        </div>
    </div>
</div>

<div id="divAlert"></div>
<div class="contentSuministro">
    <article class="infoSuministro">
        <form id="frmResumen" class="frmResumen" method="post" action="@Url.Action("VisaFinalizar", "Suministro")"></form>
        <input type="hidden" id="txtIdUser" value="@Session["IdUsuario"]" />
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <div class="tituloSuministro">
                    <h2 class="green">Bienvenidos a</h2>
                    <h3 class="lighBlue">Oficina Virtual</h3>
                    <img class="img-fluid" src="~/Content/img/ofi_virtual.png" alt="">
                </div>
                <div class="cardSuministro">
                    <a class="btn btn-green" href='@(Url.Action("_ConsultarSuministro", "Suministro"))' onclick="ConsultarSuministro(event, this);" title="Agregar Suministro"><i class="fa fa-plus"></i> Agregar suministro</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                @foreach (var item in Model)
                {
                    <div class="ContDetalle">
                        <div class="cuadroSuministro">
                            <div class="card-icon">
                                <span class="ico desasociar" data-toggle="tooltip" data-placement="top" title="Quitar de la lista mis sumnistros asociados"><i class="fas fa-minus-circle"></i></span>
                            </div>
                            <div class="cardCabecera">
                                <span class="form-control txtSuministro pb-0">@Html.DisplayFor(model => item.NroSuministro)</span>
                                <span class="form-control nroSuministro mb-2">N° de Suministro</span>
                            </div>
                            <div class="cardNombre">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <span class="form-control lighBlue">@Html.DisplayFor(model => item.NombreUser)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardDetalle">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-3 hide-sm">
                                            <span class="form-control">@Html.DisplayFor(model => item.CantUltRecibo)</span>
                                            @Html.LabelFor(model => item.CantUltRecibo, htmlAttributes: new { @class = "control-label" })
                                            <span class="form-control">@Html.DisplayFor(model => item.FechEmitido)</span>
                                            @Html.LabelFor(model => item.FechEmitido, htmlAttributes: new { @class = "control-label" })
                                            <span class="form-control">@Html.DisplayFor(model => item.FechVencimiento)</span>
                                            @Html.LabelFor(model => item.FechVencimiento, htmlAttributes: new { @class = "control-label" })
                                            <span class="form-control">@Html.DisplayFor(model => item.CodTarifa)</span>
                                            @Html.LabelFor(model => item.CodTarifa, htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="col-sm-12 col-md-9">
                                            <a class="btnDetalle" onclick="LlamarDetalle('@item.NroSuministro');">
                                                <div class="backGray pt-1 pb-3">
                                                    <div class="divBars">
                                                        <span class="form-control mb-3 mt-3">Historia de consumo kW.h</span>
                                                        <canvas class='@item.NroSuministro'></canvas>
                                                        <script>LlamarDatosBarra('@Html.Raw(item.lstString)', '.divBars .@item.NroSuministro');</script>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cardInfoAte hide-sm" style="font-size: 0.7rem; border-top: 1px solid #2d2d2d; padding-top: 10px; margin-top: -10px;">
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label"><b>Ultima Atención:</b><span class="infoLastAtencion"> Cargando...</span></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="control-label"> <b>Interrupción:</b><span class="infoLastInterrupcion"> Cargando...</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="cardVisa">
                                <form id="frmConsultaVisa" class="frmConsultaVisa" target="_blank" method="post" action="@Url.Action("MiPago", "Suministro")">@*VisaConsulta*@
                                    <div class="row">
                                        <div class="col-lg-7 col-md-5">
                                            <label class="control-label" for="item_CantDeuda">Deuda Total</label>
                                            <span class="form-control txtDeuda">@Html.DisplayFor(model => item.CantDeuda)</span>
                                        </div>
                                        <div class="col-lg-5 col-md-7">
                                            <input type="hidden" name="Suministro" id="Suministro" value="@item.NroSuministro" />
                                            <input type="hidden" name="IdUser" value="@Session["IdUsuario"]" />
                                            <button type="submit" class="btn btn-green btnPagar"><i class="far fa-credit-card"></i> Pagar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </article>
    <aside class="menu">
        <ul>
            <li>
                <a class="toolGreen efect" data-title="Mis datos" href='@(Url.Action("_ActualizarDatos", "Account"))'>
                    <span class="ico"><i class="fa fa-bars"></i></span>
                    <span class="info">Mis Datos</span>
                </a>
            </li>
            <li class="d-none">
                <a class="toolGreen efect" data-title="Mis Atenciones" target="_blank" href='http://www.ensa.com.pe/ensa/atenciones'>
                    <span class="ico"><i class="far fa-file-alt"></i></span>
                    <span class="info"> Mi buzón</span>
                </a>
            </li>
            <li class="d-none">
                <a class="toolGreen efect" data-title="Mi Cuenta Corriente" target="_blank" href='http://www.ensa.com.pe/ensa/ctacte'>
                    <span class="ico"><i class="fas fa-chart-bar"></i></span>
                    <span class="info"> Mi Cuenta Corriente</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Registrar Reclamo" href='@(Url.Action("Reclamo", "Suministro"))'>
                    <span class="ico"><i class="far fa-file-alt"></i></span>
                    <span class="info">Registrar Reclamo</span>
                </a>
            </li>
            @*DISTRILUZ 036 INICIO FINANCIAMIENTO VIRTUAL*@
            @if (ViewBag.PuedeFinanciar)
            {
                <li>
                    <a id="procFinan" class="toolGreen efect" data-title="Financiamiento Virtual" href='@(Url.Action("Resumen", "Financiamiento"))'>
                        <span class="ico"><i class="far fa-address-card"></i></span>
                        <span class="info">Financiamiento Virtual</span>
                    </a>
                </li>
            }
            @*DISTRILUZ 036 FIN FINANCIAMIENTO VIRTUAL*@

            <li class="d-none">
                <a class="toolGreen efect" data-title="Mi buzón" href='#'>
                    <span class="ico"><i class="far fa-file-alt"></i></span>
                    <span class="info"> Mi buzón</span>
                </a>
            </li>
        </ul>
    </aside>
</div>
