﻿@using OficinaVirtual.Entidad.Consulta
@{
    Layout = null;
    var oPago = ViewBag.Pago;
    var oEmpresa = ViewBag.Empresa;
    var idNroServicio = ViewBag.PayIdNroServicio ?? Session["Suministro"];
    var periodos = ViewBag.PayPeriodos ?? Session["Periodos"];
}
<html>
<head>
</head>
<body>
    <div class="row">
        <div class="col-12">
            @if (oPago.dataMap != null)
            {

                <h2 style="font-family:Verdana, Helvetica, sans-serif;font-size:2em;font-weight:700;text-align:center;color:#1b3862;">PAGO REALIZADO</h2><br />
                <p style="font-family:Verdana, Helvetica, sans-serif;font-size:1.2em;font-weight:400;color:#2d2d2d;">A continuación se muestra el detalle del pago realizado:<br /><br /><br /></p>
                <div>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                        <tbody>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Número de tarjeta:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.dataMap.CARD </p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Número de pedido:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.order.purchaseNumber</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Número de transacción:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.dataMap.TRANSACTION_ID</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Descripción de la transacción:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">Pago del suministro @idNroServicio Y periodos: @periodos</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Fecha y hora de autorización:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@DateTime.ParseExact(oPago.dataMap.TRANSACTION_DATE, "yyMMddHHmmss", System.Globalization.CultureInfo.InvariantCulture) </p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Moneda:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.order.currency</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Importe Autorizado:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.dataMap.AMOUNT</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Código de autorización:</strong></p><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.dataMap.AUTHORIZATION_CODE</p><br /></td>
                            </tr>
                            <tr>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Resultado de la operación:</strong></p><br /><br /></td>
                                <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oPago.dataMap.STATUS - @oPago.dataMap.ACTION_DESCRIPTION</p><br /></td>
                            </tr>
                            @if (oEmpresa.Elementos != null)
                            {
                                <tr>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Comercio:</strong></p><br /></td>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oEmpresa.Elementos[0].Empresa</p><br /></td>
                                </tr>
                                <tr>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Teléfono:</strong></p><br /></td>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oEmpresa.Elementos[0].Telefono</p><br /></td>
                                </tr>
                                <tr>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;"><strong>Dirección:</strong></p><br /></td>
                                    <td><p style="font-family:Verdana, Helvetica, sans-serif;font-size:12px;font-weight:400;color:#2d2d2d;text-align:right;">@oEmpresa.Elementos[0].Direccion</p><br /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p style="font-size:1em;text-align:center;"><strong>No hay información</strong></p>
            }
        </div>
    </div>
</body>
</html>
