﻿@using OficinaVirtual.Entidad.Consulta
@{
    int iTerminos = ViewBag.Terminos;
    var oPago = ViewBag.Pago;
    var oEmpresa = ViewBag.Empresa;
    var sMensaje = ViewBag.Mensaje;
    var oResultado = (clsResultadoDatos)Session["Datos"];
    var sStyle = string.Empty;
    var sStyleOcultar = " display: none ";
}

<script type="text/javascript" src="~/Scripts/Suministro/PagoVisa.js?@Util.IdVersion"></script>

<!-- MODAL -->
<div class="modal fade modPagoVisa" id="modPagoVisa" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title font-montserrat font-weight-bold hint-text">Error</label>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
            </div>
            <div class="modal-body">
                @Session["Mensaje"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-red font-montserrat" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cerrar </button>
            </div>
        </div>
    </div>
</div>

<div class="contentPago">
    <div class="row">
        @if (oResultado.IdNroServicio == 0 || (sMensaje != null && sMensaje != ""))
        {
            <div class="col-12">
                <h2 class="lighBlue text-center mb-1">¡ATENCIÓN!</h2>
                <h5 class="text-center mb-4">@sMensaje</h5>
                <div class="text-center imgAlert"><img src="~/Content/img/pago-aldia.png"></div>
            </div>
        }
        else if (oResultado.IdNroServicio != 0)
        {
            <div class="col-lg-3 col-md-3 col-sm-3">
                @using (Html.BeginForm("Resumen", "Suministro", FormMethod.Post, new { @class = "frmVisaConsultaResumen" }))
                {
                    <input type="hidden" class="Cerrar" value="@Session["Cerrar"]" />
                    <input type="hidden" class="Paso" value="@Session["Paso"]" />
                }
                <h2 class="lighBlue">@oResultado.IdNroServicio</h2>
                <p class="smallPago">N° de Suministro</p>
                <h3>@oResultado.Nombres</h3>
                <p class="smallPago">Nombre</p>
                <h3>@oResultado.Direccion</h3>
                <p class="smallPago">Dirección</p>
                @if (oResultado.FechaEmision != null)
                {
                    <h3>@oResultado.FechaEmision</h3>
                }
                <p class="smallPago">Fecha de Emisión</p>
                @if (oResultado.FechaVencimiento != null)
                {
                    <h3>@oResultado.FechaVencimiento</h3>
                }
                <p class="smallPago">Fecha de Vencimiento</p>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="contStepago">
                    <div class="stepPago">
                        <ul class="list-unstyled d-flex flex-row justify-content-around">
                            <li>
                                <span id="imgPago01" class="imgPago"><img src="~/Content/img/rayoStep1.png"></span>
                                <span id="numPago01" class="numPago lighBlue">01</span>
                            </li>
                            <li>
                                <span id="imgPago02" class="imgPago">
                                    @if (Session["Paso"].ToString() == "1")
                                    {
                                        <img src="~/Content/img/rayoStep0.png">
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/rayoStep2.png">
                                    }
                                </span>
                                <span id="numPago02" class="numPago">02</span>
                            </li>
                            <li>
                                <span id="imgPago03" class="imgPago">
                                    @if (Session["Paso"].ToString() == "3")
                                    {
                                        <img src="~/Content/img/rayoStep3.png">
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/rayoStep0.png">
                                    }
                                </span>
                                <span id="numPago03" class="numPago">03</span>
                            </li>
                        </ul>
                    </div>
                    <!-- PASO 1 -->
                    <div id="step01" class="steps" style="@(Session["Paso"].ToString() != "1" ? sStyleOcultar : sStyle)">
                        @using (Html.BeginForm("VisaValida", "Suministro", FormMethod.Post, new { @id = "frmVisaValida" }))
                        {
                            <div class="row">
                                <div class="col-12">
                                    <ul class="list-unstyled d-flex flex-row justify-content-around">
                                        <li>
                                            <label class="checkPago">
                                                <input type="hidden" name="lblSuministro" id="lblSuministro" value="@oResultado.IdNroServicio" />
                                                <input type="radio" name="rdMonto" id="1" value="@Convert.ToDecimal(oResultado.ImporteMinimo)" @(Session["TipoMonto"].ToString() == "1" ? "checked" : "")>
                                            </label>
                                            <span class="montoPago text-center" id="MontoMinimo">S/ @Convert.ToDecimal(oResultado.ImporteMinimo)</span>
                                            <p class="mb-0 text-center">Pago mínimo</p>
                                        </li>
                                        <li>
                                            <label class="checkPago">
                                                <input type="radio" name="rdMonto" id="2" value="@Convert.ToDecimal(oResultado.ImporteTotal)" @(Session["TipoMonto"].ToString() == "2" ? "checked" : "")>
                                            </label>
                                            <span class="montoPago text-center" id="MontoTotal">S/ @Convert.ToDecimal(oResultado.ImporteTotal)</span>
                                            <p class="mb-0 text-center">Deuda total</p>
                                        </li>
                                    </ul>
                                    <input type="hidden" id="tipoMonto" name="tipoMonto" value="@Session["TipoMonto"].ToString()" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-center mt-4 mb-4">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="chkTerminos" id="chkTerminos" @(iTerminos == 1 ? "checked" : "")>
                                            <label for="chkTerminos" class="form-check-label">Acepto las políticas de los <a href="@Session["urlterminos"]" target="_blank">términos y condiciones</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-md-center">
                                <div class="col-sm-12 col-md-4">
                                    <div class="mt-2 mb-2">
                                        <button id="btnSiguiente02" class="btn btn-greenDsble btnSiguiente02" @(iTerminos == 1 ? "" : "disabled")>Siguiente</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- PASO 2 -->
                    <div id="step02" class="steps" style="@(Session["Paso"].ToString() != "2" ? sStyleOcultar : sStyle)">
                        <h2 class="lighBlue text-center mb-4">Procesando su solicitud</h2>
                        <p class="text-center mb-0"><span class="bold">Por favor no cierre, ni actualice esta página</span>, su solicitud está siendo procesada.</p>
                        <div class="dlw-Preload position-relative"><div class="icon-preload rotate"></div> <div class="logo-preload animated infinite heartBeat"></div></div>
                    </div>
                    <!-- PASO 3 -->
                    <div id="step03" class="steps" style="@(Session["Paso"].ToString() != "3" ? sStyleOcultar : sStyle)">
                        @using (Html.BeginForm("VisaFinalizar", "Suministro", FormMethod.Post, new { @id = "frmVisaFinalizar" }))
                        {
                            <div class="row">
                                <div class="col-12">
                                    @if (oPago.dataMap != null)
                                    {
                                        <h2 class="lighBlue text-center mb-4">PAGO REALIZADO</h2>
                                        <p>A continuación se muestra el detalle del pago realizado:</p>
                                        <p class="mb-0"><span class="bold">Número de tarjeta:</span> @oPago.dataMap.CARD </p>
                                        <p class="mb-0"><span class="bold">Número de pedido:</span> @oPago.order.purchaseNumber </p>
                                        <p class="mb-0"><span class="bold">Número de transacción:</span> @oPago.dataMap.TRANSACTION_ID </p>
                                        <p class="mb-0"><span class="bold">Descripción de la transacción:</span> Pago del suministro - @Session["Suministro"] y periodos: @Session["Periodos"]</p>
                                        <p class="mb-0"><span class="bold">Fecha y hora de autorización:</span> @DateTime.ParseExact(oPago.dataMap.TRANSACTION_DATE, "yyMMddHHmmss", System.Globalization.CultureInfo.InvariantCulture) </p>
                                        <p class="mb-0"><span class="bold">Moneda:</span> @oPago.order.currency </p>
                                        <p class="mb-0"><span class="bold">Importe Autorizado: </span> @oPago.dataMap.AMOUNT </p>
                                        <p class="mb-0"><span class="bold">Código de autorización:</span> @oPago.dataMap.AUTHORIZATION_CODE </p>
                                        <p><span class="bold">Resultado de la operación:</span> @oPago.dataMap.STATUS - @oPago.dataMap.ACTION_DESCRIPTION </p>
                                        <hr />
                                        <p class="mb-0"><span class="bold">Comercio:</span> @oEmpresa.Elementos[0].Empresa </p>
                                        <p class="mb-0"><span class="bold">Teléfono:</span> @oEmpresa.Elementos[0].Telefono </p>
                                        <p><span class="bold">Dirección:</span> @oEmpresa.Elementos[0].Direccion </p>

                                        <p>
                                            Al finalizar se remitirá la siguiente operación vía correo electrónico y se recomienda imprimirla. Para dudas y consultas verifique los
                                            <a href="@Session["urlterminos"]" target="_blank">términos y condiciones </a> o las
                                            <a href="@Session["urlDevolucion"]" target="_blank">políticas de devolución</a>
                                        </p>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 ml-auto">
                                    <a target="_blank" href="@Url.Action("VisaImpresion", "Suministro")" class="btn btn-blue">Imprimir</a>
                                </div>
                                <div class="col-3 mr-auto">
                                    <button id="btnFinalizar" class="btn btn-green">Finalizar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
</script>

@{
    Session["Mensaje"] = null;
}