﻿@{
    string sMensajeTipoMonto = (Session["TipoMonto"].ToString() == "1" ? "mínimo" : "total");
    var oResultado = ViewBag.Resultado.Datos;
}

<div class="contentPago">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <h2 class="lighBlue">@oResultado.IdNroServicio</h2>
            <p class="smallPago">N° de Suministro</p>
            <h3>@oResultado.Nombres</h3>
            <p class="smallPago">Nombre</p>
            <h3>@oResultado.Direccion</h3>
            <p class="smallPago">Dirección</p>
            @if (oResultado.FechaEmision != null)
            {
                <h3>@oResultado.FechaEmision</h3>
            }
            <p class="smallPago">Fecha de Emisión</p>
            @if (oResultado.FechaVencimiento != null)
            {
                <h3>@oResultado.FechaVencimiento</h3>
            }
            <p class="smallPago">Fecha de Vencimiento</p>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="contStepago">
                <div class="stepPago">
                    <ul class="list-unstyled d-flex flex-row justify-content-around">
                        <li>
                            <span id="imgPago01" class="imgPago"><img src="~/Content/img/rayoStep1.png"></span>
                            <span id="numPago01" class="numPago lighBlue">01</span>
                        </li>
                        <li>
                            <span id="imgPago02" class="imgPago"><img src="~/Content/img/rayoStep2.png"></span>
                            <span id="numPago02" class="numPago lighBlue">02</span>
                        </li>
                        <li>
                            <span id="imgPago03" class="imgPago"><img src="~/Content/img/rayoStep0.png"></span>
                            <span id="numPago03" class="numPago">03</span>
                        </li>
                    </ul>
                </div>
                <!-- PASO 1 -->
                <div id="step01" class="steps" style="display: none"></div>
                <!-- PASO 2 -->
                <div id="step02" class="steps">
                    <div class="row">
                        <div class="col-12">
                            <div id="step02Data" class="mt-4 mb-4 step02Data">
                                <h2 class="lighBlue text-center mb-4">CONFIRMACIÓN DE LA SOLICITUD</h2>
                                <p class="text-center mb-0"><span class="bold">Número de pedido:</span> @Session["NroPedido"]</p>
                                <p class="text-center mb-0"><span class="bold">Ud. ha seleccionado el monto @sMensajeTipoMonto de:</span> S/. @Session["Monto"]</p>
                                <p class="text-center"><span class="bold">Fecha y hora de la solicitud:</span> @DateTime.Now</p>
                                <p class="text-center">Para proceder con el pago, dar click en el botón <span class="bold">"Pagar"</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 ml-auto">
                            <a id="btnAnterior01" class="btn btn-red btnAnterior01" href="@Url.Action("VisaConsulta", "Suministro")">Anterior</a>
                        </div>
                        <div class="col-sm-12 col-md-3 mr-auto">
                            <form action="@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))Suministro/VisaProcesando" id="frmVisaPago" method="post">
                                <script src='@Session["URLButtonJS"]'
                                        data-sessiontoken="@Session["SessionKey"]"
                                        data-merchantid="@Session["MerchantId"]"
                                        data-channel="web"
                                        data-buttonsize=""
                                        data-buttoncolor=""
                                        data-merchantlogo="http://www.distriluz.com.pe/templates/lb_hct/images/logo.png"
                                        data-merchantname="DISTRILUZ"
                                        data-formbuttoncolor=""
                                        data-showamount=""
                                        data-purchasenumber="@Session["NroPedido"]"
                                        data-amount="@Session["Monto"]"
                                        data-cardholdername="@Session["Nombres"]"
                                        data-cardholderlastname="@Session["ApPaterno"]"
                                        data-cardholderemail="@Session["Correo"]"
                                        data-usertoken="@Session["Correo"]"
                                        data-recurrence=""
                                        data-frequency=""
                                        data-recurrencetype=""
                                        data-recurrenceamount=""
                                        data-documenttype="0"
                                        data-documentid=""
                                        data-beneficiaryid=""
                                        data-productid=""
                                        data-phone="@Session["Telefono"]"
                                        data-timeouturl="@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))">
                                </script>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- PASO 3 -->
                <div id="step03" class="steps" style="display: none"></div>
            </div>
        </div>
    </div>
</div>