﻿@using System.Web.Optimization
@using OficinaVirtual.Util.Tool
@using OficinaVirtual.Cliente.General.App_Code

@{
    Layout = null;

    var _Convert = clsConvert.Instancia;
}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap material admin template">
    <meta name="author" content="">
    <title>Proyectos | Index</title>
    <link rel="apple-touch-icon" href="~/Content/Images/Home/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/Content/Images/Home/favicon-32x32.png">
    @Html.StylesRender("~/CSS/Core", "~/CSS/Plugins", $"~/CSS/Plugins/{Util.GetURL()}")
    @RenderSection("StylePlugin", required: false)
    @Styles.Render("~/CSS/Fonts", "http://fonts.googleapis.com/css?family=Roboto:400,400italic,700")
    @Html.StylesRender($"~/CSS/Styles/{Util.GetURL()}")
    @RenderSection("Style", required: false)
    @Scripts.Render("~/JS/Modernizr")
    <script type="text/javascript">
        var _RootPath = '@Url.Content("~")';
        Breakpoints();
    </script>
</head>
<body class="site-navbar-small site-menubar-unfold site-menubar-keep">
    <nav class="site-navbar navbar navbar-inverse navbar-fixed-top navbar-mega" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close navbar-toggle-left hided"
                    data-toggle="menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-bar"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-collapse"
                    data-toggle="collapse">
                <i class="icon md-more" aria-hidden="true"></i>
            </button>
            <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
                <img class="navbar-brand-logo" src="~/Content/Images/Home/favicon-96x96.png" title="SISCCO">
                <span class="navbar-brand-text hidden-xs">@(System.Configuration.ConfigurationManager.AppSettings["Environment"]?? "Proyectos")</span>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-target="#site-navbar-search"
                    data-toggle="collapse">
                <span class="sr-only">Toggle Search</span>
                <i class="icon md-search" aria-hidden="true"></i>
            </button>
        </div>
        <div class="navbar-container container-fluid">
            <!-- Navbar Collapse -->
            <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
                <!-- Navbar Toolbar -->
                <ul class="nav navbar-toolbar">
                    <li class="hidden-float" id="toggleMenubar">
                        <a data-toggle="menubar" href="#" role="button">
                            <i class="icon hamburger hamburger-arrow-left">
                                <span class="sr-only">Toggle menubar</span>
                                <span class="hamburger-bar"></span>
                            </i>
                        </a>
                    </li>
                    <li class="hidden-xs" id="toggleFullscreen">
                        <a class="icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                            <span class="sr-only">Toggle fullscreen</span>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar -->
                <!-- Navbar Toolbar Right -->
                <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

                    <li class="dropdown dropdown-fw dropdown-mega">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="fade" role="button" id="nombreProveedor"><i class="icon md-group-work" aria-hidden="true"></i>@Util.Usuario.NombreProveedor</a>
                    </li>
                    <li class="dropdown dropdown-fw dropdown-mega">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="fade" role="button" id="nombreUsuario"><i class="icon md-account-box" aria-hidden="true"></i>@Util.Usuario.Nombre</a>
                    </li>

                    <li class="dropdown">
                        <a class="navbar-avatar dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <span class="avatar avatar-online">
                                <img src="~/Content/Images/Home/noavatar.png" alt="...">
                                <i></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="~/Home/Logout" role="menuitem"><i class="icon md-power" aria-hidden="true"></i> Salir</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hide">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Notifications" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <i class="icon md-notifications" aria-hidden="true"></i>
                            <span class="badge badge-danger up">5</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>NOTIFICATIONS</h5>
                                <span class="label label-round label-danger">New 5</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon md-receipt bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">A new order has been placed</h6>
                                                    <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">5 hours ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon md-account bg-green-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Completed the task</h6>
                                                    <time class="media-meta" datetime="2015-06-11T18:29:20+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon md-settings bg-red-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Settings updated</h6>
                                                    <time class="media-meta" datetime="2015-06-11T14:05:00+08:00">2 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon md-calendar bg-blue-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Event started</h6>
                                                    <time class="media-meta" datetime="2015-06-10T13:50:18+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <i class="icon md-comment bg-orange-600 white icon-circle" aria-hidden="true"></i>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Message received</h6>
                                                    <time class="media-meta" datetime="2015-06-10T12:34:48+08:00">3 days ago</time>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon md-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    All notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown hide">
                        <a data-toggle="dropdown" href="javascript:void(0)" title="Messages" aria-expanded="false"
                           data-animation="scale-up" role="button">
                            <i class="icon md-email" aria-hidden="true"></i>
                            <span class="badge badge-info up">3</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-media" role="menu">
                            <li class="dropdown-menu-header" role="presentation">
                                <h5>MESSAGES</h5>
                                <span class="label label-round label-info">New 3</span>
                            </li>

                            <li class="list-group" role="presentation">
                                <div data-role="container">
                                    <div data-role="content">
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-online">
                                                        <img src="~/Content/Images/Home/app-f-1.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Mary Adams</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-17T20:22:05+08:00">30 minutes ago</time>
                                                    </div>
                                                    <div class="media-detail">Anyways, i would like just do it</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-off">
                                                        <img src="~/Content/Images/Home/app-f-1.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Caleb Richards</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-17T12:30:30+08:00">12 hours ago</time>
                                                    </div>
                                                    <div class="media-detail">I checheck the document. But there seems</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-busy">
                                                        <img src="~/Content/Images/Home/app-f-1.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">June Lane</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-16T18:38:40+08:00">2 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Lorem ipsum Id consectetur et minim</div>
                                                </div>
                                            </div>
                                        </a>
                                        <a class="list-group-item" href="javascript:void(0)" role="menuitem">
                                            <div class="media">
                                                <div class="media-left padding-right-10">
                                                    <span class="avatar avatar-sm avatar-away">
                                                        <img src="~/Content/Images/Home/app-f-1.jpg" alt="..." />
                                                        <i></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">Edward Fletcher</h6>
                                                    <div class="media-meta">
                                                        <time datetime="2015-06-15T20:34:48+08:00">3 days ago</time>
                                                    </div>
                                                    <div class="media-detail">Dolor et irure cupidatat commodo nostrud nostrud.</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown-menu-footer" role="presentation">
                                <a class="dropdown-menu-footer-btn" href="javascript:void(0)" role="button">
                                    <i class="icon md-settings" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" role="menuitem">
                                    See all messages
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="toggleChat" class="hide">
                        <a data-toggle="site-sidebar" href="javascript:void(0)" title="Chat" data-url="~/Content/Template/site-sidebar.tpl">
                            <i class="icon md-comment" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <!-- End Navbar Toolbar Right -->
            </div>
            <!-- End Navbar Collapse -->
            <!-- Site Navbar Seach -->
            <div class="collapse navbar-search-overlap" id="site-navbar-search">
                <form role="search">
                    <div class="form-group">
                        <div class="input-search">
                            <i class="input-search-icon md-search" aria-hidden="true"></i>
                            <input type="text" class="form-control" name="site-search" placeholder="Search...">
                            <button type="button" class="input-search-close icon md-close" data-target="#site-navbar-search"
                                    data-toggle="collapse" aria-label="Close"></button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Site Navbar Seach -->
        </div>
    </nav>
    <div class="site-menubar">
        <ul class="site-menu">
            @Util.LoadMenu(null)
        </ul>
    </div>
    <div class="site-gridmenu">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="~/Content/Template/apps/mailbox/mailbox.html">
                            <i class="icon md-email"></i>
                            <span>Mailbox</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/calendar/calendar.html">
                            <i class="icon md-calendar"></i>
                            <span>Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/contacts/contacts.html">
                            <i class="icon md-account"></i>
                            <span>Contacts</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/media/overview.html">
                            <i class="icon md-videocam"></i>
                            <span>Media</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/documents/categories.html">
                            <i class="icon md-receipt"></i>
                            <span>Documents</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/projects/projects.html">
                            <i class="icon md-image"></i>
                            <span>Project</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Content/Template/apps/forum/forum.html">
                            <i class="icon md-comments"></i>
                            <span>Forum</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Home/Index">
                            <i class="icon md-view-dashboard"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="page animsition">
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div class="site-footer-legal">© 2020</div>
        <div class="site-footer-right">
            Crafted by T.I.
        </div>
    </footer>

    <div>
        <div id="divDataUser" @Html.ToTagData(_Convert.ToObject<Dictionary<String, Object>>(_Convert.ToJson(Util.Usuario)))></div>
    </div>

    @Html.ScriptsRender("~/JS/Core", "~/JS/Plugins", $"~/JS/Plugins/{Util.GetURL()}")
    @RenderSection("ScriptPlugin", required: false)
    @Html.ScriptsRender("~/JS/Scripts", $"~/JS/Scripts/{Util.GetURL()}")
    @RenderSection("Script", required: false)
</body>
</html>