﻿/*
    Creación        : 2020-04-11
    Responsable     : JONATHAN VALDERRAMA
*/

.div-step {
    padding: 0px 20px;
}

    .div-step h3 {
        padding-bottom: 20px;
        margin-left: 30px;
    }

.divider {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px silver;
}

.term-cond {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 10px;
}

.field-required {
    color: #d93025;
    font-size: 1.2rem;
    line-height: 135%;
}

