﻿/*
    Creación        : 2020-08-24
    Responsable     : JONATHAN VALDERRAMA
*/
.cards .panel-heading,
.cards .panel-body,
.cards .panel-footer {
    padding: 1rem 1.7rem;
}

.cards .panel-title {
    padding: 1rem 0rem !important;
    padding-bottom: 0 !important;
}

.cards .panel-footer {
    text-align: right;
}