﻿/*
    Creación        : 2020-08-20
    Responsable     : JONATHAN VALDERRAMA
*/

#divMain {
    background: url('../../Images/Proyectos/app-b-1.jpg');
    background-size: cover;
    height: calc(100vh - 105px);
}