﻿/*
    Creación        : 2020-08-24
    Responsable     : JONATHAN VALDERRAMA
*/
.select2-container--open {
    z-index: 1700;
}

#modFilterTitle span {
    font-size: 2rem;
    font-weight: bold;
}

#divE {
    border-top: .1rem solid silver;
    padding-top: 2rem;
}

    #divE .floating-label {
        top: .5rem !important;
        left: 4.3rem !important;
        font-size: 1.2rem;
    }

    #divE .form-control:not(.empty) ~ .floating-label, #divE .form-control:focus ~ .floating-label {
        left: .3rem !important;
        top: -2.1rem !important;
        font-size: 1.1rem !important;
    }

    #divE .input-group-addon {
        background-color: #eee;
        border: 1px solid #e0e0e0;
        padding: 0 1rem;
    }

        #divE .input-group-addon i {
            font-size: 1.7rem;
        }

    #divE .input-group input {
        height: 3rem !important;
        font-size: 1.5rem;
        padding-left: .7rem !important;
        font-weight: bold;
    }




.txt-edit {
    border-top: .1rem solid silver;
    padding-top: 2rem;
}

    .txt-edit .floating-label {
        top: .5rem !important;
        font-size: 1.2rem !important;
    }

    .txt-edit .form-control:not(.empty) ~ .floating-label, 
	.txt-edit .form-control:focus ~ .floating-label {
        left: -3.5rem !important;
        top: -2.1rem !important;
        font-size: 1.1rem !important;
    }

    .txt-edit .input-group-addon {
        background-color: #eee !important;
        border: 1px solid #e0e0e0 !important;
        padding: 0 1rem !important;
		font-size: 1rem !important;
    }

    .txt-edit .input-group input {
        height: 3rem !important;
        font-size: 1.5rem !important;
        padding-left: .7rem !important;
        font-weight: bold !important;
    }

    .txt-edit .input-group-btn button {
        padding: 0 .5rem;
    }
	
    .txt-edit .input-group-btn button i{
        font-size: 1.8rem;
    }

.row-select {
    background-color: rgba(100, 200, 100, 0.3) !important;
}

.swal2-container {
    z-index: 1700;
}

.display-flex {
    display: flex;
}