﻿@{
    ViewBag.Title = "MiPago";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
<link rel="stylesheet" href="~/Content/Financiamiento/MiPagoNiubiz.css?@Util.IdVersion">

<style>
    .bs-stepper .step-trigger {
        display: grid !important;
    }

    .modal-header {
        color: green;
        background-color: #fff;
    }
</style>
<div id="divMiPago" class="bn-container pt-3">
    <div class="cardFinanNombre">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <span class="form-control green">
                        Orden Cobro Pagar
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="divSearch" class="form-group">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <input type="text" id="txtIdNroServicio" class="form-control" data-idorder="@ViewBag.IdOrder"
                        data-idorden="@ViewBag.IdOrden" data-errormessage="@ViewBag.ErrorMessage"
                        data-idnroservicio="@ViewBag.IdNroServicio" data-iduser="@ViewBag.IdUser"
                        placeholder="Ingrese Suministro" maxlength="8" required>
                    <div class="invalid-feedback">El suministro es obligatorio.</div>
                </div>
                <div class="col-sm-12 col-md-5">
                    <button type="button" id="btnSearch" class="btn btn-green"> Consultar</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <span class="lnk-search-dni">No conoce su suministro ingrese </span><a href="~/Suministro/MiRecibo"
                        target="_blank">Aqui</a>
                </div>
            </div>
        </div>
        <div id="divResult" class="form-group d-none">
            <div class="row py-3">
                <div class="col-sm-12 col-md-3 col-lg-2 my-2">
                    <span id="lblSuministro" class="d-block font-weight-bold"></span>
                    <span>Suministro</span>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 my-2">
                    <span id="lblNombres" class="d-block font-weight-bold"></span>
                    <span>Nombre</span>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-7 my-2">
                    <span id="lblDireccion" class="d-block font-weight-bold"></span>
                    <span>Dirección</span>
                </div>
            </div>
            <div class="FinanReg pt-3 px-3">
                <div class="row">

                    <div class="col-12">

                        <div id="stepper1" class="bs-stepper">

                            <div class="bs-stepper-header" role="tablist">
                                <div class="step" data-target="#divStep01">
                                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger1"
                                        aria-controls="divStep01" aria-selected="false">
                                        <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                        <span class="bs-stepper-circle">1</span>
                                    </button>
                                </div>
                                <div class="bs-stepper-line"></div>
                                <div class="step " data-target="#divStep02">
                                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger2"
                                        aria-controls="divStep02" aria-selected="true">
                                        <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                        <span class="bs-stepper-circle">2</span>
                                    </button>
                                </div>
                                <div class="bs-stepper-line"></div>
                                <div class="step" data-target="#divStep03">
                                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger3"
                                        aria-controls="divStep03" aria-selected="false">
                                        <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                        <span class="bs-stepper-circle">3</span>
                                    </button>
                                </div>
                                <div class="bs-stepper-line"></div>
                                <div class="step" data-target="#divStep04">
                                    <button type="button" class="step-trigger" role="tab" id="stepper1trigger4"
                                        aria-controls="divStep04" aria-selected="false">
                                        <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                        <span class="bs-stepper-circle">4</span>
                                    </button>
                                </div>
                            </div>

                            <div class="bs-stepper-content">

                                <div id="divStep01" role="tabpanel" class="bs-stepper-pane"
                                    aria-labelledby="stepper1trigger1">
                                </div>

                                <div id="divStep02" role="tabpanel" class="bs-stepper-pane"
                                    aria-labelledby="stepper1trigger2">
                                </div>

                                <div id="divStep03" role="tabpanel" class="bs-stepper-pane"
                                    aria-labelledby="stepper1trigger3">
                                </div>

                                <div id="divStep04" role="tabpanel" class="bs-stepper-pane"
                                    aria-labelledby="stepper1trigger4">
                                    <h2 class="text-center lighBlue font-weight-bold my-3 pb-3">PAGO REALIZADO</h2>
                                    <div class="row mb-3">
                                        <div class="col-sm-12 text-center">
                                            <span id="lblPaySubTitle">A continuación se muestra el detalle del pago
                                                realizado:</span>
                                        </div>
                                    </div>
                                    <div id="divDataPay" class="font-weight-bold">
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Número de pedido: </label>
                                            <label class="col-12 d-lg-none d-md-none">Número de pedido: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayNroPedido"
                                                    class="lighBlue font-weight-bold">*****</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Número de Tarjeta: </label>
                                            <label class="col-12 d-lg-none d-md-none">Número de Tarjeta: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayNroTarjeta"
                                                    class="lighBlue font-weight-bold">*****</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Fecha y hora de la autorización:
                                            </label>
                                            <label class="col-12 d-lg-none d-md-none">Fecha y hora de la autorización:
                                            </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayFecha" class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Importe autorizado: </label>
                                            <label class="col-12 d-lg-none d-md-none">Importe autorizado: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayImporte" class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Moneda autorizada: </label>
                                            <label class="col-12 d-lg-none d-md-none">Moneda autorizada: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayMoneda" class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Descripción de la transacción:
                                            </label>
                                            <label class="col-12 d-lg-none d-md-none">Descripción de la transacción:
                                            </label>
                                            <label class="col-12 col-lg-4">
                                                Pago del suministro <span id="lblPaySuministro"
                                                    class="lighBlue font-weight-bold">******</span>
                                                @*<span class="lighBlue font-weight-bold">Pago del suministro *****,
                                                    periodos:</span>
                                                    Pago del suministro <span id="lblPaySuministro" class="lighBlue
                                                    font-weight-bold">******</span>, periodos: <span id="lblPayPeriodo"
                                                    class="lighBlue font-weight-bold">******</span>*@
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Codigo de autorización: </label>
                                            <label class="col-12 d-lg-none d-md-none">Codigo de autorización: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayCodigoAutoriza"
                                                    class="lighBlue font-weight-bold">5545456468484</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Descripción de autorización:
                                            </label>
                                            <label class="col-12 d-lg-none d-md-none">Descripción de autorización:
                                            </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayDescripcionAutoriza"
                                                    class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Nombre del comercio: </label>
                                            <label class="col-12 d-lg-none d-md-none">Nombre del comercio: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayComercio"
                                                    class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Teléfono del comercio: </label>
                                            <label class="col-12 d-lg-none d-md-none">Teléfono del comercio: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayComercioTelefono"
                                                    class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                        <div class="form-group row mb-2">
                                            <label class="col-sm-6 text-right hide-sm">Dirección del comercio: </label>
                                            <label class="col-12 d-lg-none d-md-none">Dirección del comercio: </label>
                                            <label class="col-12 col-lg-4">
                                                <span id="lblPayComercioDireccion"
                                                    class="lighBlue font-weight-bold">******</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row my-3" >
                                        <div id="showButtonDocuments" class="col-12 col-lg-9">
                                            <button id="btnModalTransaccion" class="btn p-2 mr-2" style="width: auto">
                                                <i class="far fa-file-alt fa-2x"></i><br />
                                                <span class="mt-1"
                                                    style="font-size: 14px">Transacción<br>Extrajudicial</span>
                                            </button>
                                            <button id="btnModalComprobante" class="btn p-2" style="width: auto">
                                                <i class="far fa-file-alt fa-2x"></i><br />
                                                <span class="mt-1" style="font-size: 14px">Comprobante<br>BV /
                                                    FAC</span>
                                            </button>
                                        </div>
                                        <div class="col-12 col-lg-3 ml-auto py-3">
                                            <a id="btnTerminar" class="btn btn-success"
                                                href='@(Url.Action("Resumen", "Suministro"))'>Terminar</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bn-footer">
        </div>
    </div>
</div>

<div class="modal fade" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pdfTitulo">Pdf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="iframeContent">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=@(Util.TokenCaptchaSite)"></script>
<script type="text/javascript" src="~/Scripts/Financiamiento/MiPagoNiubiz.js?@Util.IdVersion"></script>