﻿@model List<OficinaVirtual.Entidad.Consulta.clsDetalleOrdenCobro>
@{
    ViewBag.Title = "Pagar Orden Cobro";

    var IdNroServicio = ViewBag.IdNroServicio;
    var nombre = ViewBag.nombre;
    var Column1 = ViewBag.Column1;
    var Importe = ViewBag.Importe;
    var tienePedido = ViewBag.tienePedido;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
<style>
    .bs-stepper .step-trigger {
        display: grid !important;
    }
</style>

<div class="contentSuministro">
    <article class="infoDetalleDeuda">
        <input type="hidden" id="txtIdUser" value="@Session["IdUsuario"]" />
        <input type="hidden" id="tienePedido" value="@tienePedido" />
        <div class="cardFinanNombre">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="form-control green">
                            Orden Cobro Pagar
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-sm-12 col-md-3 col-lg-2 my-2">
                <h5 class="font-weight-bold">@IdNroServicio</h5>
                <span>Suministro</span>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-3 my-2">
                <b class="d-block">@nombre</b>
                <span>Nombre</span>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-7 my-2">
                <b class="d-block">@Column1</b>
                <span>Dirección</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="FinanReg pt-3 px-3">
                    <div class="row">
                        <div class="col-12">

                            <div id="stepper1" class="bs-stepper linear">
                                <div class="bs-stepper-header" role="tablist">
                                    <div class="step" data-target="#test-l-1">
                                        <button type="button" class="step-trigger" role="tab" id="stepper1trigger1" aria-controls="test-l-1" aria-selected="false" disabled="disabled">
                                            <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                            <span class="bs-stepper-circle">1</span>
                                        </button>
                                    </div>
                                    <div class="bs-stepper-line"></div>
                                    <div class="step active" data-target="#test-l-2">
                                        <button type="button" class="step-trigger" role="tab" id="stepper1trigger2" aria-controls="test-l-2" aria-selected="true">
                                            <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                            <span class="bs-stepper-circle">2</span>
                                        </button>
                                    </div>
                                    <div class="bs-stepper-line"></div>
                                    <div class="step" data-target="#test-l-3">
                                        <button type="button" class="step-trigger" role="tab" id="stepper1trigger3" aria-controls="test-l-3" aria-selected="false" disabled="disabled">
                                            <span class="bs-stepper-label"><i class="fas fa-bolt"></i></span>
                                            <span class="bs-stepper-circle">3</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="bs-stepper-content">
                                    <form onsubmit="return false">

                                        <div id="test-l-1" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger1">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Periodo</th>
                                                            <th scope="col">Tipo Documento</th>
                                                            <th scope="col">Fecha Vence</th>
                                                            <th scope="col" class="text-right">Importe</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var item in Model)
                                                        {
                                                            <tr>
                                                                <td>@item.PeriodoComercial</td>
                                                                <td>@item.Column1</td>
                                                                <td>@item.FechaVencimiento</td>
                                                                <td class="text-right">@($"S/ {item.Importe.ToString("#,##0.00")}")</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="font-weight-bold">Total</td>
                                                            <td class="font-weight-bold text-right">@($"S/ {Importe.ToString("#,##0.00")}")</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="text-center py-2">
                                                <div class="form-check mb-4">
                                                    <input class="form-check-input" type="checkbox" value="" id="cbTerminosCondiciones">
                                                    <label class="form-check-label" for="cbTerminosCondiciones">
                                                        Acepto las políticas de los <a href="#" data-toggle="modal" data-target="#videoModal">términos y condiciones</a>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="text-center row py-2">
                                                <div class="col-lg-2 col-md-4 col-6 offset-lg-4 offset-md-2">
                                                    @using (Html.BeginForm("Registro", "Financiamiento", FormMethod.Post, new { role = "form" }))
                                                    {
                                                    }

                                                    @using (Html.BeginForm("Registro", "Financiamiento", FormMethod.Post, new { role = "form" }))
                                                    {
                                                        <input type="hidden" name="idSuministro" value="@IdNroServicio" />
                                                        <button type="submit" class="btn btn-sm">Volver</button>
                                                    }
                                                </div>
                                                <div class="col-lg-2 col-md-4 col-6">
                                                    <button class="btn btn-success btn-sm" onclick="validarStep1()">Siguiente</button>
                                                </div>

                                            </div>
                                        </div>

                                        <div id="test-l-2" role="tabpanel" class="bs-stepper-pane active dstepper-block" aria-labelledby="stepper1trigger2">
                                            <h4 class="text-center text-blue my-3 pb-3">CONFIRMACIÓN DE LA SOLICITUD</h4>

                                            <div class="form-group row mt-3 mb-0">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Número de pedido:</label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">
                                                    <span class="text-blue font-weight-bold">663632</span>
                                                </label>
                                            </div>
                                            <div class="form-group row mb-0">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Ud. ha seleccionado pagar el monto de: S/</label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">
                                                    <span class="text-blue font-weight-bold">63.49</span>
                                                </label>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Fecha y hora de la solicitud: </label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">
                                                    <span class="text-blue font-weight-bold">2021-01-26 10:00</span>
                                                </label>
                                            </div>

                                            <p class="text-center">Para proceder con el pago, dar click en el botón <b>"Pagar"</b></p>

                                            <div class="text-center row py-2">
                                                <div class="col-lg-2 col-md-4 col-6 offset-lg-4 offset-md-2">
                                                    <button class="btn btn-sm" onclick="stepper1.previous()">Cancelar</button>
                                                </div>
                                                <div class="col-lg-2 col-md-4 col-6">
                                                    <button class="btn btn-success btn-sm" onclick="stepper1.next()">Pagar</button>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="test-l-3" role="tabpanel" class="bs-stepper-pane" aria-labelledby="stepper1trigger3">
                                            <h4 class="text-center text-blue my-3 pb-3">
                                                Metodos de Pago
                                            </h4>

                                            <div class="form-group row mt-3 mb-0">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Pago con Niubiz:</label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">
                                                    <span class="text-blue font-weight-bold">Visa</span>
                                                </label>
                                            </div>
                                            <div class="form-group row mb-0">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Depósito en cuenta:</label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">

                                                </label>
                                            </div>
                                            <div class="form-group row mb-3">
                                                <label class="col-6 col-lg-4 offset-md-3 col-form-label-sm">Orden de Pago en entidad bancario:</label>
                                                <label class="col-6 col-lg-2 col-form-label-sm">

                                                </label>
                                            </div>

                                            <div class="text-center py-2">
                                                <button class="btn btn-sm" onclick="stepper1.previous()">Cancelar</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <br />
                <br />
                <embed src="http://infolab.stanford.edu/pub/papers/google.pdf#view=fitH,100"
                       type="application/pdf"
                       frameBorder="0"
                       scrolling="auto"
                       height="800"
                       width="100%"></embed>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js"></script>

<script>
    var stepper1

    document.addEventListener('DOMContentLoaded', function () {
        stepper1 = new Stepper(document.querySelector('#stepper1'), {
            animation: true
        });

        if ($("#tienePedido").val()) {
            console.log('tienePedido');
            stepper1.to(2);
        };
    })

    function validarStep1() {
        if ($('#cbTerminosCondiciones').is(':checked')) {
            stepper1.next();
        }
    }


</script>