﻿@model List<OficinaVirtual.Entidad.Consulta.ClsFinanciamientoDetalle>
@{
    var item = Model[0];
    DateTime fechaEmisionDate = Convert.ToDateTime(item.FechaEmision);
    var fechaEmision = fechaEmisionDate.ToString("dd/MM/yyyy");
    DateTime fechaVencimientoDate = Convert.ToDateTime(item.FechaVencimiento);
    var fechaVencimiento = fechaVencimientoDate.ToString("dd/MM/yyyy");
    ViewBag.Title = "Registro";
    var urlTerminosCondiciones = ViewBag.urlTerminosCondiciones;
    var IdNroSuministro = ViewBag.IdOrder;
    var errorMessage = ViewBag.ErrorMessage;
}
<style type="text/css">
    div.dataTables_wrapper {
        margin: 0 auto;
    }
</style>
<link rel="stylesheet" href="~/Content/Financiamiento/financiamiento.css">

<div class="contentSuministro">
    <article class="infoSuministro">
        <input type="hidden" id="txtIdUser" value="@Session["IdUsuario"]" />
        <input type="hidden" id="urlTerminosCondiciones" value="@urlTerminosCondiciones" />
        <input type="hidden" id="idSuministro" value="@item.IdSuministro" />
        <input type="hidden" id="Moneda" value="@item.Moneda" />
        <input type="hidden" id="IdTipoIdentidadPropietario" value="@item.IdTipoIdentidadPropietario" />
        <input type="hidden" id="NroIdentidadPropietario" value="@item.NroIdentidadPropietario" />
        <input type="hidden" id="valorTasaInteres" value="@item.ValorTasaInteres" />

        <div class="cardFinanNombre">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="form-control green">
                            Financiamiento Virtual
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @{
            if (errorMessage != null)
            {
                <div role="alert" class="alert alert-danger">
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x" aria-hidden="true"></i>@errorMessage</span>
                </div>
            }
        }
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="FinanReg py-3 px-3">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <span class="d-block">Empresa:</span>
                            <span class="col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Empresa)</span>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <span class="d-block">Unidad de Negocio:</span>
                            <span class="col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.UUNN)</span>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <span class="d-block">Centro Servicio:</span>
                            @*<select id="cmbCServicio" class="form-control-sm"></select>*@
                            <span class="col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.AbreviaCentroServicio)</span>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <span class="d-block">Tipo Convenio:</span>
                            <span class="col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Convenio)</span>
                        </div>
                        @*<div class="col-lg-3 col-sm-12">
                                <div class="row">
                                    <span class="col-lg-4 col-md-4 col-form-label-sm">Empresa:</span>
                                    <span class="col-lg-8 col-md-8 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Empresa)</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="row">
                                    <span class="col-lg-4 col-md-4 col-form-label-sm">Unidad de Negocio:</span>
                                    <span class="col-lg-8 col-md-8 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.UUNN)</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="row">
                                    <span class="col-lg-4 col-md-4 col-form-label-sm">C.Servicio:</span>
                                    <select id="cmbCServicio" class="form-control-sm"></select>
                                    <span class="col-lg-8 col-md-8 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.AbreviaCentroServicio)</span>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="row">
                                    <span class="col-lg-4 col-md-4 col-form-label-sm">Tipo Convenio:</span>
                                    <span class="col-lg-8 col-md-8 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Convenio)</span>
                                </div>
                            </div>*@
                    </div>
                </div>
                <div class="FinanReg pt-3 pb-2 px-3">
                    <h5 class="card-title green">Datos principales</h5>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">Suministro:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.IdNroServicio)</span>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-2 col-form-label-sm">Nombre:</label>
                                <span class="col-7 col-md-9 col-lg-10 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Nombre)</span>
                            </div>
                        </div>
                        @*<div class="col-lg-3 col-sm-12">
                                <div class="row">
                                    <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">Direccion:</label>
                                    <span class="col-7 col-md-9col-lg-7  col-form-label-sm font-weight-bold">****</span>
                                </div>
                            </div>*@
                        <div class="col-lg-3 col-sm-12 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">F. Emisi&oacute;n:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@fechaEmision</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">F.Vencimiento:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@fechaVencimiento</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">Situaci&oacute;n:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Situacion)</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">Cartera:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Cartera)</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">Tarifa:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.Tarifa)</span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="row">
                                <label class="col-5 col-md-3 col-lg-5 col-form-label-sm">M.D.:</label>
                                <span class="col-7 col-md-9 col-lg-7 col-form-label-sm font-weight-bold">@Html.DisplayFor(model => item.MesesDeuda)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="FinanReg pt-3 pb-2 px-3">
                    <h5 class="card-title green">Financiamiento Deuda</h5>
                    <div class="row">
                        <div class="col-lg-4 col-sm-12">
                            <div class="row">
                                <label class="col-6 col-md-4 col-lg-6 col-form-label-sm">Deuda Facturada:</label>
                                <span class="col-6 col-md-8 col-lg-6 col-form-label-sm font-weight-bold">@($"S/. {item.DeudaFacturada.ToString("#,##0.00")}")</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="row">
                                <label class="col-6 col-md-4 col-lg-6 col-form-label-sm">Facturado Terceros:</label>
                                <span class="col-6 col-md-8 col-lg-6 col-form-label-sm font-weight-bold">@($"S/. {item.FacturadoTerceros.ToString("#,##0.00")}")</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="row">
                                <label class="col-6 col-md-4 col-lg-6 col-form-label-sm">Saldo de Deuda:</label>
                                <span class="col-6 col-md-8 col-lg-6 col-form-label-sm font-weight-bold">@($"S/. {item.SaldoDeuda.ToString("#,##0.00")}")</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="row">
                                <label class="col-6 col-md-4 col-lg-6 col-form-label-sm">A Favor:</label>
                                <span class="col-6 col-md-8 col-lg-6 col-form-label-sm font-weight-bold">@($"S/. {item.AFavor.ToString("#,##0.00")}")</span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="row">
                                <label class="col-6 col-md-4 col-lg-6 col-form-label-sm">Total:</label>
                                <span class="col-6 col-md-8 col-lg-6 col-form-label-sm font-weight-bold">@($"S/. {item.Total.ToString("#,##0.00")}")</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="FinanRegResumen p-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <label class="col-form-label" style="color: #359f37">Resumen Deuda</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <label class="col-8 col-form-label-sm">Total Facturado:</label>
                                        <label class="col-4 col-form-label-sm font-weight-bold">
                                            <a id="arDeuda" href="#" class="float-right"><b>@item.TotalFacturado.ToString("#,##0.00")</b></a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <label class="col-8 col-form-label-sm">Total a Facturar:</label>
                                        <label class="col-4 col-form-label-sm font-weight-bold">
                                            <span class="float-right">@item.TotalAFactura.ToString("#,##0.00")</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <label class="col-8 col-form-label-sm">Interés a la Fecha:</label>
                                        <label class="col-4 col-form-label-sm font-weight-bold">
                                            <span id="interesfecha" class="float-right">@item.Interes.ToString("#,##0.00")</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row">
                                        <label class="col-8 col-form-label-sm font-weight-bold">Total Deuda:</label>
                                        <label class="col-4 col-form-label-sm font-weight-bold">
                                            <span id="resIdTotalDeuda" class="float-right">@item.TotalDeuda.ToString("#,##0.00")</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mt-0" />
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="row small-font">
                                        <div class="col-sm-4" style="">
                                            <label class="mb-1">Total Facturado</label>
                                            <span class="font-weight-bold">@item.TotalFacturado.ToString("#,##0.00")</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="mb-1">Deuda Castigo</label>
                                            <span class="font-weight-bold">@item.DeudaCastigo.ToString("#,##0.00")</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <label class="mb-1">Deuda Provisi&oacute;n</label>
                                            <span class="font-weight-bold">@item.DeudaProvision.ToString("#,##0.00")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="FinanRegRecalcular p-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group mb-2">
                                        <label class="col-form-label-sm">Mínima Inicial (%): </label>
                                        <select id="cmbConv" class="form-control-sm"></select>
                                        @*<button type="button" id="btnRecalcula" class="btn btn-success btn-sm">Recalcular</button>*@
                                    </div>
                                    @*<div class="form-group row">
                                            <label class="col-6 col-form-label-sm">
                                                <label class="col-form-label-sm">Mínima Inicial (%): </label>
                                                <select id="cmbType" class="col-6 form-control-sm">
                                                    <option value="1" selected="">Suministro</option>
                                                    <option value="2">DNI</option>
                                                </select>
                                            </label>

                                            <label class="col-4 col-form-label-sm font-weight-bold">
                                                <button type="button" class="btn btn-success btn-sm">Recalcular</button>
                                            </label>
                                        </div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-1">
                                        <div class="card-body p-2">
                                            <h5 class="card-title green">Negociaci&oacute;n</h5>
                                            <div class="row">
                                                <label class="col-8 col-form-label-sm">Total Saldo a Favor: </label>
                                                <label class="col-4 col-form-label-sm">
                                                    <span class="float-right font-weight-bold">@item.TotalSaldoFavor.ToString("#,##0.00")</span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-8 col-form-label-sm">Saldo Favor a Usar: </label>
                                                <label class="col-4 col-form-label-sm">
                                                    <span class="float-right font-weight-bold">@item.SaldoFavorUsar.ToString("#,##0.00")</span>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label for="negImporte" class="form-label font-weight-bold">Importe Inicial (Efectivo)</label>
                                                <input type="text" class="form-control text-right" id="negImporte" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                    <div class="card mb-1">
                                        <div class="card-body p-2">
                                            <h5 class="card-title green">Facturaci&oacute;n</h5>
                                            <div class="row">
                                                <label class="col-6 col-form-label-sm">Saldo:</label>
                                                <label class="col-6 col-form-label-sm">
                                                    <span id="facSaldo" class="float-right font-weight-bold">@item.Saldo.ToString("#,##0.00")</span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-6 col-form-label-sm">Nro Cuotas:</label>
                                                <label class="col-6 col-form-label-sm">
                                                    <span id="facCuota" class="float-right font-weight-bold">@item.NroCuotas</span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-6 col-form-label-sm">Importe Cuota:</label>
                                                <label class="col-6 col-form-label-sm">
                                                    <span id="facImporte" class="float-right font-weight-bold">@item.ImporteCuota.ToString("#,##0.00")</span>
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-6 col-form-label-sm">Inicio Facturación:</label>
                                                <label class="col-6 col-form-label-sm">
                                                    <input type="text" class="form-control text-right" value="@DateTime.Now.ToString("dd/MM/yyyy")" disabled>
                                                    @*<span class="float-right font-weight-bold">@DateTime.Now.ToString("dd/MM/yyyy")</span>*@
                                                </label>
                                            </div>
                                            <div class="row">
                                                <label class="col-6 col-form-label-sm">Interés Generado:</label>
                                                <label class="col-6 col-form-label-sm">
                                                    <span id="facInteres" class="float-right font-weight-bold">-</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="text-center mt-4 mb-4">
                    <div class="form-check form-check-inline">
                        <input id="chkTerminos" class="form-check-input" type="checkbox">
                        <label for="chkTerminos" class="form-check-label">Acepto las políticas de los <a href="#" id="openTerminos" data-toggle="modal" data-target="#pdfModalTerminos">términos y condiciones</a></label>
                    </div>
                </div>
                <div class="text-center mt-4 mb-4">
                    <div id="divAlert"></div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("GenerarOrdenCobro", "Financiamiento", FormMethod.Post, new { @class = "frmGenerarOrdenCobro", role = "form" }))
        {
            <div class="row">
                <div class="col-sm-12 col-md-3 ml-auto my-2">
                    <a class="btn btn-outline-danger" href='@(Url.Action("Resumen", "Financiamiento"))'>Cancelar</a>
                </div>
                <div class="col-sm-12 col-md-3 mr-auto my-2">
                    <input type="hidden" id="IdNroServicio" name="IdNroServicio" value="@item.IdNroServicio" />
                    <input type="hidden" id="MontoFinanciar" name="MontoFinanciar" value="" />
                    <input type="hidden" id="Porcentaje" name="Porcentaje" value="" />
                    <input type="hidden" id="MontoInicial" name="MontoInicial" value="" />
                    <input type="hidden" id="InicialExigida" name="InicialExigida" value="" />
                    <input type="hidden" id="TotalFacturado" name="TotalFacturado" value="@item.DeudaFacturada" />
                    <input type="hidden" id="InteresAFecha" name="InteresAFecha" value="@item.Interes" />
                    <input type="hidden" id="TotalPorFacturar" name="TotalPorFacturar" value="0" />
                    <input type="hidden" id="TotalSaldoAFavor" name="TotalSaldoAFavor" value="0" />
                    <input type="hidden" id="SaldoAFavorUsar" name="SaldoAFavorUsar" value="0" />
                    <input type="hidden" id="NumeroCuotas" name="NumeroCuotas" value="" />
                    <input type="hidden" id="PlazoMaximo" name="PlazoMaximo" value="" />
                    <input type="hidden" id="ImporteCuota" name="ImporteCuota" value="" />
                    <input type="hidden" id="IdEstado" name="IdEstado" value="@item.IdEstado" />
                    <input type="hidden" id="IdUUNN" name="IdUUNN" value="@item.IdUUNN" />
                    <input type="hidden" id="IdCentroServicio" name="IdCentroServicio" value="@item.IdCentroServicio" />
                    <input type="hidden" id="IdConvenioTipo" name="IdConvenioTipo" value="@item.IdConvenioTipo" />
                    <input type="hidden" id="IdMoneda" name="IdMoneda" value="@item.Moneda" />
                    <input type="hidden" id="IdEmpresa" name="IdEmpresa" value="@item.IdEmpresa" />
                    <button type="submit" id="btnGenerate" class="btn btn-outline-success" disabled>Generar Orden</button>
                </div>
            </div>
        }
    </article>
</div>

<div class="modal fade" id="pdfModalTerminos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Términos y condiciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe id="iframeTerminos"
                        src="@urlTerminosCondiciones#view=fitH,100"
                        type="application/pdf"
                        frameBorder="0"
                        scrolling="auto"
                        height="640"
                        width="100%"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deudaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div id="updateSMO" class="modal-dialog modal-dialog-centered modal-lg modal-xlg" role="document">
        <div class="modal-content" style="font-size: 12px">
            <div class="modal-header">
                <h5 class="modal-title">Estructura de Deuda </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="container" style="max-width: 100%">
                                <div id="table" style="position: static;">
                                    <table id="gridReport" class="table table-striped table-bordered dt-responsive nowrap" width="100%"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- DataTables -->
<script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/Financiamiento/Registro.js"></script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    var model = {
        financiamiento: {
                iduunn: @item.IdUUNN,
            },
            importe: {
                total: @item.Total,
                interesAlaFecha: @item.Interes,
                valorTasaInteres: @item.ValorTasaInteres,
            }
    };

</script>