﻿@model List<OficinaVirtual.Entidad.Consulta.ClsFinanciamiento>
@{
    ViewBag.Title = "Financiamiento";
    var urlVideo = ViewBag.urlVideo;
    var errorMessage = ViewBag.ErrorMessage;
}
<style type="text/css">
    .modal-header {
        color: green;
        background-color: #fff;
    }
</style>
<div class="content">
    <input type="hidden" id="txtIdUser" value="@Session["IdUsuario"]" />
    <input type="hidden" id="urlVideo" value="@urlVideo" />
    <div class="row px-4 pt-4">
        <div class="cardFinanNombre mx-3 mt-2">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        <span class="form-control green">Financiamiento Virtual</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-4">
        @foreach (var item in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 px-3 my-3">
                <div class="card" style="-webkit-box-shadow: 0px 2px 12px rgb(0 0 0 / 32%); box-shadow: 0px 2px 12px rgb(0 0 0 / 32%);">
                    <div class="card-body">
                        <div class="cardCabecera">
                            <span class="form-control txtSuministro pb-0 lighBlue">@Html.DisplayFor(model => item.IdNroServicio)</span>
                            <span class="form-control nroSumFinan mb-2">N° de Suministro</span>
                        </div>
                        <div class="cardDetalle">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <span class="form-control" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@item.Nombre</span>
                                        <label class="control-label" for="item_CantUltRecibo">Nombre</label>
                                        <span class="form-control" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">@item.Direccion</span>
                                        <label class="control-label" for="item_CantUltRecibo">Direcci&oacute;n</label>
                                        <span class="form-control">@item.MesesDeuda</span>
                                        <label class="control-label" for="item_CantUltRecibo">Meses Adeudados</label>
                                        <span class="form-control">@item.Cartera</span>
                                        <label class="control-label" for="item_CantUltRecibo">Cartera</label>
                                        <span class="form-control">@($"S/.{item.Deuda.ToString("#,##0.00")}") </span>
                                        <label class="control-label" for="item_CantUltRecibo">Deuda</label>
                                        <span class="form-control">@($"S/.{item.InteresFechaActual.ToString("#,##0.00")}")</span>
                                        <label class="control-label" for="item_CantUltRecibo">Interés hasta la fecha</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cardFinanciamiento">
                            @using (Html.BeginForm("Registro", "Financiamiento", FormMethod.Post, new { @class = "frmConsultaVisa", role = "form" }))
                            {
                                <div class="row">
                                    <div class="col-lg-8 col-md-5">
                                        <span class="form-control txtDeuda lighBlue d-block">@($"S/.{item.TotalDeuda.ToString("#,##0.00")}") </span>
                                        <label class="control-label lblDeuda " for="item_CantDeuda">Deuda Total</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-7">
                                        <input type="hidden" name="idSuministro" value="@item.IdNroServicio" />
                                        <input type="hidden" name="IdUser" value="@Session["IdUsuario"]" />
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div>
                                        <button type="submit" class="btn btn-green btnPagar" @((item.PuedeFinanciar == 1) ? "" : "disabled" )>Financiar</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <aside class="menu">
        <ul>
            @foreach (var item in Model)
            {
                if (item.PuedeFinanciar == 1)
                {
                    <li>
                        <a class="toolGreen efect video" data-title="Visualizar video" href="#" data-toggle="modal" data-target="#videoModal">
                            <span class="ico"><i class="fas fa-film"></i></span>
                            <span class="info">Visualizar video</span>
                        </a>
                    </li>
                    break;
                }
            }
        </ul>
    </aside>
</div>


<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Aprende a usar el financiamiento virtual</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="idVideoModal" controls width="100%">
                    <source src="@urlVideo">
                </video>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Financiamiento/Financiamiento.js?@Util.IdVersion"></script>
