﻿/*
    Creación        : 2021-03-04
    Responsable     : MARIO CASTRO
*/

#tblDetalleOrden td, #tblDetalleOrden th {
    text-align: right;
}

#tblDetalleOrden tr > :nth-child(1) {
    text-align: left;
}

#tblDetalleOrden tr > :nth-child(2) {
    text-align: left;
}

/*
   #tblDetalleOrden tr td:nth-child(1) {
    text-align: left;
}
    #tblDetalleOrden  tbody > tr > :nth-child(1) {
    text-align: left;
}
#tblDetalleOrden thead > tr > :nth-child(1) {
    text-align: left;
}
#tblDetalleOrden tfoot {
    text-align: right;
}
*/