﻿/*
    Creación        : 2020-04-11
    Responsable     : JONATHAN VALDERRAMA
*/

.bn-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 .2rem;
}

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.3rem;
        font-weight: bold;
    }

.bn-Body {
    padding: 0 .3rem;
}

.bn-footer {
    margin-top: 1.5rem;
}

#crdAccordion .card-header {
    padding: .2rem;
}

    #crdAccordion .card-header button {
        color: #346cab;
        font-size: .875rem;
        font-weight: bold;
        text-align: left;
        white-space: normal;
    }

        #crdAccordion .card-header button:hover {
            color: #359f37;
        }

#crdAccordion .card-body {
    text-align: justify;
}

@media (max-width: 767px) {
    .bn-container {
        width: 95%;
    }

    .acountDz, .contMrk {
        display: none !important;
    }
}