﻿/*
    Creación        : 2020-04-11
    Responsable     : JONATHAN VALDERRAMA
*/

.bn-container {
    max-width: 95%;
    margin: 0 auto;
    padding: 0 .2rem;
}

    .bn-container p {
        text-align: justify;
    }

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.3rem;
        font-weight: bold;
    }

.bn-Body {
    padding: 0 .3rem;
}

.bn-footer {
    margin-top: 1.5rem;
}