﻿/*
    Creación        : 2020-10-14
    Responsable     : JONATHAN VALDERRAMA
*/

#imgLand {
    width: 100%;
}

.img-head {
    width: 100%;
    cursor: pointer;
    -webkit-box-shadow: 15px 20px 20px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 20px 20px -20px rgba(0,0,0,0.75);
    box-shadow: 15px 20px 20px -20px rgba(0,0,0,0.75);
}

.bn-container {
    max-width: 700px;
    min-height: 400px;
    margin: 0 auto;
    padding: 0 .2rem;
}

.bn-header {
    margin-top: -4rem;
    margin-bottom: 2.5rem;
    padding-bottom: .3rem;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.3rem;
        font-weight: bold;
    }

.bn-Body {
    padding: 0 .3rem;
}

.bn-footer {
    margin-top: 1.5rem;
}

.bn-text-header {
    font-weight: bold;
    text-align: left;
    text-decoration: none !important;
    white-space: normal;
}

#crdAccordion .card-header {
    padding: .2rem;
}

    #crdAccordion .card-header button {
        font-size: 1.2rem;
        width: 95%;
    }

        #crdAccordion .card-header button:hover {
            color: #359f37;
        }

#crdAccordion .card-body {
    text-align: justify;
}

.bn-color {
    color: #346cab;
}

.bn-color-active {
    color: #359f37;
}

.bn-card-ico {
    float: right;
    font-size: 1.3rem;
    position: absolute;
    right: .5rem;
    top: .5rem;
    cursor: pointer;
}

@media (max-width: 767px) {
    .bn-container {
        width: 95%;
    }

    .acountDz, .contMrk {
        display: none !important;
    }
}