﻿@model OficinaVirtual.Entidad.Consulta.clsListaRequisitos

<div class="row">
    <div class="col-md-12 col-sm-12">
        @if(Model.Elementos != null)
        {
            <div class="infoOrientacion">
                    @foreach (var oItem in Model.Elementos)
                    {
                        <p>@oItem</p>
                    }
            </div>
        }
    </div>
</div>