﻿@{
    ViewBag.Title = "Preguntas de beneficiario";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    var idVersion = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"];
}
<link rel="stylesheet" href="~/Content/Orientacion/BeneficiarioPreguntas.css?@idVersion">

<div class="bn-container">
    <div class="bn-header">
        <span>Preguntas frecuentes sobre el fraccionamiento de recibos</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="crdAccordion">
        </div>
    </div>
    <div class="bn-footer">
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Util.js?@idVersion"></script>
<script type="text/javascript" src="~/Scripts/Orientacion/BeneficiarioPreguntas.js?@idVersion"></script>