﻿@{
    ViewBag.Title = "Decreto de urgencia 035";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
    var idVersion = System.Configuration.ConfigurationManager.AppSettings["webpages:Version"];

}
<link rel="stylesheet" href="~/Content/Orientacion/DecretoUrgencia035.css?@idVersion">

<div class="bn-container">
    <div class="bn-header">
        <p><span>Comunicado a los clientes</span></p>
        <span>FRACCIONAMIENTO DEL RECIBO DE LUZ</span>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <p>
            Las empresas del Grupo Distriluz (Hidrandina, Ensa, Enosa y Electrocentro)
            <b>fraccionarán en 24 meses los recibos de electricidad pendientes de pago de la población vulnerable: </b>
            usuarios con consumos de hasta 100 kWh mensuales y usuarios abastecidos con paneles fotovoltaicos en zonas rurales, en aplicación del DU 035-2020. Los recibos a fraccionar serán los que comprendan algún consumo realizado durante el Estado de Emergencia Nacional por el COVID-19.
        </p>
        <p>
            De conformidad con DU 062-2020, se podrá ampliar el universo de beneficiarios del fraccionamiento de los recibos de luz a los usuarios residenciales con consumo de
            <b> hasta 300 KWh mensuales, cuyos recibos se hayan emitido en el mes de mayo o que comprendan algún recibo posterior, en tanto dure el Estado de Emergencia</b>
        </p>
        <p>
            <b>Hidrandina, Ensa, Enosa y Electrocentro, durante el periodo de Emergencia Nacional, tienen el compromiso de mantener la operatividad del servicio eléctrico, especialmente en las instalaciones de salud, cadena productiva de alimentos, fuerzas armadas, viviendas y vías públicas. </b>
            Asimismo, garantizamos la continuidad del servicio eléctrico a todos nuestros clientes; no obstante, se invoca a los usuarios que no son beneficiarios del fraccionamiento de pagos, a utilizar los medios físicos o virtuales disponibles para realizar en forma responsable el pago del servicio para asegurar la cadena de pagos y el suministro de electricidad para todo el país.
        </p>
        <p>
            Verifique si es beneficiario del fraccionamiento en el siguiente enlace: <br />
            <a href="https://servicios.distriluz.com.pe/Fraccionamiento.html">https://servicios.distriluz.com.pe/Fraccionamiento.html</a>
            o haga click
            <a href="https://servicios.distriluz.com.pe/Fraccionamiento.html">aquí</a>
        </p>
    </div>
    <div class="bn-footer">
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Util.js?@idVersion"></script>
<script type="text/javascript" src="~/Scripts/Orientacion/DecretoUrgencia035.js?@idVersion"></script>