﻿@model OficinaVirtual.Entidad.Consulta.clsListaOrientacion

<script type="text/javascript" src="~/Scripts/Orientacion/Index.js"></script>

<div class="contentOrientacion">
    <header>
        <h2 class="lighBlue">Orientación y trámite</h2>
    </header>
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul class="list-unstyled navOrientacion">
                @foreach (var oItem in Model.Elementos)
                    {
                        <li class="btnList d-flex justify-content-between">
                            <a data-url='@(Url.Action("_Requisitos", "Orientacion"))' data-id="@oItem.IdTipoOrientacion">@oItem.Nombre</a>
                            <span class="ml-auto"><i class="fas fa-angle-right"></i></span>
                        </li>
                    }
            </ul>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="divRequisitos"></div>
            <script>CargarPartialViewAsync('@(Url.Action("_Requisitos", "Orientacion"))', '.divRequisitos', '1');</script>
        </div>
    </div>