﻿@{
    ViewBag.Title = "Preguntas de mi recibo";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
<link rel="stylesheet" href="~/Content/Orientacion/ReciboPreguntas.css?@Util.IdVersion">

<div>
    <img id="imgLand" src="~/Content/img/ReciboPreguntas/Landing.jpg" />
</div>

<div class="bn-container">
    <div class="bn-header">
        <div class="row">
            <div class="col-4">
                <img id="imgHead1" src="~/Content/img/ReciboPreguntas/FacturacionActive.png" class="img-head" />
            </div>
            <div class="col-4">
                <img id="imgHead2" src="~/Content/img/ReciboPreguntas/Fraccionamiento.png" class="img-head" />
            </div>
            <div class="col-4">
                <img id="imgHead3" src="~/Content/img/ReciboPreguntas/Reclamos.png" class="img-head" />
            </div>
        </div>
    </div>
    <div class="bn-Body">
        <div id="divAlert"></div>
        <div id="crdAccordion">
        </div>
    </div>
    <div class="bn-footer">
    </div>
</div>

<script type="text/javascript" src="~/Scripts/Util.js?@Util.IdVersion"></script>
<script type="text/javascript" src="~/Scripts/Orientacion/ReciboPreguntas.js?@Util.IdVersion"></script>