﻿@import url('contact.css');

.contentContacto {
    width: 100%;
    height: 100%;
    padding: 3%;
}

.formContact {
    padding: 4%;
    background-color: #f1f1f1;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
}

    .formContact:after {
        content: '';
        width: 100%;
        height: 10px;
        background-color: #003591;
        position: absolute;
        top: 0;
        left: 0;
    }

    .formContact:before {
        content: '';
        width: 100%;
        height: 10px;
        background-color: #003591;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .formContact h2 {
        font-size: 1.2em;
        margin-top: 0px;
    }

    .formContact .form-horizontal .control-label {
        text-align: left;
    }

    .formContact .form-group {
        margin-bottom: 35px;
    }

.inpContact {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inpContact + label {
        font-size: 1em;
        font-weight: 400;
        color: #fff;
        background-color: #858484;
        display: inline-block;
        cursor: pointer;
        padding: 5px 25px;
    }

        .inpContact:focus + label,
        .inpContact + label:hover {
            background-color: #ccc;
        }

    .inpContact:focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

.infoContact p {
    border-bottom: 3px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.infoContact .numPhone {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}

.infoContact img {
    margin: auto;
}
