@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans';
}

/*Estilos generales*/
.green {
    color: #359f37;
}

.lighBlue {
    color: #346cab !important;
}

.lighBlue2 {
    color: #589dea;
}

.white {
    color: #fff;
}

.backBlue {
    background-color: #1b3862;
}

.backGray {
    background-color: #e6e6e6;
}

.bold {
    font-weight: 700;
}

.form-control {
    border: none;
    background-color: #e6e6e6;
    box-shadow: 0px 2px 5px rgba(0,0,0,.7);
}

    .form-control:focus {
        border-color: #629d41;
        box-shadow: 0 0 0 0.2rem rgba(98,157,65,.25);
    }

.btn {
    width: 100%;
}

.btn-green, .btn-greenDsble {
    font-weight: 700;
    color: #fff !important;
    background-color: #359f37;
    border: solid 2px #2c852d;
    transition: .7s;
    -o-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
}

    .btn-green:hover {
        color: #fff !important;
        background-color: #2c852d;
        -o-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    }

.btn-red {
    font-weight: 700;
    color: #fff !important;
    background-color: #d42d33;
    border: solid 2px #a51d22;
    transition: .7s;
    -o-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
}

    .btn-red:hover {
        color: #fff !important;
        background-color: #a51d22;
        -o-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    }

.btn-blue {
    font-weight: 700;
    color: #fff !important;
    background-color: #4168aa;
    border: solid 2px #35558c;
    transition: .7s;
    -o-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,.3);
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
}

    .btn-blue:hover {
        color: #fff !important;
        background-color: #35558c;
        -o-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -moz-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,.3);
        box-shadow: 0px 0px 0px rgba(0,0,0,.3);
    }

button.default {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    /* font-weight: 400; */
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    border-radius: .25rem;
    cursor: pointer !important;
}

button.start-js-btn {
    background: #359f37 !important;
    border: solid 2px #2c852d !important;
    transition: .7s !important;
    -o-box-shadow: 0px 2px 6px rgba(0,0,0,.3) !important;
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,.3) !important;
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,.3) !important;
    box-shadow: 0px 2px 6px rgba(0,0,0,.3) !important;
}

    button.start-js-btn:before {
        content: 'Pagar con';
    }

    button.start-js-btn:after {
        content: '';
        background: url(../Content/img/logo-card.png) no-repeat;
        background-position: center;
        background-size: 100% 100%;
        width: 35px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;
    }

.modal-header {
    color: #fff;
    background-color: #346cab;
}

    .modal-header .close {
        color: #fff;
        background-color: #d32e32;
        opacity: 1 !important;
        transition: .7s;
    }

        .modal-header .close:hover {
            background-color: #bf2b36;
        }
/*.tooltip{
	margin-right: 10px;
}
.tooltip-inner{
	background-color: red;
}
.toolGreen .bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before{
	border-left-color: #359f37;
}*/

.toolGreen, .toolRed {
    position: relative;
}

    .toolGreen:before, .toolGreen:after, .toolRed:after, .toolRed:before {
        display: block;
        opacity: 0;
        pointer-events: none;
        position: absolute;
    }

    .toolGreen:after {
        border-top: 6px solid transparent;
        border-left: 6px solid rgba(53,159,55,.85);
        border-bottom: 6px solid transparent;
        content: '';
        height: 0;
        top: 25px;
        left: -10px;
        width: 0;
    }

    .toolRed:after {
        border-top: 6px solid transparent;
        border-left: 6px solid rgba(211,46,50,.9);
        border-bottom: 6px solid transparent;
        content: '';
        height: 0;
        top: 25px;
        left: -10px;
        width: 0;
    }

    .toolGreen:before {
        background: rgba(53,159,55,.85);
        border-radius: 2px;
        color: #fff;
        content: attr(data-title);
        font-size: 14px;
        padding: 6px 10px;
        top: 15px;
        right: 75px;
        white-space: nowrap;
    }

    .toolRed:before {
        background: rgba(211,46,50,.9);
        border-radius: 2px;
        color: #fff;
        content: attr(data-title);
        font-size: 14px;
        padding: 6px 10px;
        top: 15px;
        right: 75px;
        white-space: nowrap;
    }

    .toolGreen.efect:after, .toolGreen.efect:before, .toolRed.efect:after, .toolRed.efect:before {
        transform: translate3d(0,-10px,0);
        transition: all .15s ease-in-out;
    }

    .toolGreen.efect:hover:after, .toolGreen.efect:hover:before, .toolRed.efect:hover:after, .toolRed.efect:hover:before {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    .toolGreen.expand:before, .toolRed.expand:before {
        transform: scale3d(.2,.2,1);
        transition: all .2s ease-in-out;
    }

    .toolGreen.expand:after, .toolRed.expand:after {
        transform: translate3d(0,6px,0);
        transition: all .1s ease-in-out;
    }

    .toolGreen.expand:hover:before, .toolGreen.expand:hover:after, .toolRed.expand:hover:before, .toolRed.expand:hover:after {
        opacity: 1;
        transform: scale3d(1,1,1);
    }

    .toolGreen.expand:hover:after, .toolRed.expand:hover:after {
        transition: all .2s .1s ease-in-out;
    }

.logoVisa {
    width: 25%;
    margin-right: 10px;
    margin-top: 5px;
}

/*Login*/
.downapp {
    display: none;
}

.backDistriluz {
    width: 100%;
    height: 100vh;
    background: url('../Content/img/fondo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.formSignin {
    height: calc(40vh);
    width: 100%;
    max-width: 330px;
    min-height: 400px;
    padding: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.login img {
    width: 100%;
    display: block;
    margin: auto;
}

.infoEmpresas {
    display: block;
    text-align: center;
    font-size: .78em;
    margin-top: 7px;
    margin-bottom: 20px;
}

.login .btn {
    width: 100%;
}

.login a {
    display: block;
    color: #fff;
    margin-top: 10px;
}
/*.login a:nth-child(2){
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 15px;
}*/
.navLateral {
    position: absolute;
    top: 15%;
    right: 0;
    text-align: center;
    padding: 50px 25px 50px 20px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(27,56,98,.7);
    z-index: 1;
}

    .navLateral ul {
        list-style-type: none;
        margin-bottom: 0px;
    }

        .navLateral ul li {
            margin-bottom: 50px;
        }
            /*.navLateral ul li:nth-child(2){
	opacity: .5;
}*/
            .navLateral ul li:last-child {
                margin-bottom: 0px;
            }

            .navLateral ul li img {
                width: 35px;
                margin-bottom: 5px;
            }

            .navLateral ul li a {
                text-decoration: none;
            }

            .navLateral ul li:hover img, .navLateral ul li:hover span {
                -moz-transform: scale(1.1,1.1);
                -webkit-transform: scale(1.1,1.1);
                transform: scale(1.1,1.1);
                transition: .5s;
            }

    .navLateral span {
        font-size: .8em;
        display: block;
    }

.backDistriluz footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: .7em;
}

.contError {
    border: 1px solid #ff363b;
    color: #fff;
    background-color: rgba(211,46,50,.7);
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px 5px 0px 0px;
}

.alertError {
    color: #ff363b;
    font-weight: 700;
    -moz-text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    -webkit-text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
}

.contFooter {
    padding-top: 15px;
    border-top: solid 2px #3e6ea2;
}

.frmRegistro select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #e6e6e6;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-shadow: 0px 2px 5px rgba(0,0,0,.7);
}
/*Layout*/
#contentDz {
    height: auto;
    padding: 20px 0;
}

    #contentDz footer {
        position: initial;
    }

    #contentDz .contFooter {
        font-size: .9em;
        border-top: none;
    }

.headerDz {
    padding-bottom: 10px;
}

    .headerDz .nav-item {
        margin-right: 12px;
    }

        .headerDz .nav-item:last-child {
            margin-right: 0px !important;
        }

        .headerDz .nav-item a {
            font-size: .9em;
            color: #fff;
        }

            .headerDz .nav-item a:hover {
                opacity: .7;
            }

            .headerDz .nav-item a img {
                width: 25px;
                margin-top: -6px;
            }

        .headerDz .nav-item i {
            font-size: 1.4em;
            margin-right: 10px;
            vertical-align: middle;
        }

.pageDz {
    margin-bottom: 20px;
}

    .pageDz .pageMain {
        border-radius: 25px 5px 25px 5px;
        background-color: #f0f0f0;
        overflow: hidden;
        padding-bottom: 20px;
        -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.7);
        -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.7);
        box-shadow: 0px 0px 5px rgba(0,0,0,.7);
    }

.mainHeader {
    background-color: #346cab;
}

    .mainHeader .contMrk {
        width: 100%;
        height: 100%;
        font-size: 1em;
        background-color: #359f37;
        position: relative;
    }

        .mainHeader .contMrk:hover {
            text-decoration: none !important;
        }

        .mainHeader .contMrk:after {
            content: '';
            width: 0;
            height: 0;
            border-top: 33px solid transparent;
            border-bottom: 33px solid transparent;
            border-left: 25px solid #359f37;
            border-right: 15px solid transparent;
            position: absolute;
            top: 0;
            right: -39px;
        }

    .mainHeader ul {
        width: 100%;
        height: 100%;
        padding-bottom: 0px;
        font-size: .9em;
    }

.contAcount, .acountDz {
    width: 100%;
    height: 65px;
    display: block;
    background-color: #d42d33;
    padding: 25% 0;
    transition: .7s;
}

    .contAcount img, .acountDz img {
        width: 32px;
        height: 30px;
        display: block;
        margin: auto;
    }

.acountDz {
    background-color: #359f37;
}

.contAcount:hover {
    background-color: #a51d22;
}

.acountDz:hover {
    background-color: #0c8a0f;
}

.mainBody {
    width: 100%;
    position: relative;
}
/*Contacto*/
.contentContacto {
    padding: 30px;
}

    .contentContacto header h2 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 30px;
        display: inline-block;
    }

.formContact {
    padding-right: 20px;
}

    .formContact .control-label {
        font-size: .9em;
    }

    .formContact .form-control::placeholder {
        font-size: .9em;
    }

.infoContact {
    font-size: .8em;
    padding: 20px;
    border-radius: 15px 0px 15px 0px;
}

.phone {
    font-weight: 700;
    font-size: 3.5em;
}

.contEmpresas {
    border-bottom: 2px solid rgba(255,255,255,.2);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

    .contEmpresas:last-child {
        border-bottom: none;
        margin-bottom: 0px;
    }

    .contEmpresas h4 {
        font-size: 1.7em;
        font-weight: 700;
    }

    .contEmpresas span {
        color: #5dd1f4;
        font-weight: 700;
    }

    .contEmpresas p {
        font-weight: 300;
    }

    .contEmpresas i {
        font-size: 1.4em;
        margin-right: 2px;
    }

/*lugares de pago*/
.contentLugares {
    padding: 30px;
}

    .contentLugares header h2 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 30px;
        display: inline-block;
    }

#mapa {
    height: 500px;
}

.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 18px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    /* border: 1px solid rgba(72, 181, 233, 0.6); */
    border-radius: 10px;
    border-left: 20px solid #359f37;
}

    .gm-style-iw > div, .gm-style-iw > div > div {
        width: 100% !important;
        overflow: inherit !important;
    }

#iw-container {
    margin-bottom: 10px;
}

.gm-ui-hover-effect {
    background-color: #ccc !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5) !important;
    right: 0px !important;
    border-radius: 30px !important;
}

    .gm-ui-hover-effect:hover {
        color: #fff !important;
        background-color: #d42d33 !important;
    }

.dlPopup {
    width: 100%;
    margin: 15px;
}

    .dlPopup span {
        display: block;
    }

.dlTitular {
    font-size: 1.4em;
    font-weight: 700;
    color: #1b3862;
    text-transform: capitalize;
}

.dlDireccion {
    font-size: .9em;
    font-weight: 700;
    color: #4862aa;
    margin-bottom: 20px;
}

.dlHora, .dlHora2 {
    font-size: .9em;
    color: #4862aa;
    text-transform: capitalize;
}

.dlHora2 {
    margin-bottom: 20px;
}

.dlInfo {
    font-size: .9em;
    color: #464646;
}
/*Actualizar datos*/
.contentActualizar {
    padding: 30px;
}

    .contentActualizar header h2 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 30px;
        display: inline-block;
    }

    .contentActualizar .control-label {
        font-weight: 700;
    }

/*Orientacion y tramite*/
.contentOrientacion {
    padding: 30px;
}

    .contentOrientacion header h2 {
        font-size: 1.8em;
        font-weight: 700;
        margin-bottom: 30px;
        display: inline-block;
    }

.navOrientacion .btnList {
    color: #2d2d2d;
    font-size: 1em;
    font-weight: 700;
    border: none;
    border-bottom: 1px solid #2d2d2d;
    cursor: pointer;
    padding: 20px 0px;
    overflow: hidden;
}

    .navOrientacion .btnList:hover {
        color: #359f37;
        border-bottom: 3px solid #359f37;
    }

    .navOrientacion .btnList a {
        width: 100%;
        display: block;
    }

.actionColor {
    color: #359f37 !important;
    border-bottom: 3px solid #359f37 !important;
}

.divRequisitos {
    width: 100%;
    height: 100%;
}

.infoOrientacion {
    padding: 30px;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    background-color: #fff;
    border-radius: 5px;
    border-left: 20px solid #359f37;
    overflow: hidden;
}

/*Pago VISA*/
.steps {
    padding: 30px 0px 10px 0px;
}

/*#step01 .btnSiguiente02{
	cursor: not-allowed;
}*/
.pointer {
    cursor: pointer !important;
}

.contentPago {
    padding: 30px;
}

    .contentPago h2 {
        font-weight: 700;
    }

    .contentPago h3 {
        font-size: 1.2em;
        font-weight: 700;
    }

    .contentPago .smallPago {
        margin-top: -10px;
    }

.contStepago {
    width: 100%;
    padding: 3%;
    overflow: hidden;
    position: relative;
    -moz-box-shadow: 0px 2px 12px rgba(0,0,0,.32);
    -webkit-box-shadow: 0px 2px 12px rgba(0,0,0,.32);
    box-shadow: 0px 2px 12px rgba(0,0,0,.32);
    box-sizing: border-box;
}

.stepPago {
    border-bottom: 1px solid #ccc;
}

.imgPago {
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}

    .imgPago img {
        height: 100%;
    }

.numPago {
    color: #B4B4B4;
    font-size: 1.2em;
    font-weight: 700;
    display: block;
}

.checkPago {
    display: block;
    text-align: center;
}

    .checkPago input[type=radio], .checkPag input[type=checkbox] {
        /*position: absolute;
	top: auto;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);/*IE 6/7*/
        clip: rect(1px, 1px, 1px, 1px);
        width: 25px;
        height: 25px;
    }
/*.checkPago input[type=radio]:before, .checkPag input[type=checkbox]:before{
	content: '';
	background-color: #fff;
	border: .1em solid rgba(0,0,0,.75);
	background-color: rgba(255,255,255,.8);
	display: block;
	box-sizing: border-box;
	float: left;
	width: 1em;
	height: 1em;
	margin-left: -1.5em;
	margin-top: .15em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all .1s ease-out;
}
.checkPago input[type=radio]:before{
	border-radius: 100%;
}
.checkPag input[type=checkbox]:before{
	background-color: red;
	box-shadow: inset 0 0 0 .15em rgba(255,255,255,.95);
}*/
.montoPago, .txtPago {
    display: block;
}

.montoPago {
    font-size: 2.2em;
    font-weight: 700;
    margin-top: -13px;
}

.imgAlert img {
    width: 45%;
}

/*MEDIA QUERY*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .mainHeader .contMrk {
        font-size: .7em;
    }

    .mainHeader ul {
        font-size: .7em;
    }

    .contAcount {
        width: 54%;
        margin-left: 42px;
    }

        .contAcount img {
            width: 25px;
            height: 20px;
        }

    .menu ul li a {
        padding: 10px;
    }

    .menu ul li:last-child {
        padding-bottom: 20px;
    }

    .contEmpresas h4 {
        font-size: 1.2em;
    }

    .logoVisa {
        width: 80px !important;
        margin-right: 10px;
    }
}

/* ----------- SMARTPHONE ----------- */
@media (max-width: 767px) {
    .downapp {
        width: 100%;
        height: 250px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .backDistriluz {
        background-position: 85%;
    }

    .navLateral, .login {
        display: none;
    }

    .navLateral {
        background-color: rgba(27,56,98,1);
    }

    footer .row, .form-row {
        flex-wrap: nowrap;
    }
}

.options {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 24px;
    top: 1rem;
    position: absolute;
    right: 1.5rem;
    background-color: #3e6ea2;
    opacity: .8;
}

    .options span {
        color: white;
        font-weight: bold;
        top: -5px;
        position: relative;
    }

.modPreload {
    z-index: 1060;
}

    .modPreload .modal-dialog {
        height: 100vh;
    }

    .modPreload .modal-content {
        height: 100%;
        background-color: transparent;
        border: none;
    }

.dlw-Preload {
    background: none;
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    vertical-align: middle;
    display: inline-table;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

    .dlw-Preload .icon-preload {
        background: url("../Content/img/preload.png");
        background-size: cover;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        display: block;
        opacity: .7
    }

    .dlw-Preload .logo-preload {
        background: url("../Content/img/logo-preload-distriluz.png");
        background-size: cover;
        width: 150px;
        height: 30px;
        margin: 0 auto;
        display: block;
        opacity: .7;
        margin-top: 10px
    }

.rotate {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.infinite {
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
    }

@-webkit-keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes heartBeat {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    14% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    28% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    42% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.heartBeat {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
