﻿/* Login */
.formSignin {
    position: relative;
}

.formSignin-ef-1 {
    padding-top: 69px;
}

.backDistriluz footer {
    position: relative;
}

.nav-tabs .nav-link {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #9B9B9B;
}

    .nav-tabs .nav-link:hover {
        color: #495057;
        background-color: #D6E8F7;
        border-color: #dee2e6 #dee2e6 #fff;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: #6ba6d6;
    }

    .nav-tabs .nav-link.active {
        color: #495057;
        background-color: #D6E8F7;
        border-color: #dee2e6 #dee2e6 #fff;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color: #6ba6d6;
    }

.bor-log-rig {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px !important;
}

.bor-log-lef {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px !important;
}
/* Login */
/* Shared */
.container-ef-1 {
    max-width: 1250px;
}

.contentDz-1 {
    padding-top: 0px !important;
}

.infoSuministro-ef-1 {
    padding-right: 180px;
    padding-left: 180px;
}

hr.hr-ef-1 {
    border-top: 2px solid #9DB8D7;
}

.check-ef-1 {
    box-shadow: none;
    height: calc(2.25rem + 2px);
    width: calc(2.25rem + 2px);
}

@media (min-width: 1350px) {
    .container-ef-1 {
        max-width: 1250px;
    }
}

@media (min-width: 1200px) {
    .container-ef-1 {
        width: auto;
    }
}
/* Shared */
/* Default */
.wid-50 {
    width: 50%;
}
.dis-non {
    display: none;
}
.vis-hid {
    visibility: hidden;
}
/* Default */
