﻿@font-face {
    font-family: GothamLight;
    src: url(~/fonts/GothamLight.ttf);
}

/*estilos generales*/
input,
select,
textarea {
    width: 100%;
    border: none;
}
/*body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}*/
a {
    color: #fff;
}
/*input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    border-radius: 0;
    outline: 0;
    height: 0.1rem;
    width: 100%;
    font-size: 1rem;
    box-shadow: none;
    box-sizing: content-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}*/
.blue {
    color: #003591;
}

.red {
    color: #D52A1D;
}

.white {
    color: #fff;
}

.btn-rojo {
    width: 100%;
    color: #ffffff;
    background-color: #D52A1D;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    margin-bottom: 10px;
    transition: .7s;
}

    .btn-rojo:hover {
        color: #fff !important;
        background-color: #B22019;
    }

.btn-blue {
    width: 100%;
    color: #fff;
    background-color: #065197;
    box-shadow: 0px 0px 3px rgba(0,0,0,.5);
    margin-bottom: 10px;
    transition: .7s;
}

    .btn-blue:hover {
        color: #fff !important;
        background-color: #032d54;
    }

.body-content {
    padding-bottom: 60px;
    background-color: #fff;
}

.distriluz {
    background-color: #023E75;
    background-color: #FFF:;
}

.white-color {
    color: #fff;
}

.blue-text {
    color: #065197 !important;
}

.font12 {
    font-size: 12px;
}

.registro span {
    font-size: 13px;
}

.bc-blue {
    background-color: #065197;
    padding: 2% 2%;
}

.bc-gray {
    background-color: #353D43;
    padding: 2% 2%;
}

.float-rigth {
    float: right;
}

.padding-0 {
    padding: 0px;
}

.padding-2 {
    padding: 2%;
}

.dl-horizontal dt {
    white-space: normal;
}

.hdistriluz {
    padding-top: 5px;
    padding-bottom: 10px;
}

    .hdistriluz .logo-distriluz {
        margin-bottom: 0px;
    }

    .hdistriluz .navbar-brand {
        padding: 0px;
    }

    .hdistriluz .nav-pills > li {
        float: right;
    }

    .hdistriluz .nav-pills li a {
        font-size: 1em;
    }

        .hdistriluz .nav-pills li a:hover {
            background-color: transparent;
        }

        .hdistriluz .nav-pills li a img {
            width: 25px;
            margin-right: 10px;
        }

.datos {
    background-color: #333333;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
}

    .datos p {
        color: #fff;
        font-size: 13px;
    }

    .datos ul {
        margin-bottom: 0px !important;
        padding-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

        .datos ul li {
            padding: 10px 0px;
            align-self: center;
            font-size: .8em;
        }

            .datos ul li:first-child {
                margin-right: auto !important;
            }

            .datos ul li:nth-child(2), .datos ul li:nth-child(3), .datos ul li:nth-child(4) {
                padding-right: 30px;
            }

            .datos ul li:nth-child(5) {
                padding-right: 15px;
                margin-left: 15px;
                position: relative;
            }

                .datos ul li:nth-child(5) img {
                    width: 30px;
                }

                .datos ul li:nth-child(5):before {
                    content: '';
                    width: 100%;
                    height: 106%;
                    background: url(Imagenes/arrow.png) no-repeat;
                    background-size: 100% 100%;
                    background-position: center;
                    position: absolute;
                    top: -2px;
                    left: -40px;
                    z-index: 1;
                }

            .datos ul li img {
                width: 40px;
            }

.titularDatos {
    width: 20%;
    background-color: transparent;
    padding-left: 10px !important;
    position: relative;
}

    .titularDatos:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        border-right: 35px solid transparent;
        border-top: 0px solid transparent;
        border-left: 0px solid #5A5A5A;
        border-bottom: 65px solid #5A5A5A;
        top: -5px;
        left: 0;
        z-index: 0;
    }

    .titularDatos a, .titularDatos a:hover {
        color: #fff !important;
        text-decoration: none !important;
    }

    .titularDatos span {
        font-size: 1.5em;
        font-weight: 400;
        position: relative;
        z-index: 1;
    }

    .titularDatos img {
        width: 24px !important;
        height: 15px;
        margin-top: -7px !important;
        position: relative;
        z-index: 1;
    }

    .titularDatos span:nth-child(1) {
        margin-top: 3px;
        margin-right: 2px;
    }


#olvidaste-contraseña {
    font-size: 13px;
}

#registrate {
    font-size: 13px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/*login*/
.downapp {
    display: none;
}

#background-distriluz {
    background: url("Imagenes/fondo2.png") no-repeat center center;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.login {
    width: 320px;
    height: 100%;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo-distriluz {
    width: 100%;
    margin-bottom: 50px;
}

.login input {
    height: auto;
    font-size: 1.5rem;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: inherit;
}

.login a:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
}

.social {
    text-align: center;
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    right: 0; /* Establecemos la barra en la izquierda */
    top: 120px; /* Bajamos la barra 140px de arriba a abajo */
    z-index: 99; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

    .social ul {
        list-style: none;
        padding-left: 0px;
        border-radius: 10px 0px 0px 10px;
        overflow: hidden;
    }

        .social ul li {
            padding: 0px 15px;
            background-color: rgba(255,255,255,0.2);
        }

            .social ul li:nth-child(1) a, .social ul li:nth-child(2) a {
                opacity: .2;
            }

            .social ul li a {
                display: inline-block;
                color: #fff;
                z-index: 1;
                padding: 35px 8px;
                width: 80px;
                font-size: 12px;
                text-decoration: none;
                -webkit-transition: all 500ms ease;
                -o-transition: all 500ms ease;
                transition: all 500ms ease;
            }

                .social ul li a:hover {
                    padding-left: 15px;
                }

                .social ul li a img {
                    width: 50px;
                    height: 50px;
                }

.AlertError {
    width: 100%;
    display: block;
    /* padding: 10px; */
    margin-top: 5px;
    color: #721c24;
    /* background-color: rgba(213,42,29,.7); */
    background-color: #f8d7da;
    /* border: 1px solid #f5c6cb; */
    border-color: #f5c6cb;
    border-radius: 7px;
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-shadow: 0px 1px 2px rgba(0,0,0,.5);
    box-sizing: border-box;
}

    .AlertError > span {
        padding: 10px;
        display: block;
        margin-bottom: 7px;
    }

/*Actualizar datos y contraseña*/
.contentActualizar {
    width: 100%;
    height: 100%;
    padding: 3%;
}

.actualizarDatos h2, .actualizarContraseña h2 {
    font-size: 1.3em;
    color: #fff;
    padding: 15px;
    margin: 0px 0px 20px 0px;
}

.actualizarDatos h2 {
    background-color: #003591;
}

.actualizarContraseña h2 {
    background-color: #002667;
}

.actualizarDatos .form-horizontal .radio-inline {
    padding-top: 0px;
}

.actualizarDatos .radio-inline input[type=radio] {
    margin-left: -30px;
}

/*Lugares de pago*/
.contentLugares {
    padding: 0px 35px;
}

    .contentLugares .form-control {
        color: #3f6dc4;
        border: 1px solid transparent;
        border-bottom: 1px solid #ccc;
        border-radius: 0px;
        box-shadow: none;
        margin-top: 20px;
        margin-bottom: 2px;
        padding-left: 0px;
    }

    .contentLugares .control-label {
        font-size: .8em;
        color: #686767;
        margin-bottom: 20px;
        padding-left: 5px;
    }

#mapa {
    height: 500px;
}

.gm-style-iw {
    width: 350px !important;
    top: 15px !important;
    left: 18px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.6);
    /* border: 1px solid rgba(72, 181, 233, 0.6); */
    border-radius: 10px;
    border-left: 20px solid #4862aa;
}

    .gm-style-iw > div, .gm-style-iw > div > div {
        width: 100% !important;
        overflow: inherit !important;
    }

#iw-container {
    margin-bottom: 10px;
}

.gm-ui-hover-effect {
    background-color: #ccc !important;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5) !important;
    right: 0px !important;
    border-radius: 25px !important;
}

    .gm-ui-hover-effect:hover {
        color: #fff !important;
        background-color: #D52A1D !important;
    }

.dlPopup {
    width: 100%;
    margin: 15px;
}

    .dlPopup span {
        display: block;
    }

.dlTitular {
    font-size: 1.2em;
    color: #c94d3f;
    text-transform: capitalize;
}

.dlDireccion {
    font-size: .9em;
    font-weight: 700;
    color: #4862aa;
    margin-bottom: 20px;
}

.dlHora, .dlHora2 {
    font-size: .9em;
    color: #4862aa;
    text-transform: capitalize;
}

.dlHora2 {
    margin-bottom: 20px;
}

.dlInfo {
    font-size: .9em;
    color: #464646;
}

/* ----------- PC ----------- */
@media screen and (min-width: 768px) {
    .modal-dialog {
        left: initial;
    }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .datos ul {
        flex-wrap: nowrap;
    }

        .datos ul li {
            font-size: .68em;
        }

            .datos ul li:first-child {
                margin-right: 45px !important;
            }

            .datos ul li:nth-child(2), .datos ul li:nth-child(3), .datos ul li:nth-child(4) {
                padding-right: 20px;
            }

    .titularDatos:after {
        width: 120% !important;
    }

    .header {
        font-size: 12px;
    }

    .margin-top {
        margin-top: 7px;
    }

    .hdistriluz .nav-pills li a {
        font-size: 1em;
    }
}
/* ----------- SMARTPHONE ----------- */
/* Portrait */
@media (min-width: 481px) and (max-width: 767px) {
    /*.login, .social, footer p {
        display: none;
    }

    .downapp {
        width: 100%;
        height: 250px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .distriluz {
        display: none;
    }*/
}

@media (min-width: 320px) and (max-width: 480px) {
    /*.login, .social, footer p {
        display: none;
    }

    .downapp {
        width: 100%;
        height: 250px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }*/
}

