﻿@import url('suministro.css');

.cardNombre .form-control, .cardDetalle .form-control, .dtDetalle ul li .form-control, .contdg .form-control, .contCard ol li .form-control {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    white-space: nowrap;
}

.cardCabecera .control-label, .cardDetalle .control-label, .contRecibo .control-label {
    border: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    white-space: nowrap;
}
/*.dtDetalle, .dtDetalle, .dbBoletines, .ddDescargas{
    padding: 1%;
}*/
.menu {
    width: 65px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

    .menu ul {
        list-style: none;
        padding-left: 0px;
        background-color: #2d2d2d;
        border-radius: 0px 0px 0px 25px;
        /*-moz-box-shadow: -2px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: -2px 0px 10px rgba(0,0,0,.5);
    box-shadow: -2px 0px 10px rgba(0,0,0,.5);*/
    }

        .menu ul li a {
            width: 100%;
            display: block;
            margin: auto;
            color: #fff;
            z-index: 1;
            padding: 15px 10px;
            font-size: .8em;
            text-decoration: none;
            -webkit-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
        }

            .menu ul li a .ico {
                font-size: 2em;
            }

            .menu ul li a .info {
                display: none;
            }
/*.form-control{
    border: none;
    box-shadow: none;
    background-color: transparent !important;
}*/
/*.menu ul li  a :hover{
      background-color: red;
  } */
.contentSuministro {
    padding: 30px;
}

.infoSuministro {
    padding-right: 40px;
}

.tituloSuministro h2 {
    font-size: 1.1em;
    font-weight: 700;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
}

.tituloSuministro h3 {
    font-size: 1.7em;
    font-weight: 700;
    padding: 0px;
    margin-top: 0px;
}

.ContDetalle {
    width: 47%;
    /*border-color: #a5a5a5;*/
    padding-top: 2%;
    padding-bottom: 0;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 10px;
    margin-right: 10px;
    display: inline-block;
    -moz-box-shadow: 0px 2px 12px rgba(0,0,0,.32);
    -webkit-box-shadow: 0px 2px 12px rgba(0,0,0,.32);
    box-shadow: 0px 2px 12px rgba(0,0,0,.32);
}

.btnDetalle {
    width: auto;
    height: 100%;
    display: block;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: .8s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

    .btnDetalle:after {
        content: '';
        width: 100%;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        font-weight: 700;
        color: #fff;
        background-color: rgba(20,35,64,.3);
        padding: 32%;
        transform: scale(0,0);
        transition: .8s;
    }

    .btnDetalle:hover {
        text-decoration: none;
        border: 2px solid #346cab;
    }

        .btnDetalle:hover:after {
            transform: scale(1,1);
        }

.cuadroSuministro {
    width: 100%;
}
/*.cuadroSuministro div:nth-child(1), .CuadroSuministro div:nth-child(3){
    margin-bottom: 0px;
}*/
#myChart {
    cursor: pointer !important;
}

.cardCabecera .form-group {
    margin-bottom: 2px;
}

.cardCabecera .form-control {
    height: auto;
    box-shadow: none;
    border: none !important;
    background-color: transparent;
    text-align: center;
    font-weight: 700;
    line-height: .9em;
}

.cardCabecera .txtSuministro {
    color: #2d2d2d;
    font-size: 1.5em;
}

.cardCabecera .nroSuministro {
    color: #2d2d2d;
    font-size: .8em;
}

.cardCabecera .control-label {
    height: 12px;
    color: #065197;
    font-size: 0.8em;
}

.card-icon .desasociar {
    float: right;
    color: #d42d33;
    font-size: 1.3rem;
    margin-right: -10px;
    margin-top: -7px;
    cursor: pointer;
}

.cardNombre {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #346cab;
    padding-bottom: 0px;
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
}

    .cardNombre .form-group {
        margin-bottom: 7px;
    }

    .cardNombre .form-control {
        width: 100%;
        height: auto;
        font-size: 1.2em;
        font-weight: 700;
        line-height: 1.3em;
        text-transform: capitalize !important;
        padding: 0px;
        white-space: nowrap;
        overflow: hidden;
    }

.cardDetalle .form-control {
    height: auto;
    padding: 0px;
    font-size: .9em;
    /* line-height: 0.9em; */
    color: #2d2d2d;
    font-weight: bold;
    cursor: default;
    margin-bottom: -6px;
}

.cardDetalle .control-label {
    height: auto;
    font-size: .7em;
    color: #343a40;
    cursor: default;
}

    .cardDetalle .control-label:nth-child(8) {
        margin-bottom: 0px;
    }

.divBars {
    width: 100%;
    height: 100%;
    text-align: center;
}

    .divBars .form-control {
        font-size: .8em;
    }
/*.divBars > .chartjs-size-monitor{
    position: initial;
}
.divBars canvas{
    width: 100%!important;
    height: 100%!important;
}*/
.cardSuministro {
    width: 100%;
    text-align: center;
    padding: 25px 0px;
}

    .cardSuministro a {
        width: auto;
        font-size: 1.2em;
        text-align: center;
        text-decoration: none;
        color: #fff;
        padding: 10px 15px;
        -moz-transition: .7s;
        -webkit-transition: .7s;
        transition: .7s;
    }
/*.cardSuministro a:hover{
    background-color: #639d41;
}*/
.cardVisa {
    width: 100%;
    height: auto;
    border-top: 1px solid #2d2d2d;
    padding-bottom: 0px;
    padding-top: 15px;
    line-height: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}

    .cardVisa .txtDeuda {
        width: auto;
        height: auto;
        font-size: 1.3em;
        font-weight: 700;
        display: inline-block;
        padding: 0px;
        color: #2d2d2d;
        box-shadow: none;
        border: none !important;
        background-color: transparent;
    }

.dtDetalle {
    padding: 20px;
    background-color: #2d2d2d;
}

    .dtDetalle ul {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 0px;
        margin-bottom: 0px;
        /*flex-direction: row;*/
        justify-content: space-between;
        /*align-content: space-around;
    background-color: #ededed;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.5);
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);*/
    }

        .dtDetalle ul li {
            padding-left: 20px;
            padding-right: 20px;
        }

            .dtDetalle ul li:nth-child(2), .dtDetalle ul li:nth-child(5), .dtDetalle ul li:nth-child(6) {
                width: 15%;
            }

            .dtDetalle ul li:nth-child(3) {
                width: 11%;
            }

            .dtDetalle ul li:last-child {
                width: 12%;
                border-right: none;
            }

            .dtDetalle ul li .form-control {
                height: auto;
                font-size: 1em;
                font-weight: 700;
                padding: 0px;
                white-space: nowrap;
            }

            .dtDetalle ul li .control-label {
                font-size: .8em;
                font-weight: 300;
                margin-bottom: 0px;
                padding-bottom: 0px;
                white-space: nowrap;
            }

.dgDetalle {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
    /*.dgDetalle:before{
    content: '';
    width: 20px;
    height: 100%;
    background-color: #828282;
    position: absolute;
    top: 0;
    left: 0;
}
.dgDetalle:after{
    content: '';
    width: 20px;
    height: 100%;
    background-color: #828282;
    position: absolute;
    top: 0;
    right: 0;
}*/
    .dgDetalle img {
        width: 55%;
        margin: auto;
        display: block;
    }

.contdg {
    margin-left: 7%;
}

    .contdg header h2 {
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 20px;
        display: inline-block;
    }

    .contdg header a {
        font-size: 2em;
        display: inline-block;
        margin-left: 15%;
    }

    .contdg .form-group {
        margin-bottom: 10px;
    }

    .contdg .form-control {
        height: 100%;
        font-size: 1.2em;
        font-weight: 700;
        color: #2d2d2d;
        padding: 0px;
    }

    .contdg .control-label {
        font-size: .9em;
        color: #2d2d2d;
    }

.mnsjeResultado {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.dhHistorial {
    padding: 0 3.7% 5% 3.7%;
}

    .dhHistorial .nav > li > a {
        font-size: 1.1em;
        padding: 20px 0px;
        color: #fff;
        background-color: #2d2d2d;
        border: none;
    }

    .dhHistorial .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #359f37;
    }
    /*.dhHistorial .tab-content>.active, .pill-content>.active{
    border: 2px solid #359f37;
}*/
    .dhHistorial .nav-tabs > li {
        width: 50%;
        text-align: center;
    }

    .dhHistorial .tab-content > .active {
        border: 2px solid #359f37;
        border-radius: 0px 0px 15px 0px;
    }

    .dhHistorial .tab-pane ol {
        width: 100%;
        height: 320px;
        display: flex;
        align-items: center;
        align-content: center;
        padding: 20px;
    }

        .dhHistorial .tab-pane ol li {
            font-size: 2em;
            font-weight: 700;
            line-height: 1.2em;
        }

        .dhHistorial .tab-pane ol span {
            font-size: 4em;
        }

        .dhHistorial .tab-pane ol img {
            width: 85%;
        }

        .dhHistorial .tab-pane ol .text-left img {
            width: 54% !important;
        }

.divHConsumo {
    padding: 35px 0px 35px 35px;
}

.divHFacturacion {
    padding: 35px 35px 35px 0px;
}

.modal-body .control-label {
    line-height: 2em;
}

.modal-body .btnBuscar {
    margin-top: 40px;
}

.modal-body .text-info {
    margin-top: 10px;
    font-size: 1.5em;
}

.modal-body .control-label {
    font-size: 1em;
}

    .modal-body .control-label:nth-child(3) {
        line-height: 0;
    }

.dbBoletines {
    padding: 0 3.7% 0 3.7%;
}

    .dbBoletines h2 {
        font-size: 1.4em;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 4px solid;
    }

.cardRecibo, .cardCorte, .cardPago {
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 15px 0px 15px 0px;
    overflow-y: scroll;
}

.cardRecibo {
    overflow: initial;
    background-color: #f2f5fe;
    border: 2px solid #346cab;
}

    .cardRecibo h2 {
        color: #346cab;
        font-weight: 700;
        border-color: #346cab;
    }

.cardCorte::-webkit-scrollbar-track, .cardPago::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.cardCorte::-webkit-scrollbar, .cardPago::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.cardCorte::-webkit-scrollbar-thumb, .cardPago::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.cardCorte {
    background-color: #ffe9e0;
    border: 2px solid #e7622c;
    overflow: hidden;
}

    .cardCorte .contCard ol li {
        width: 100%;
        display: block;
    }

    .cardCorte h2 {
        color: #e7622c;
        font-weight: 700;
        border-color: #e7622c;
    }

    .cardCorte p {
        font-size: .8em;
    }

.cardPago {
    background-color: #f2f5fe;
    border: 2px solid #0089c1;
    overflow: hidden;
}

    .cardPago h2 {
        color: #0089c1;
        font-weight: 700;
        border-color: #0089c1;
    }

.contCard ol {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #2d2d2d;
}
    /*.contCard ol:first-child{
    margin-top: 30px;
}*/
    .contCard ol:last-child {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
    }

    .contCard ol li {
        width: 55%;
        display: inline-block;
        vertical-align: top;
    }

        .contCard ol li:nth-child(2) {
            width: 40%;
        }

        .contCard ol li .form-control {
            height: auto;
            line-height: .9em;
            font-size: 1em;
            font-weight: 700;
            color: #2d2d2d;
            padding: 0px;
        }

        .contCard ol li .control-label {
            font-weight: 300;
            font-size: .8em;
            color: #2d2d2d;
        }

            .contCard ol li .control-label:nth-child(2) {
                margin-bottom: 15px;
            }

.contCard table {
    font-size: .8em;
}

    .contCard table td {
        color: #2d2d2d;
    }

.contCard .media {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.contCard .media-body {
    line-height: .9em;
}
/*.media, .media-body{
    overflow: hidden;
    zoom: 1;
}
.media:first-child {
    margin-top: 0;
}
.media-body, .media-left, .media-right{
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left{
    padding-right: 10px;
}
.media-heading{
    margin-top: 0;
    margin-bottom: 5px;
}*/
.cardPago .table thead th {
    color: #fff;
    background-color: #0089c1;
    vertical-align: middle;
}

.cardPago .table thead th, .cardPago .table td {
    padding: .2rem;
}

.cardPago .table thead > tr > th {
    border-bottom: none;
}

.cardPago .table tbody > tr:first-child > td {
    border-top: none;
    border-bottom: 1px solid #2d2d2d;
}

.ddDescargas {
    margin-top: 60px;
    background-color: #696969;
    padding: 30px 0px;
}

    .ddDescargas span {
        width: 25px;
        height: 25px;
        display: block;
        margin: auto;
    }

    .ddDescargas p {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .ddDescargas a {
        text-decoration: none;
        transition: .7s;
    }

        .ddDescargas a:hover > p, .ddDescargas a:hover > span {
            opacity: .7;
        }

    .ddDescargas ul {
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        margin-bottom: 0px;
    }

        .ddDescargas ul li:nth-child(2) {
            position: relative;
        }

            .ddDescargas ul li:nth-child(2):after {
                content: '';
                width: 1px;
                height: 100%;
                background-color: #ccc;
                position: absolute;
                top: 0;
                bottom: 0;
                right: -50px;
            }

.noDetalle {
    width: 100%;
    position: relative;
    display: block;
}

    .noDetalle:after {
        content: 'Campo no completado';
        color: #ccc;
        position: absolute;
        top: 0;
    }

#frmConsultaVisa .control-label {
    display: block !important;
    margin-top: 6px;
}

/*animacion*/
.menu ul li:hover a {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake;
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-2px, 0, 0);
        transform: translate3d(-2px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(2px, 0, 0);
        transform: translate3d(2px, 0, 0);
    }
}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .navbar-toggler {
        color: #359f37;
        border: 3px solid #359f37;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 20px;
        padding: 20px;
        background-color: rgba(0,0,0,.2);
        border-top: 1px solid rgba(0,0,0,.5);
    }

    .headerDz .nav-item:last-child {
        margin-right: 0px !important;
    }

    .headerDz .nav-item a {
        text-align: center;
    }

        .headerDz .nav-item a img {
            width: 40px !important;
            margin: auto;
            margin-top: 0px;
            display: block;
        }

    .menu {
        width: 7%;
    }

    .infoSuministro {
        padding-right: 20px;
    }

    .contentSuministro {
        padding-bottom: 0px;
    }

    .cardCabecera .txtSuministro {
        font-size: 1em;
    }

    .cardCabecera .txtDeuda {
        font-size: 1em;
    }

    .cardCabecera .control-label {
        font-size: .6em;
    }

    .hdistriluz .nav-pills li a img {
        width: 20px;
    }

    .cardNombre {
        height: 27px;
        margin-bottom: 10px;
    }

        .cardNombre .form-control {
            font-size: 1em;
            white-space: nowrap;
            overflow: hidden;
            padding-bottom: 10px;
        }

    .cardDetalle {
        margin-bottom: 10px;
    }

        .cardDetalle .form-control {
            font-size: .5em;
            white-space: nowrap;
        }

        .cardDetalle .control-label {
            font-size: .5em;
            white-space: nowrap;
            margin-bottom: .1rem;
        }

        .cardDetalle .form-group {
            margin-bottom: 0px;
        }

        .cardDetalle .backGray {
            margin-left: .5rem !important;
        }

    .divBars .form-control {
        white-space: initial;
        padding: 0px 10px;
        margin-top: .3rem !important;
        margin-bottom: 1rem !important;
    }

    .cardSuministro {
        padding-bottom: 0px;
    }

        .cardSuministro a {
            font-size: 1.2em;
        }

    .cardVisa label {
        font-size: .8em;
    }

    .cardVisa .txtDeuda {
        font-size: 1em;
    }

    .cardVisa a {
        font-size: .8em;
    }

    .dtDetalle {
        padding-bottom: 15px;
    }

        .dtDetalle ul {
            overflow-x: scroll;
            padding-bottom: 10px;
        }

            .dtDetalle ul::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #2d2d2d;
            }

            .dtDetalle ul::-webkit-scrollbar {
                height: 6px;
                background-color: #2d2d2d;
            }

            .dtDetalle ul::-webkit-scrollbar-thumb {
                background-color: #359f37;
            }

            .dtDetalle ul li {
                width: 100% !important;
            }

    .contdg header h2 {
        font-size: 2em;
    }

    .divHConsumo {
        padding: 20px 0px 0px 15px;
    }

    .divHFacturacion {
        padding: 20px 15px 20px 0px;
    }

        .divHFacturacion .tab-pane ol {
            height: auto;
            padding: 20px;
        }

    .dhHistorial .tab-pane ol {
        height: 160px;
    }

    .dhHistorial .tab-content ol li {
        font-size: 1.3em;
    }

    .dhHistorial .tab-content ol img {
        width: 90%;
    }

    .dhHistorial .tab-content ol li:last-child {
        padding-right: 0px;
    }

    .dhHistorial .tab-pane ol .text-left img {
        width: 86% !important;
    }

    .cardRecibo, .cardCorte, .cardPago {
        height: auto;
        margin-bottom: 40px;
    }

    .cardPago {
        margin-bottom: 10px;
    }
    /*.media-left, .media>.pull-left{
        width: 13%;
    }*/
    .table-responsive {
        border: none;
    }

        .table-responsive > .table {
            background-color: transparent;
        }

    .ddDescargas {
        margin-top: 20px;
    }

        .ddDescargas ul li:nth-child(2):after {
            right: 1px;
        }

    .tituloSuministro h3 {
        font-size: 1.1em;
    }

    .modal-body .btnBuscar {
        margin-top: 20px;
    }
}

.modDetFac {
    padding: 0 3.7% 0 3.7%;
    width: 100%;
    height: 500px;
    padding: 20px;
    border-radius: 15px 0px 15px 0px;
    overflow-y: scroll;
    background-color: #f2f5fe;
    border: 2px solid #346cab;
    color: #346cab;
    font-weight: 700;
    border-color: #346cab;
}

    .modDetFac h2 {
        font-size: 1.4em;
        border-bottom: 4px solid;
    }

    .modDetFac ol {
        height: auto !important;
        padding-left: 15px !important;
        margin-bottom: 20px;
        padding-bottom: 5px !important;
    }

        .modDetFac ol li {
            font-size: 1rem !important;
        }

    .modDetFac .table td {
        padding: .4rem;
    }

        .modDetFac .table td:last-child {
            text-align: right;
            padding-right: 20px;
        }

    .modDetFac .table th {
        border-top: 0px;
    }

.tmpInterrupcion .media-body p:first-child {
    font-weight: bold;
}

.tmpInterrupcion .media-body p:last-child {
    padding-left: 20px;
    text-align: justify;
}

.cardCtaCte td, .cardAtenciones td {
    padding: 8px !important;
    font-size: .8rem;
}

.cardCtaCte th, .cardAtenciones th {
    padding: 8px !important;
    font-size: .9rem;
}

#modAtencion_Detalle .table-bordered {
    border: 0px solid #dee2e6;
}

#tblAtencion_Detalle th{
    text-align: right;
}

#tblAtencion_Detalle td{
    text-align: left;
}