﻿@using (Html.BeginForm("Logout", "AccountEmpresa", FormMethod.Post, new { @class = "frmLogout", role = "form" }))
{
    <p class="text-center">¿Esta seguro que desea cerrar sesión?</p>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 text-center">
                <button type="button" class="btn btn-red font-montserrat" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i>&nbsp;Cancelar</button>
            </div>
            <div class="col-sm-6 text-center">
                <button type="submit" class="btn btn-green font-montserrat btnCerrarSesion"><i class="" aria-hidden="true"></i>&nbsp;Aceptar</button>
            </div>
        </div>
    </div>
}
