﻿@model OficinaVirtual.Entidad.Consulta._clsUsuarioEmpresa
@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
    var sUsuario = ViewBag.Usuario;
    var sNombre = ViewBag.Nombres;
    var oTipoDocumento = ViewBag.TipoDocumentos;
}

<link type="text/css" href="~/Content/AccountEmpresa/_UsuarioEmpresa.css" rel="stylesheet" />

<div>
    @{
        if (sExito == true)
        {
            <div class="alert alert-success">
                <div>
                    <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>Se acaba de registrar correctamente al Usuario:&nbsp;</span>
                    @*<span class="text-danger"><strong>@sUsuario - @sNombre.</strong></span>*@
                    <span class="font-weight-bold"></span><span>&nbsp;@sMensaje</span>
                </div>
            </div>
        }
        else
        {
            if (sMensaje != "")
            {
                <div class="alert alert-warning">
                    <div>
                        <span class=""><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>@sMensaje</span>
                    </div>
                </div>
            }
            using (Html.BeginForm("_UsuarioEmpresa", "AccountEmpresa", FormMethod.Post, new { @class = "frmRegistro", role = "form", @id = "frmRegistro" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                <h5><strong>Datos de la empresa</strong></h5>
                                <hr class="hr-ef-1" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.empresaRuc, new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.empresaRuc, new { @class = "form-control" })
                                    <div class="input-group-prepend">
                                        <span class="form-control" id="buscaempresaxruc" style="cursor: pointer;">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.empresaRuc, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                @Html.LabelFor(model => model.razonsocial, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.razonsocial, new { @class = "form-control" , @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.razonsocial, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5><strong>Administrador</strong></h5>
                                <hr class="hr-ef-1" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.nombres, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.nombres, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombres, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col-6">
                                @Html.LabelFor(model => model.apaterno, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.apaterno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.apaterno, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-6">
                                @Html.LabelFor(model => model.amaterno, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.amaterno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.amaterno, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.IdTipoIdentidad, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.IdTipoIdentidad, (IEnumerable<SelectListItem>)oTipoDocumento)
                            </div>
                            <div class="col-6">
                                @Html.LabelFor(model => model.nrodocumento, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.nrodocumento, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nrodocumento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                <label for="txtConfirmaEmail" class="control-label"> Confirmar Correo Electrónico</label>
                                <input type="text" id="txtConfirmaEmail" class="form-control" onSelectStart="return false" onPaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                                <span class="field-validation-error text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5><strong>Acceso</strong></h5>
                                <hr class="hr-ef-1" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.usuario, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
                            </div>
                            <div class="col-6">
                                @Html.LabelFor(model => model.nrorecibo, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.nrorecibo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nrorecibo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.idnroservicio, new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.idnroservicio, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idnroservicio, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col-6">
                                @Html.LabelFor(model => model.clave, new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.clave, new { @class = "form-control pass", @autocomplete = "off" })
                                    <div class="input-group-prepend">
                                        <span class="form-control">
                                            <i class="fas fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-6">
                                @Html.LabelFor(model => model.confirmacionclave, new { @class = "control-label" })
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.confirmacionclave, new { @class = "form-control pass", @autocomplete = "off" })
                                    <div class="input-group-prepend">
                                        <span class="form-control">
                                            <i class="fas fa-eye-slash"></i>
                                        </span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.confirmacionclave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-12" style="text-align: right">
                                <input type="checkbox" id="chkTerminos" class="term-cond" />
                                <label for="chkTerminos" class="control-label"> Acepto los <a href="~/Home/TerminosCondiciones" target="_blank"> Términos Y Condiciones</a></label>
                                <span class="field-validation-error text-danger" style="display:block;"></span>
                            </div>
                        </div>
                        <hr />
                        <div class="row form-group">
                            <div class="col-4"></div>
                            <div class="col-4"></div>
                            <div class="col-4">
                                <input type="submit" class="btn btn-green" value="Ingresar" id="btnRegistrar" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

<script type="text/javascript" src="~/Scripts/AccountEmpresa/_UsuarioEmpresa.js"></script>