﻿@model OficinaVirtual.Entidad.Consulta.clsLogin
@{
    Layout = null;
    var sMensaje = ViewBag.Mensaje;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Somos un grupo de empresas que genera y distribuye energía eléctrica en 12 de 24 departamentos del Perú." />
    <title>Distriluz Login</title>
    <!-- Css -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/img/favicon-16x16.png">
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/fontawesome/css/all.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/custom.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/main.css" rel="stylesheet" />
    <!-- Css -->
</head>
<body>
    <section class="backDistriluz">
        <!-- MODAL -->
        <div class="modal fade modLogin" id="modLogin" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <label class="modal-title font-montserrat font-weight-bold hint-text">...</label>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span>×</span></button>
                    </div>
                    <div class="modal-body">...</div>
                </div>
            </div>
        </div>
        <!-- MENU DERECHO -->
        <div class="navLateral">
            <ul>
                <li>
                    <a href="@Url.Action("Contactenos", "Home")">
                        <img src="~/Content/img/ico_contact.png" alt="contacto">
                        <span class="white">Contáctanos</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Reclamo", "Suministro")">
                        <img src="~/Content/img/orientacion.png" alt="alerta de averia">
                        <span class="white">Reclamos</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("LugaresPago", "Home")">
                        <img src="~/Content/img/ico_mapa.png" alt="locacion">
                        <span class="white">Lugares<br />de pago</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Interrupciones", "Home")">
                        <img src="~/Content/img/ico_interrupcion.png" alt="Interrupción">
                        <span class="white">Interrupciones</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- FORMULARIO -->
        <div>
            @using (Html.BeginForm("Login", "AccountEmpresa", FormMethod.Post, new { @class = "SubmitLogin formSignin" }))
            {
                @Html.AntiForgeryToken()
                <div class="login">
                    <img src="~/Content/img/logo.png" alt="DISTRILUZ">
                    <span class="infoEmpresas white">ENOSA | ENSA | HIDRANDINA | ELECTROCENTRO</span>
                    @if (sMensaje != "")
                    {
                        <div class="contError">
                            <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-danger" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                        </div>
                    }
                    <ul class="nav nav-tabs" id="myTabLogin" role="tablist">
                        <li class="nav-item wid-50 text-center">
                            <a class="nav-link bor-log-rig" id="natural-tab" data-toggle="tab" href="#natural" role="tab" aria-controls="natural" aria-selected="false">Natural</a>
                        </li>
                        <li class="nav-item wid-50 text-center">
                            <a class="nav-link bor-log-lef active" id="empresa-tab" data-toggle="tab" href="#empresa" role="tab" aria-controls="empresa" aria-selected="true">Empresa</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabLoginContent">
                        <div class="tab-pane fade" id="natural" role="tabpanel" aria-labelledby="natural-tab"></div>
                        <div class="tab-pane fade show active" id="empresa" role="tabpanel" aria-labelledby="empresa-tab">
                            <br />
                            <div class="form-group">
                                @Html.EditorFor(model => model.ruc, new { htmlAttributes = new { @class = "form-control", @placeholder = "RUC" } })
                                @Html.ValidationMessageFor(model => model.ruc, "", new { @class = "alertError" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Usuario" } })
                                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "alertError" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.clave, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Contraseña" } })
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "alertError" })
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-green">Ingresar</button>
                    <div class="form-row">
                        <div class="form-group text-left col-md-6">
                            <a id="olvidaste-contraseña" href='@(Url.Action("_CambiarClave", "Account"))' onclick="CambiarContraseña(event, this);">Recuperar contraseña</a>
                        </div>
                        <div class="form-group text-right col-md-6">
                            <a id="registrate" href='@(Url.Action("_UsuarioEmpresa", "AccountEmpresa"))' onclick="NuevoRegistro(event, this);">Regístrate </a>
                        </div>
                    </div>
                    <div class="form-row row">
                        <div class="form-group text-center col-md-12">
                            <a href='@Url.Content("~/Content/Home/GuiaOficinaVirtualDistriluz.pdf")' target="_blank">Guía de Usuario</a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="downapp">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p class="white">Para la versión móvil descargar los siguientes aplicativos:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <a target="_blank" href="#"><img class="img-fluid" src="~/Content/img/google_badge.png" border="0"></a>
                    </div>
                    <div class="col-6 text-center">
                        <a target="_blank" href="#"><img class="img-fluid" src="~/Content/img/apple_badge.png" border="0"></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <footer>
                <div class="container">
                    <div class="contFooter">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-4 col-md-4">
                                <p class="white"><small>Se recomienda el uso de Google Chrome por defecto</small></p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <p class="white text-center"><small>Copyright © 2018 DISTRILUZ. Todos los derechos reservados</small></p>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <ul class="list-unstyled">
                                    <li class="media">
                                        <img src="~/Content/img/logo-visa.png" class="mr-2" alt="visa" width="90px">
                                        <div class="media-body">
                                            <small class="white">Esta tienda está autorizada por Visa para realizar transacciones electrónicas.</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </section>
</body>
</html>
<!-- Script -->
<script type="text/javascript" src="~/Scripts/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="~/Scripts/popper.min.js"></script>
<script type="text/javascript" src="~/Scripts/AccountEmpresa/Login.js"></script>
<!-- Script -->