﻿@{
    ViewBag.Title = "MenuClienteEmpresa";
    string rolOpciones = "";
    string rolIconos = "";
}
<!-- Css -->
<link href="~/Content/AccountEmpresa/MenuClienteEmpresa.css" rel="stylesheet" />
<!-- Css -->
<!-- Content -->
<div class="contentSuministro">
    <article class="infoSuministro infoSuministro-ef-1">
        <form id="frmResumen" class="frmResumen" method="post" action="@Url.Action("VisaFinalizar", "Suministro")"></form>
        <input type="hidden" id="txtIdUser" value="@Session["IdUsuario"]" />
        <div class="ViewBagLoginAcceso dis-non">
            @foreach (var item in ViewBag.Global.LoginAcceso)
            {
                <div id="@item.Key">@item.Value</div>
            }
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="tituloSuministro text-center">
                    <h3>
                        <label class="green">Bienvenido a la</label><label class="lighBlue">&nbsp;Oficina Virtual - Empresas</label>
                    </h3>
                    <br>
                </div>
            </div>
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    @foreach (var item in ViewBag.Global.LoginAcceso)
                    {
                        <!-- rolOpciones -->
                        if (item.Key == "rolOpciones")
                        {
                            string rol = item.Value;
                            string[] lista = rol.Split(',');
                            foreach (var valor in lista)
                            {
                                rolOpciones += valor.Trim() + "-";
                            }
                        }
                        <!-- rolOpciones -->
                        <!-- rolIconos -->
                        if (item.Key == "rolIconos")
                        {
                            string rol = item.Value;
                            string[] lista = rol.Split(',');
                            foreach (var valor in lista)
                            {
                                rolIconos += valor.Trim() + "|";
                            }
                        }
                        <!-- rolIconos -->
                        <!-- rolNombres -->
                        if (item.Key == "rolNombres")
                        {
                            string rol = item.Value;
                            string[] lista = rol.Split(',');
                            int count = 0;
                            foreach (var valor in lista)
                            {
                                string[] rolcadena = rolOpciones.Split('-');
                                string rolNombre = rolcadena[count];
                                string[] accion = rolNombre.Split('/');
                                string[] controlador = rolNombre.Split('/');
                                string[] iconcadena = rolIconos.Split('|');
                                <div class="col-lg-4 col-md-4 col-sm-4">
                                    <div class="menu-ef-1">
                                        <div class="menu-ef-1-content">
                                            <div class="menu-ef-1-icon text-center small">
                                                <span>
                                                    <a href="@(Url.Action(accion[1], controlador[0]))" class="@iconcadena[count]"></a>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="menu-ef-1-footer text-center">
                                            <a href="@(Url.Action(accion[1], controlador[0]))">@valor</a>
                                        </div>
                                    </div>
                                </div>
                                count++;
                            }
                        }
                        <!-- rolNombres -->
                    }
                </div>
            </div>
        </div>
    </article>
</div>
<!-- Content -->
<!-- Script -->
<script type="text/javascript" src="~/Scripts/Util.js"></script>
<!-- Script -->