﻿@model OficinaVirtual.Entidad.Consulta.clsNuevoUsuarioEmpresa
@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
    var oTipoDocumento = ViewBag.TipoDocumentos;
    var oRoles = ViewBag.Roles;
    var oTipoRelacion = ViewBag.oTipoRelacion;
    var Empresa = ViewBag.Empresa;
}

<!-- Css -->
<style type="text/css">
    .pass {
        -webkit-text-security: circle;
    }



</style>
<!-- Css -->
<!-- Content -->
<div class="contentActualizar2">
    <article class="infoSuministro">
        @{
            if (sExito == true)
            {
                <div class="alert alert-success">
                    <div>
                        <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                    </div>
                </div>
            }
            else
            {
                if (sMensaje != "")
                {
                    <div class="alert alert-warning">
                        <div>
                            <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                        </div>
                    </div>
                }
            }
            using (Html.BeginForm("NuevoUsuarioEmpresa", "AccountEmpresa", FormMethod.Post, new { @class = "oFrm form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <header>
                    <h2 class="lighBlue">Registrar alta de Empresa</h2>
                </header>
                <br>
                <div class="row">
                    <div class="col-12">
                        <h5><strong>Datos del Usuario</strong></h5>
                        <hr class="hr-ef-1" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.empresa, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @if (Empresa != null)
                                {
                                    @Html.TextBoxFor(model => model.empresa, new { @Value = Empresa, @class = "form-control", @readonly = "readonly" })
                                }
                                else
                                {
                                    @Html.TextBoxFor(model => model.empresa, new { @class = "form-control", @readonly = "readonly" })
                                }
                                @Html.ValidationMessageFor(model => model.empresa, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.tipdoc, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.tipdoc, (IEnumerable<SelectListItem>)oTipoDocumento, "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tipdoc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.numdoc, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.numdoc, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.numdoc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.nombre, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.apaterno, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.apaterno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.apaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.amaterno, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.amaterno, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.amaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.tiprep, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.tiprep, (IEnumerable<SelectListItem>)oTipoDocumento, "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tiprep, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.numrep, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.numrep, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.numrep, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-12">
                        <h5><strong>Datos de Acceso</strong></h5>
                        <hr class="hr-ef-1" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.usuario, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.clave, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.clave, new { @class = "form-control pass", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.concla, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.concla, new { @class = "form-control pass", @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.estado, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.estado, new SelectList(
                                   new List<Object>{
                                       new { value = "", text = "Seleccionar" },
                                       new { value = "0", text = "Deshabilitado" },
                                       new { value = "1", text = "Activo"}
                                   },
                                   "value",
                                   "text",
                                   ""),
                                   new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.carfun, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.carfun, new SelectList(oTipoRelacion, "idTipoRelacion", "DescripcionTipo"), "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.carfun, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.rolapl, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.rolapl, new SelectList(oRoles, "Id", "Nombre"), "Seleccionar", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.rolapl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3">
                                &nbsp;
                                <input type="button" class="btn btn-info" value="Cancelar" id="btnCancelar" onclick="location.href='@Url.Action("RegistrarUsuarios", "AccountEmpresa")'" />
                            </div>
                            <div class="col-sm-3">
                                &nbsp;
                                <input type="submit" class="btn btn-success" value="Grabar" id="btnGrabar" />
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    </div>
                </div>
            }
        }
    </article>

    <aside class="menu">
        <ul>
            <li>
                <a class="toolGreen efect" data-title="Suministros" target="_blank" href='@(Url.Action("ResumenDeudas", "SuministroEmpresa"))'>
                    <span class="ico"><i class="fa fa-file-o"></i></span>
                    <span class="info">Suministros</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Mantenimiento de Usuarios" target="_blank" href='@(Url.Action("RegistrarUsuarios", "AccountEmpresa"))'>
                    <span class="ico"><i class="fa fa-user-o"></i></span>
                    <span class="info">Mantenimiento de Usuarios</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Tramites" target="_blank" href='@(Url.Action("Index", "Orientacion"))'>
                    <span class="ico"><i class="fa fa-file-text-o"></i></span>
                    <span class="info">Tramites</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Reclamos" target="_blank" href='@(Url.Action("Reclamo", "Suministro"))'>
                    <span class="ico"><i class="fa fa-comment-o"></i></span>
                    <span class="info">Reclamos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Contáctanos" target="_blank" href='@(Url.Action("Contactenos", "Home"))'>
                    <span class="ico"><i class="fa fa-phone-volume"></i></span>
                    <span class="info">Contáctanos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Lugares de Pago" target="_blank" href='@(Url.Action("LugaresPago", "Home"))'>
                    <span class="ico"><i class="fa fa-map-o"></i></span>
                    <span class="info">Lugares de Pago</span>
                </a>
            </li>
        </ul>
    </aside>


</div>
<!-- Content -->
<!-- Script -->
<script type="text/javascript" src="~/Scripts/AccountEmpresa/NuevoUsuarioEmpresa.js"></script>
<!-- Script -->