﻿@model OficinaVirtual.Entidad.Consulta.clsRegistrarUsuarios
@{
    var sExito = ViewBag.Exito;
    var sMensaje = ViewBag.Mensaje;
}
<!-- Css -->
<style type="text/css">
    .pass {
        -webkit-text-security: circle;
    }
</style>
<!-- Css -->
<!-- Content -->
<div class="contentActualizar">
    <article class="infoSuministro">
        @{
            if (sExito == true)
            {
                <div class="alert alert-success">
                    <div>
                        <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-success" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                    </div>
                </div>
            }
            else
            {
                if (sMensaje != "")
                {
                    <div class="alert alert-warning">
                        <div>
                            <span class="font-weight-bold"><i class="fa fa-info-circle fa-1x alert-warning" aria-hidden="true"></i>&nbsp;@sMensaje</span>
                        </div>
                    </div>
                }
            }
            using (Html.BeginForm("RegistrarUsuarios", "AccountEmpresa", FormMethod.Post, new { @class = "oFrm form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <header>
                    <h2 class="lighBlue">Listado de altas de usuarios empresa</h2>
                </header>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.nombre, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.correo, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.correo, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.usuario, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.usuario, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.estado, new { @class = "control-label" })
                            </div>
                            <div class="col-sm-12">
                                @Html.DropDownListFor(model => model.estado, new SelectList(
                                   new List<Object>{
                                       new { value = "", text = "Seleccionar" },
                                       new { value = "Deshabilitado", text = "Deshabilitado" },
                                       new { value = "Activo", text = "Activo"}
                                   },
                                   "value",
                                   "text",
                                   ""),
                                   new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        @*<div class="form-group row">
                                <div class="col-sm-12">
                                @Html.LabelFor(model => model.empresacliente, new { @class = "control-label" })
                                </div>
                                <div class="col-sm-12">
                                @Html.TextBoxFor(model => model.empresacliente, new { @class = "form-control" })
                                </div>
                            </div>*@
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                @Html.LabelFor(model => model.guardar, new { @class = "control-label vis-hid" })
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="reset" class="btn btn-dark" value="Limpiar" id="btnLimpiar" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="button" class="btn btn-info" value="Nuevo" id="btnNuevo" onclick="location.href='@Url.Action("NuevoUsuarioEmpresa", "AccountEmpresa")'" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="submit" class="btn btn-secondary" value="Buscar" id="btnBuscar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <table id="tabUsuEmp" class="table table-striped table-bordered nowrap" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Usuario</th>
                                    <th>Cargo</th>
                                    <th>E. Cliente</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.ListarClienteEmpresa)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @item["Nombres"].ToString()
                                        </td>
                                        <td class="text-center">
                                            @item["ApellidoPaterno"].ToString()@Html.Raw(", ")@item["ApellidoMaterno"].ToString()
                                        </td>
                                        <td class="text-center">
                                            @item["Usuario"].ToString()
                                        </td>
                                        <td class="text-center">
                                            @item["Cargo"].ToString()
                                        </td>
                                        <td class="text-center">
                                            @item["NombreCliente"].ToString()
                                        </td>
                                        <td class="text-center">
                                            @item["Estado"].ToString()
                                        </td>
                                        <td class="text-center">
                                            <a href="@(Url.Action("EditarUsuarioEmpresa", "AccountEmpresa", new { idClienteEmpresa = @item["IdUsuarioWeb"].ToString() }))" id="aEdit_@item["IdUsuarioWeb"].ToString()" class="fas fa-edit aEdit_"></a>
                                        </td>
                                        <td class="text-center">
                                            <a href="#" id="aEli_@item["IdUsuarioWeb"].ToString()" class="far fa-trash-alt aEli_"></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        }
    </article>
    <aside class="menu">
        <ul>
            <li>
                <a class="toolGreen efect" data-title="Suministros" target="_blank" href='@(Url.Action("ResumenDeudas", "SuministroEmpresa"))'>
                    <span class="ico"><i class="fa fa-file-o"></i></span>
                    <span class="info">Suministros</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Mantenimiento de Usuarios" target="_blank" href='@(Url.Action("RegistrarUsuarios", "AccountEmpresa"))'>
                    <span class="ico"><i class="fa fa-user-o"></i></span>
                    <span class="info">Mantenimiento de Usuarios</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Tramites" target="_blank" href='@(Url.Action("Index", "Orientacion"))'>
                    <span class="ico"><i class="fa fa-file-text-o"></i></span>
                    <span class="info">Tramites</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Reclamos" target="_blank" href='@(Url.Action("Reclamo", "Suministro"))'>
                    <span class="ico"><i class="fa fa-comment-o"></i></span>
                    <span class="info">Reclamos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Contáctanos" target="_blank" href='@(Url.Action("Contactenos", "Home"))'>
                    <span class="ico"><i class="fa fa-phone-volume"></i></span>
                    <span class="info">Contáctanos</span>
                </a>
            </li>
            <li>
                <a class="toolGreen efect" data-title="Lugares de Pago" target="_blank" href='@(Url.Action("LugaresPago", "Home"))'>
                    <span class="ico"><i class="fa fa-map-o"></i></span>
                    <span class="info">Lugares de Pago</span>
                </a>
            </li>
        </ul>
    </aside>

</div>
<!-- Content -->
<!-- Script -->
<script type="text/javascript" src="~/Scripts/AccountEmpresa/RegistrarUsuarios.js"></script>
<!-- Script -->