﻿/*
    Creación        : 2019-05-17
    Responsable     : JONATHAN VALDERRAMA
*/

.divider {
    margin-top: 20px;
    padding-top: 10px;
    border-top: solid 1px silver;
}

@media (max-width: 767px) {
    .divHConsumo, .divHFacturacion {
        padding: 1rem 0 0 0;
    }
}