﻿/*
    Creación        : 2020-05-24
    Responsable     : JONATHAN VALDERRAMA
*/

#divMiPago input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}

.bn-container {
    max-width: 450px;
    margin: 0 auto;
}

.bn-container-full {
    max-width: 95% !important;
}

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.8rem;
        font-weight: bold;
    }

.lnk-search-dni {
    font-size: .85rem;
}

.bn-footer {
    margin-top: 1.5rem;
}

.lighBlue, #divDatos > h3 {
    font-weight: bold;
}

#divDatos > h2, #divDatos > h3 {
    margin-bottom: .1rem;
}

#divDatos > h3 {
    font-size: 1.2rem;
}

#divStep01 {
    margin-top: 1.5rem;
}

#tblDeuda td, #tblDeuda th {
    text-align: right;
}

#divDataPay div.row div.col-sm-6:first-child {
    text-align: right;
    font-weight: bold;
}

#divDataPay div.row div.col-sm-6:last-child {
    color: #346cab;
    text-align: left;
    font-weight: bold;
    padding-left: 0;
}

@media (min-width: 768px) {
    
}

@media (max-width: 767px) {
    #divDataPay div.row div.col-sm-6:first-child {
        text-align: left;
    }

    #divDataPay div.row div.col-sm-6:last-child {
        text-align: right;
    }
}