﻿/*
    Creación        : 2020-04-22
    Responsable     : JONATHAN VALDERRAMA
*/

.bn-container {
    max-width: 450px;
    margin: 0 auto;
}

.bn-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid darkcyan;
}

    .bn-header span {
        color: darkcyan;
        font-size: 1.3rem;
        font-weight: bold;
    }

.bn-footer {
    margin-top: 1.5rem;
}

.term-cond {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 10px;
}

.field-required {
    color: #d93025;
    font-size: 1.2rem;
    line-height: 135%;
}

#frmQuery label span {
    font-size: .9rem;
    font-weight: bold;
}

#lstSumin {
    margin-left: 1.5rem;
    font-size: 1rem;
}

    #lstSumin a {
        font-size: .9rem;
    }

#frmUpdate {
    margin-top: 2rem;
}

    #frmUpdate > p:first-child{
        font-size: .9rem;
    }

    #frmUpdate > p:first-child span{
        font-weight: bold;
    }
@media (min-width: 768px) {
    #btnSearch {
        bottom: 0;
        position: absolute;
    }
}

@media (max-width: 767px) {
    .bn-container {
        width: 95%;
    }

    #txtIdNroServicio {
        margin-bottom: .3rem;
    }
}