﻿/*
    Creación        : 2019-08-09
    Responsable     : JONATHAN VALDERRAMA
*/

@media (max-width: 767px) {
    .infoSuministro {
        padding-right: 0;
    }

    .ContDetalle {
        width: 100%;
    }
}